Code/NodeRed_Flows/AquariumTrending.flow
[{"id":"2c16bd47.e189f2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1eae749c.606cbb","type":"mysql","z":"2c16bd47.e189f2","mydb":"3780e74b.67ffb8","name":"DB Aquarium","x":850,"y":60,"wires":[["a54389ef.7448a8"]]},{"id":"e8c2c22c.6621a","type":"inject","z":"2c16bd47.e189f2","name":"Go","topic":"","payload":"warehouse","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":60,"wires":[["f05395ca.1a4608"]]},{"id":"f05395ca.1a4608","type":"function","z":"2c16bd47.e189f2","name":"SELECT Data","func":"msg.topic = \"SELECT * FROM zeitverlauf\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":60,"wires":[["1eae749c.606cbb"]]},{"id":"a54389ef.7448a8","type":"debug","z":"2c16bd47.e189f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":240,"wires":[]},{"id":"64d9b5b.29cdb4c","type":"udp in","z":"2c16bd47.e189f2","name":"Recv Request","iface":"","port":"43112","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":130,"y":320,"wires":[["8ce5d245.9e77c"]]},{"id":"55dabf11.7bba","type":"udp out","z":"2c16bd47.e189f2","name":"Send Request","addr":"192.168.23.22","iface":"","port":"2300","ipv":"udp4","outport":"43112","base64":false,"multicast":"false","x":420,"y":160,"wires":[]},{"id":"16ca5979.677de7","type":"inject","z":"2c16bd47.e189f2","name":"","topic":"","payload":"Get;TempAquarium","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["55dabf11.7bba"]]},{"id":"6cbaf840.b83fa8","type":"switch","z":"2c16bd47.e189f2","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Request","vt":"str"},{"t":"neq","v":"Request","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":260,"wires":[["55dabf11.7bba"],["bf01c74d.4dc9f8"]]},{"id":"8ce5d245.9e77c","type":"function","z":"2c16bd47.e189f2","name":"ReqHandler","func":"var index;\nvar data;\nif (msg.topic === \"Start\"){\n    index = 0;\n    data = [{\"Tag\":\"TempAquarium\",\"Value\":0},{\"Tag\":\"TempKlima\",\"Value\":0},{\"Tag\":\"SollTemp\",\"Value\":0}];\n}else{\n    index = context.get('index');\n    data = context.get('data');\n    var pLoad = msg.payload.split(\";\");\n    data[index].Value = pLoad[1];\n    index += 1;\n}\nif(index >= data.length){\n    var newMsg = { topic:\"Data\", payload: data };\n    index = 0;\n}else{\n    var newMsg = { topic:\"Request\", payload: \"Get;\"+data[index].Tag };\n}\ncontext.set('index',index);\ncontext.set('data',data);\nreturn newMsg;","outputs":1,"noerr":0,"x":290,"y":260,"wires":[["6cbaf840.b83fa8"]]},{"id":"d507e18f.f89ee","type":"inject","z":"2c16bd47.e189f2","name":"Start","topic":"Start","payload":"0","payloadType":"num","repeat":"60","crontab":"","once":false,"onceDelay":"","x":110,"y":260,"wires":[["8ce5d245.9e77c"]]},{"id":"bf01c74d.4dc9f8","type":"function","z":"2c16bd47.e189f2","name":"INSERT Trending","func":"var sqlColumn = \"INSERT INTO trending (\";\nvar sqlValue = \") VALUES (\";\nvar index;\n\nfor (index = 0;index < msg.payload.length;index++){\n    if (index > 0){\n        sqlColumn += \", \";\n        sqlValue += \", \";\n    }\n    sqlColumn += msg.payload[index].Tag;\n    sqlValue += msg.payload[index].Value;\n}\n\nmsg.topic = sqlColumn + sqlValue + \")\";\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":240,"wires":[["1eae749c.606cbb"]]},{"id":"f19c0082.0cdfe","type":"ui_chart","z":"2c16bd47.e189f2","name":"","group":"270e4484.d3a9ec","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1030,"y":400,"wires":[[]]},{"id":"565badce.4cfa14","type":"ui_button","z":"2c16bd47.e189f2","name":"","group":"270e4484.d3a9ec","order":1,"width":0,"height":0,"passthru":false,"label":"Last 1000","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1000","payloadType":"str","topic":"","x":150,"y":400,"wires":[["24578315.d5597c"]]},{"id":"24578315.d5597c","type":"function","z":"2c16bd47.e189f2","name":"SELECT Trending","func":"msg.topic = \"SELECT * FROM trending ORDER BY Time ASC LIMIT \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":400,"wires":[["6e3ee699.5b8f98"]]},{"id":"6e3ee699.5b8f98","type":"mysql","z":"2c16bd47.e189f2","mydb":"3780e74b.67ffb8","name":"DB Aquarium","x":530,"y":400,"wires":[["a2fa3be3.6aa638","a54389ef.7448a8"]]},{"id":"a2fa3be3.6aa638","type":"function","z":"2c16bd47.e189f2","name":"Response2Chart","func":"var aSeries = [];\nvar aData = [];\nvar i,j,anz;\nvar oRecord;\nvar oChart;\nvar newMsg;\n\nanz = 0;\nfor (i=0; i<Object.keys(msg.payload[0]).length; i++){\n    if(Object.keys(msg.payload[0])[i] != \"Time\"){\n        anz += 1;\n        aSeries.push(Object.keys(msg.payload[0])[i]);\n    }\n}\nfor (i=0; i<msg.payload.length; i++){\n    oRecord = [];\n    for (j=0; j<anz; j++){\n        oRecord.push({x:Date.parse(msg.payload[i][\"Time\"]), y:msg.payload[i][aSeries[j]]});\n    }\n    aData.push(oRecord);\n}\n\noChart = {series:aSeries,data:aData,labels:\"\"};\nnewMsg = {topic:\"TestData\",payload:oChart};\nreturn newMsg;","outputs":1,"noerr":0,"x":790,"y":400,"wires":[["a54389ef.7448a8","f19c0082.0cdfe"]]},{"id":"3780e74b.67ffb8","type":"MySQLdatabase","z":"","host":"192.168.23.15","port":"3306","db":"aquarium","tz":""},{"id":"270e4484.d3a9ec","type":"ui_group","z":"","name":"Default","tab":"71982749.399d18","disp":true,"width":"6","collapse":false},{"id":"71982749.399d18","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]