Code/NodeRed_Flows/Flow_Total20200610_mitMeshProtokoll.json
[{"id":"92fe69cf.134398","type":"tab","label":"SQLite Chart Test","disabled":false,"info":""},{"id":"ae93cab8.831958","type":"tab","label":"Mesh Test","disabled":false,"info":""},{"id":"5f85fa55.3f3d34","type":"tab","label":"Mesh Test Old","disabled":false,"info":""},{"id":"14ca766e.161d6a","type":"subflow","name":"Handle TestBoard","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"8c0cbcce.7ab8f"}]}],"out":[{"x":1080,"y":360,"wires":[{"id":"9f236884.733e48","port":0}]},{"x":840,"y":40,"wires":[{"id":"8c0cbcce.7ab8f","port":0},{"id":"8c0cbcce.7ab8f","port":1},{"id":"8c0cbcce.7ab8f","port":3},{"id":"742cc309.a7f26c","port":0},{"id":"43ab1047.ae86d","port":0}]}]},{"id":"f8472a04.6c7898","type":"subflow","name":"Handle Gateway","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"abd268e9.0c83e8"}]}],"out":[{"x":1260,"y":180,"wires":[{"id":"e03888e2.b810f8","port":0},{"id":"9e119947.ff9f08","port":0}]},{"x":680,"y":120,"wires":[{"id":"e8c2f300.c24f9","port":0},{"id":"abd268e9.0c83e8","port":3},{"id":"abd268e9.0c83e8","port":1},{"id":"abd268e9.0c83e8","port":0},{"id":"abd268e9.0c83e8","port":2}]}]},{"id":"5a7dbad1.088f94","type":"subflow","name":"Handle RoAnlage","info":"","category":"","in":[{"x":60,"y":20,"wires":[{"id":"24749f0d.622a2"}]}],"out":[{"x":1340,"y":100,"wires":[{"id":"f60d9abc.151448","port":0},{"id":"b3c5c00.256994","port":0}]},{"x":640,"y":40,"wires":[{"id":"24749f0d.622a2","port":1},{"id":"24749f0d.622a2","port":0},{"id":"24749f0d.622a2","port":3},{"id":"ad5ae752.6a5628","port":0}]}],"outputLabels":["Msg Send","Debug Print"]},{"id":"394559aa.c680c6","type":"subflow","name":"Handle OTA","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"2b98e481.ac0dbc"}]}],"out":[{"x":820,"y":260,"wires":[{"id":"2b98e481.ac0dbc","port":0}]}]},{"id":"20e89b3e.722264","type":"sqlitedb","z":"","db":"/home/pi/sqlite/nodered.db","mode":"RWC"},{"id":"8cb3cf19.403f2","type":"ui_group","z":"","name":"Report","tab":"cf230285.c198a","order":2,"disp":false,"width":"24"},{"id":"e6b6a3f6.27b7c","type":"ui_group","z":"","name":"Filters","tab":"cf230285.c198a","order":2,"disp":true,"width":"24"},{"id":"cf230285.c198a","type":"ui_tab","z":"","name":"Report (New)","icon":"event_note","order":12},{"id":"303f299c.7ff5d6","type":"ui_tab","z":"","name":"KPI","icon":"trending_up","order":13},{"id":"e61bcd7.e900f3","type":"ui_group","z":"14ca766e.161d6a","name":"Test Board","tab":"ed1f2fc3.01621","order":1,"disp":true,"width":"6","collapse":false},{"id":"a4cb356.72ddcc8","type":"ui_group","z":"","name":"Gateway","tab":"ed1f2fc3.01621","order":1,"disp":true,"width":"6","collapse":true},{"id":"624da05.0d8a46","type":"ui_group","z":"","name":"Ro-Anlage","tab":"ed1f2fc3.01621","order":2,"disp":true,"width":"6","collapse":false},{"id":"ed1f2fc3.01621","type":"ui_tab","z":"","name":"Aqua","icon":"pets","disabled":false,"hidden":false},{"id":"b2abeab3.6e29b8","type":"ui_group","z":"","name":"FileUpload","tab":"6f81dc60.faebe4","order":1,"disp":true,"width":"6","collapse":false},{"id":"6f81dc60.faebe4","type":"ui_tab","z":"","name":"MeshKonfig","icon":"dashboard","disabled":false,"hidden":false},{"id":"efbfa4e5.f5ea28","type":"ui_group","z":"","name":"MiFlora","tab":"5d0af047.b38e4","order":2,"disp":true,"width":"6"},{"id":"bacd5089.30cdd","type":"ui_group","z":"","name":"Report","tab":"c43304bb.28a3c8","order":2,"disp":true,"width":"18"},{"id":"c44fd322.b5cbe","type":"ui_group","z":"","name":"Selection","tab":"c43304bb.28a3c8","order":1,"disp":true,"width":"5"},{"id":"5d0af047.b38e4","type":"ui_tab","z":"","name":"Home","icon":"home","order":"1"},{"id":"c43304bb.28a3c8","type":"ui_tab","z":"","name":"Reports","icon":"dashboard","order":9},{"id":"6e540f6e.b5c2b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"372d1f9.d997ee","type":"function","z":"92fe69cf.134398","name":"SQL","func":"// This will handle any device and any attribute as long as it is in the DB\nvar p_30d  = 1000*60*60*24*30 ; //30 Days\nvar p_7d  = 1000*60*60*24*7 ; //7 Days\nvar p_1d   =  1000*60*60*24 ; // 1 Day\nvar d = new Date();\nvar current = d.getTime();\nvar today0h = d.setHours(0,0,0,0);\nvar day = d.getDay();\nvar monday0h = today0h - (day + (day === 0 ? -6:1)) * p_1d;\nvar fromdate = 0;\nvar enddate = 0;\nvar sql = [];\nvar sourcelist = [];\nvar aggrlist = [];\nvar title = \"\";\nvar i;\nvar parts;\n\n\n// Get the period and the list of data sources \n// also set some default values if one or the other does not exist yet\nsourcelist = context.get(\"sourcelist\");\nif (sourcelist===undefined) { // if running for the first time\n    sourcelist = [];\n}\naggrlist = context.get(\"aggrlist\");\nif (aggrlist===undefined) { // if running for the first time\n    aggrlist = [];\n}\nfromdate = context.get(\"fromdate\");\nif (fromdate===undefined) {\n    // set the period to a default if it is not selected yet\n    fromdate = current-p_1d;\n}\nenddate = context.get(\"enddate\");\nif (enddate===undefined) {\n    // set the period to a default if it is not selected yet\n    enddate = current;\n}\n\nswitch(msg.topic) {\n    case \"period\":\n        switch(msg.payload) {\n            case \"today\":\n                fromdate = today0h;\n                enddate = today0h+p_1d;\n                break;\n            case \"yesterday\":\n                fromdate = today0h-p_1d;\n                enddate = today0h;\n                break;\n            case \"thisweek\":\n                fromdate = monday0h;\n                enddate = monday0h+p_7d;\n                break;\n            case \"lastweek\":\n                fromdate = monday0h-p_7d;\n                enddate = monday0h;\n                break;\n            case \"last24h\":\n                fromdate = current-p_1d;\n                enddate = current;\n                break;\n            case \"last7d\":\n                fromdate = current-p_7d;\n                enddate = current;\n                break;\n            case \"last30d\":\n                fromdate = current-p_30d;\n                enddate = current;\n                break;\n        }\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n    case \"datasource\":\n        if (msg.payload===\"delete\") {\n            // remove all previous data sources\n            sourcelist = [];\n        } else {\n            sourcelist = context.get(\"sourcelist\");\n            if (sourcelist===undefined) { // if running for the first time\n                sourcelist = [];\n            }\n            sourcelist = msg.payload;\n        }\n        context.set(\"sourcelist\",sourcelist);\n        break;\n    case \"aggrsource\":\n        if (msg.payload===\"delete\") {\n            // remove all previous data sources\n            aggrlist = [];\n        } else {\n            aggrlist = context.get(\"aggrlist\");\n            if (aggrlist===undefined) { // if running for the first time\n                aggrlist = [];\n            }\n            aggrlist = msg.payload;\n        }\n        context.set(\"aggrlist\",aggrlist);\n        break;\n    case \"minus1w\":\n        fromdate = fromdate-p_7d;\n        enddate = enddate-p_7d;\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n    case \"plus1w\":\n        fromdate = fromdate+p_7d;\n        enddate = enddate+p_7d;\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n    case \"minus1d\":\n        fromdate = fromdate-p_1d;\n        enddate = enddate-p_1d;\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n    case \"plus1d\":\n        fromdate = fromdate+p_1d;\n        enddate = enddate+p_1d;\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n}\n\n\n// Regenerate the SQL statements\n// Run through the data source list an generate the SQL statements\nsql = [];\nif (sourcelist.length>0) {\n    for (i = 0; i < sourcelist.length; i++) {\n        parts = sourcelist[i].split(\"/\");\n        sql.push({ topic: \"SELECT * FROM sensor_data WHERE device='\"+parts[0]+\"' AND sensor='\"+parts[1]+\"' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n    }\n} \nif (aggrlist.length>0) {\n    node.error(\"Länge:\"+aggrlist.length);\n    for (i = 0; i < aggrlist.length; i++) {\n        node.error(\"Element[\"+i+\"]:\"+aggrlist[i]);\n        parts = aggrlist[i].split(\"/\");\n        sql.push({ topic: \"SELECT * FROM sensor_aggr WHERE device='\"+parts[0]+\"' AND sensor='\"+parts[1]+\"' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n    }\n} \nif (sql.length===0) {    \n    // Dummy select that returns nothing to clear the chart\n    sql.push({ topic: \"SELECT * FROM sensor_aggr\" });\n}\n\n// set the completed flag for the join node later\nsql[sql.length-1].complete=true;\n// pass along the email flag to redirect the flow later\nif (msg.topic===\"email\") {\n    sql[sql.length-1].email=true;\n}\n\n// Generate report title\nif (sourcelist.length===0 && aggrlist.length===0) {\n    title = \"No data source\";\n} else {\n    if (sourcelist.length!==0) {\n        title = title + sourcelist.toString()+ \", \";\n    }\n    if (aggrlist.length!==0) {\n        title = title + aggrlist.toString()+ \", \";\n    }\n    title = title.substring(0,title.length-2);\n    title = title + \" | \";\n\n    d = new Date();\n    d.setTime(fromdate);\n    var yyyy = d.getFullYear();\n    var mm = d.getMonth() < 9 ? \"0\" + (d.getMonth() + 1) : (d.getMonth() + 1); // getMonth() is zero-based\n    var dd  = d.getDate() < 10 ? \"0\" + d.getDate() : d.getDate();\n    var hh = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\n    var mmm  = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\n    var ss  = d.getSeconds() < 10 ? \"0\" + d.getSeconds() : d.getSeconds();\n    title = title + dd + \".\" + mm + \".\" + yyyy;\n    d.setTime(enddate);\n    yyyy = d.getFullYear();\n    mm = d.getMonth() < 9 ? \"0\" + (d.getMonth() + 1) : (d.getMonth() + 1); // getMonth() is zero-based\n    dd  = d.getDate() < 10 ? \"0\" + d.getDate() : d.getDate();\n    hh = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\n    mmm  = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\n    ss  = d.getSeconds() < 10 ? \"0\" + d.getSeconds() : d.getSeconds();\n    title = title + \" - \" + dd + \".\" + mm + \".\" + yyyy;\n}\nsql[sql.length-1].title=title;\n\nreturn [ sql ];\n\n","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["9562154c.ca86f8","831e05cf.ec9a48"]]},{"id":"9562154c.ca86f8","type":"sqlite","z":"92fe69cf.134398","mydb":"20e89b3e.722264","sql":"","name":"DB","x":490,"y":300,"wires":[["43833e7f.ace03","831e05cf.ec9a48"]]},{"id":"cb4d9aba.eedca8","type":"ui_chart","z":"92fe69cf.134398","name":"Chart","group":"8cb3cf19.403f2","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":985.6666946411133,"y":339.2499485015869,"wires":[[],[]]},{"id":"35b246d8.0619ba","type":"function","z":"92fe69cf.134398","name":"Chart Prep","func":"var msg2 = [];\n\nif (msg.payload[0].length>0) {\n    // this is the logic when there are multiple data sets are received\n    for (var i=0; i<msg.payload.length; i++) {\n        var output = [];\n        for (var j=0; j<msg.payload[i].length; j++) {\n            output.push([msg.payload[i][j].epoch, msg.payload[i][j].value]);\n        }\n        msg2.push({ key: msg.payload[i][0].device+\"/\"+msg.payload[i][0].sensor, values : output});\n        //msg2.push({ key: \"test\", values : output});\n    }\n} \n\nmsg.payload=msg2;\n//msg.payload = [ { key: \"Power\", values : output} ];\n//msg.topic = \"Power\";\nreturn msg;","outputs":1,"noerr":0,"x":812.8334121704102,"y":339.5833225250244,"wires":[["cb4d9aba.eedca8"]]},{"id":"68701f2d.b7084","type":"inject","z":"92fe69cf.134398","name":"Reset chart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":510.74999237060547,"y":397.00000953674316,"wires":[["148b2e93.7e27f1"]]},{"id":"148b2e93.7e27f1","type":"function","z":"92fe69cf.134398","name":"Empty payload","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":758.6666641235352,"y":396.33332347869873,"wires":[["cb4d9aba.eedca8"]]},{"id":"43833e7f.ace03","type":"join","z":"92fe69cf.134398","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":623,"y":300,"wires":[["ae51757b.0217b8","35b246d8.0619ba"]]},{"id":"a0c75bd2.d81078","type":"ui_dropdown","z":"92fe69cf.134398","name":"Period","label":"","group":"e6b6a3f6.27b7c","order":4,"width":"4","height":"1","passthru":false,"options":[{"label":"Today","value":"today","type":"str"},{"label":"Yesterday","value":"yesterday","type":"str"},{"label":"This week","value":"thisweek","type":"str"},{"label":"Last week","value":"lastweek","type":"str"},{"label":"Last 24 hours","value":"last24h","type":"str"},{"label":"Last 7 days","value":"last7d","type":"str"},{"label":"Last 30 days","value":"last30d","type":"str"}],"payload":"","topic":"period","x":499.25,"y":155.75,"wires":[["372d1f9.d997ee","831e05cf.ec9a48"]]},{"id":"eae83280.c345","type":"inject","z":"92fe69cf.134398","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":311.25,"y":95.75,"wires":[["a0c75bd2.d81078","2c33c954.fb1d56"]]},{"id":"1fe428ac.76e577","type":"ui_button","z":"92fe69cf.134398","name":"","group":"e6b6a3f6.27b7c","order":5,"width":"2","height":"1","label":"-1W","color":"","bgcolor":"","icon":"chevron_left","payload":"","payloadType":"str","topic":"minus1w","x":81.25,"y":88.75,"wires":[["3f3a8140.bc7dee","372d1f9.d997ee"]]},{"id":"511e3d48.d39d84","type":"ui_button","z":"92fe69cf.134398","name":"","group":"e6b6a3f6.27b7c","order":6,"width":"2","height":"1","label":"-1D","color":"","bgcolor":"","icon":"chevron_left","payload":"","payloadType":"str","topic":"minus1d","x":79.25,"y":125.75,"wires":[["3f3a8140.bc7dee","372d1f9.d997ee"]]},{"id":"19ddaeaf.355a91","type":"ui_button","z":"92fe69cf.134398","name":"","group":"e6b6a3f6.27b7c","order":8,"width":"2","height":"1","label":"+1W","color":"","bgcolor":"","icon":"chevron_right","payload":"","payloadType":"str","topic":"plus1w","x":82.25,"y":163.75,"wires":[["3f3a8140.bc7dee","372d1f9.d997ee"]]},{"id":"b91aa3e3.f90e2","type":"ui_button","z":"92fe69cf.134398","name":"","group":"e6b6a3f6.27b7c","order":7,"width":"2","height":"1","label":"+1D","color":"","bgcolor":"","icon":"chevron_right","payload":"","payloadType":"str","topic":"plus1d","x":80.25,"y":200.75,"wires":[["3f3a8140.bc7dee","372d1f9.d997ee"]]},{"id":"3f3a8140.bc7dee","type":"change","z":"92fe69cf.134398","name":"Reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":309.25,"y":155.75,"wires":[["a0c75bd2.d81078"]]},{"id":"2c33c954.fb1d56","type":"ui_dropdown","z":"92fe69cf.134398","name":"Aggregate source","label":"","tooltip":"","place":"","group":"e6b6a3f6.27b7c","order":2,"width":"5","height":"1","passthru":false,"multiple":true,"options":[{"label":"[Remove all]","value":"delete","type":"str"},{"label":"Wohnzimmer Temp","value":"Wohnzimmer/Temperatur","type":"str"},{"label":"Wohnzimmer Luftfeuchte","value":"Wohnzimmer/Luftfeuchte","type":"str"},{"label":"Wohnzimmer Licht","value":"Wohnzimmer/Licht","type":"str"}],"payload":"","topic":"aggrsource","x":550,"y":60,"wires":[["372d1f9.d997ee","831e05cf.ec9a48"]]},{"id":"ae51757b.0217b8","type":"change","z":"92fe69cf.134398","name":"Title","rules":[{"t":"set","p":"payload","pt":"msg","to":"title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":829.5000152587891,"y":252.00000953674316,"wires":[["c4e0c28d.3f9eb"]]},{"id":"c4e0c28d.3f9eb","type":"ui_text","z":"92fe69cf.134398","group":"8cb3cf19.403f2","order":1,"width":"0","height":"0","name":"Chart title","label":"","format":"{{msg.payload}}","layout":"row-center","x":981.5000152587891,"y":252.00000953674316,"wires":[]},{"id":"9f236884.733e48","type":"function","z":"14ca766e.161d6a","name":"Send FormTag","func":"var data = {\"type\":9,\"dest\":3943446713,\"from\":global.get('MeshID')};\n\nif(msg.payload.set){\n    data[\"msg\"] = {\"ident\":2};\n    data[\"msg\"][\"commands\"] = [{\"name\":msg.payload.name,\"value\":msg.payload.value}];\n}else{\n    data[\"msg\"] = {\"ident\":3};\n    data[\"msg\"][\"requests\"] = [{\"name\":msg.payload.name}];\n}\n\nmsg[\"payload\"] = data;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":940,"y":360,"wires":[[]]},{"id":"742cc309.a7f26c","type":"function","z":"14ca766e.161d6a","name":"Data-Array 2 Stream","func":"var msgs = [];\nfor (var i = 0; i< msg.payload.msg.data.length; i++) {\n    var newMsg = {};\n    newMsg[\"payload\"] = msg.payload.msg.data[i].value;\n    newMsg[\"topic\"] = msg.payload.msg.data[i].name;\n    msgs.push(newMsg);\n}\n\nreturn [msgs]","outputs":1,"noerr":0,"x":480,"y":260,"wires":[["43ab1047.ae86d"]]},{"id":"8c0cbcce.7ab8f","type":"switch","z":"14ca766e.161d6a","name":"","property":"payload.msg.ident","propertyType":"msg","rules":[{"t":"eq","v":"100","vt":"num"},{"t":"eq","v":"102","vt":"str"},{"t":"eq","v":"103","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":230,"y":120,"wires":[[],[],["742cc309.a7f26c"],[]],"outputLabels":["100 : Echo","102 : Ack Commands","103 : Response Data","Undefined"]},{"id":"ecde842a.103128","type":"ui_form","z":"14ca766e.161d6a","name":"","label":"","group":"e61bcd7.e900f3","order":0,"width":0,"height":0,"options":[{"label":"name","value":"name","type":"text","required":true},{"label":"value","value":"value","type":"text","required":true},{"label":"set","value":"set","type":"switch","required":false}],"formValue":{"name":"","value":"","set":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":750,"y":360,"wires":[["9f236884.733e48"]]},{"id":"43ab1047.ae86d","type":"function","z":"14ca766e.161d6a","name":"Create Taglist","func":"var tagList = context.get('tagList');\ntagList[Msg[\"topic\"]] = Msg[\"payload\"];\ncontext.set('tagList',tagList);\n\nmsg.payload = tagList;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":260,"wires":[["7e744fa2.84a47"]]},{"id":"7e744fa2.84a47","type":"ui_template","z":"14ca766e.161d6a","group":"e61bcd7.e900f3","name":"Show Taglist","order":4,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n<table id=\"table\" border=\"1\">\n    <tr>\n        <th>Name</th>\n        <th>Wert</th>\n    </tr>\n        <tr ng-repeat=\"row in msg.payload\">\n            <td ng-repeat=\"item in row\">{{item}}</td>\n        </tr>\n</table>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":990,"y":260,"wires":[[]]},{"id":"9e119947.ff9f08","type":"function","z":"f8472a04.6c7898","name":"Set Pumpe","func":"   var data = {\"type\":9,\"dest\":2139867104,\"from\":global.get('MeshID')};\n    data[\"msg\"] = {\"ident\":2};\n    data[\"msg\"][\"commands\"] = [{\"name\":\"LED\",\"value\":msg.payload}];\nmsg[\"payload\"] = data;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1070,"y":200,"wires":[[]]},{"id":"f657dde.f250d2","type":"ui_button","z":"f8472a04.6c7898","name":"","group":"a4cb356.72ddcc8","order":1,"width":0,"height":0,"passthru":false,"label":"GetAll","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":870,"y":660,"wires":[["e03888e2.b810f8"]]},{"id":"e03888e2.b810f8","type":"function","z":"f8472a04.6c7898","name":"Get All","func":"   var data = {\"type\":9,\"dest\":2139867104,\"from\":global.get('MeshID')};\n    data[\"msg\"] = {\"ident\":3};\n    data[\"msg\"][\"requests\"] = [{\"name\":\"*\"}];\nmsg[\"payload\"] = data;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1050,"y":660,"wires":[[]]},{"id":"88afc6d0.5bd8f8","type":"function","z":"f8472a04.6c7898","name":"Data-Array 2 Stream","func":"var msgs = [];\nfor (var i = 0; i< msg.payload.msg.data.length; i++) {\n    var newMsg = {};\n    newMsg[\"payload\"] = msg.payload.msg.data[i].value;\n    newMsg[\"topic\"] = msg.payload.msg.data[i].name;\n    msgs.push(newMsg);\n}\n\nreturn [msgs]","outputs":1,"noerr":0,"x":520,"y":280,"wires":[["e8c2f300.c24f9"]]},{"id":"e8c2f300.c24f9","type":"switch","z":"f8472a04.6c7898","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"LED","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":360,"wires":[["3da36a7.0d84f96"]],"outputLabels":["PumpeAktiv"]},{"id":"abd268e9.0c83e8","type":"switch","z":"f8472a04.6c7898","name":"","property":"payload.msg.ident","propertyType":"msg","rules":[{"t":"eq","v":"100","vt":"num"},{"t":"eq","v":"102","vt":"str"},{"t":"eq","v":"103","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":270,"y":140,"wires":[[],[],["88afc6d0.5bd8f8"],[]],"outputLabels":["100 : Echo","102 : Ack Commands","103 : Response Data","Undefined"]},{"id":"3da36a7.0d84f96","type":"ui_switch","z":"f8472a04.6c7898","name":"","label":"LED","tooltip":"","group":"a4cb356.72ddcc8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":920,"y":280,"wires":[["9e119947.ff9f08"]]},{"id":"f60d9abc.151448","type":"function","z":"5a7dbad1.088f94","name":"Set Pumpe","func":"   var data = {\"type\":9,\"dest\":3943445501,\"from\":global.get('MeshID')};\n    data[\"msg\"] = {\"ident\":2};\n    data[\"msg\"][\"commands\"] = [{\"name\":\"PumpeAktiv\",\"value\":msg.payload}];\nmsg[\"payload\"] = data;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":990,"y":100,"wires":[[]]},{"id":"2a9e9ef.f9d4562","type":"ui_button","z":"5a7dbad1.088f94","name":"","group":"624da05.0d8a46","order":1,"width":0,"height":0,"passthru":false,"label":"GetAll","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":790,"y":560,"wires":[["b3c5c00.256994"]]},{"id":"b3c5c00.256994","type":"function","z":"5a7dbad1.088f94","name":"Get All","func":"   var data = {\"type\":9,\"dest\":3943445501,\"from\":global.get('MeshID')};\n    data[\"msg\"] = {\"ident\":3};\n    data[\"msg\"][\"requests\"] = [{\"name\":\"*\"}];\n//    data[\"msg\"][\"requests\"] = [];\n//    data[\"msg\"][\"requests\"].push({\"name\":\"PumpeAktiv\"});\n//    data[\"msg\"][\"requests\"].push({\"name\":\"LSL\"});\n//    data[\"msg\"][\"requests\"].push({\"name\":\"LSH\"});\n//    data[\"msg\"][\"requests\"].push({\"name\":\"Button\"});\nmsg[\"payload\"] = data;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":970,"y":560,"wires":[[]]},{"id":"f6d660e.e2343a","type":"function","z":"5a7dbad1.088f94","name":"Data-Array 2 Stream","func":"var msgs = [];\nfor (var i = 0; i< msg.payload.msg.data.length; i++) {\n    var newMsg = {};\n    newMsg[\"payload\"] = msg.payload.msg.data[i].value;\n    newMsg[\"topic\"] = msg.payload.msg.data[i].name;\n    msgs.push(newMsg);\n}\n\nreturn [msgs]","outputs":1,"noerr":0,"x":440,"y":180,"wires":[["ad5ae752.6a5628"]]},{"id":"ad5ae752.6a5628","type":"switch","z":"5a7dbad1.088f94","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"PumpeAktiv","vt":"str"},{"t":"eq","v":"LSL","vt":"str"},{"t":"eq","v":"LSH","vt":"str"},{"t":"eq","v":"Button","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":650,"y":260,"wires":[["ffc448ed.d52408"],["2e9249eb.175586"],["9ca5ce9c.4aa8a"],["b98aa017.c1721"]],"outputLabels":["PumpeAktiv","LSL","LSH","Button"]},{"id":"24749f0d.622a2","type":"switch","z":"5a7dbad1.088f94","name":"","property":"payload.msg.ident","propertyType":"msg","rules":[{"t":"eq","v":"100","vt":"num"},{"t":"eq","v":"102","vt":"str"},{"t":"eq","v":"103","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":190,"y":40,"wires":[[],[],["f6d660e.e2343a"],[]],"outputLabels":["100 : Echo","102 : Ack Commands","103 : Response Data","Undefined"]},{"id":"ffc448ed.d52408","type":"ui_switch","z":"5a7dbad1.088f94","name":"","label":"Pumpe","tooltip":"","group":"624da05.0d8a46","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":830,"y":160,"wires":[["f60d9abc.151448"]]},{"id":"2e9249eb.175586","type":"ui_switch","z":"5a7dbad1.088f94","name":"","label":"LSL","tooltip":"","group":"624da05.0d8a46","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1000,"y":280,"wires":[[]]},{"id":"9ca5ce9c.4aa8a","type":"ui_switch","z":"5a7dbad1.088f94","name":"","label":"LSH","tooltip":"","group":"624da05.0d8a46","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1000,"y":340,"wires":[[]]},{"id":"b98aa017.c1721","type":"ui_switch","z":"5a7dbad1.088f94","name":"","label":"Button","tooltip":"","group":"624da05.0d8a46","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1000,"y":400,"wires":[[]]},{"id":"25a47c01.f05be4","type":"function","z":"394559aa.c680c6","name":"Request OTA","func":"    flow.set(\"md5\",msg.req.files[0].bufferMd5);\n    flow.set(\"hardware\",msg.payload.hardware);\n    flow.set(\"nodeType\",msg.payload.nodeType);\n    var fullBlocks = Math.floor(msg.req.files[0].size / 1024);\n    var numOfBlocks = fullBlocks;\n    if (fullBlocks * 1024 < msg.req.files[0].size){\n        numOfBlocks++;\n    }\n    flow.set(\"numOfBlocks\",numOfBlocks);\n    flow.set(\"file\",msg.req.files[0].buffer);\n    \n    var data = {\"type\":8,\"dest\":0,\"from\":global.get('MeshID')};\n    data[\"msg\"] = {\"ident\":1,\n        \"plugin\":\"ota\",\n        \"type\":\"version\",\n        \"md5\":msg.req.files[0].bufferMd5,\n        \"hardware\":msg.payload.hardware,\n        \"nodeType\":msg.payload.nodeType,\n        \"noPart\":numOfBlocks,\n        \"forced\":true\n    };\nmsg[\"payload\"] = data;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":620,"y":360,"wires":[["f9dc860f.54e1e8"]]},{"id":"66a1e1f5.b8461","type":"http in","z":"394559aa.c680c6","name":"newFile","url":"/file-upload","method":"post","upload":true,"swaggerDoc":"","x":190,"y":480,"wires":[["60bca848.116ba8","410beb25.5d1ee4","25a47c01.f05be4","63b12961.038698"]]},{"id":"60bca848.116ba8","type":"function","z":"394559aa.c680c6","name":"Upload Done","func":"msg.statusCode = 303;\nmsg.headers = {\n    Location: \"http://192.168.23.19:1880/ui/#!/1\"\n}\ndelete msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":480,"wires":[["a6609141.55573"]]},{"id":"a6609141.55573","type":"http response","z":"394559aa.c680c6","name":"","statusCode":"","headers":{},"x":830,"y":480,"wires":[]},{"id":"135617ac.0145b8","type":"ui_template","z":"394559aa.c680c6","group":"b2abeab3.6e29b8","name":"","order":0,"width":"6","height":"4","format":"<form action=\"/file-upload\" method=\"post\" enctype=\"multipart/form-data\">\nFW-File : <input type=\"file\" name=\"fileToUpload\" id=\"fileToUpload\"><br>\nHardware: <input type=\"text\" name=\"hardware\" id=\"hardware\" value=\"ESP8266\"><br>\nNodeType: <input type=\"text\" name=\"nodeType\" id=\"nodeType\" value=\"Test\"><br>\n<input type=\"submit\" value=\"Upload Image\" name=\"submit\">\n</form>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":200,"y":360,"wires":[[]]},{"id":"2b98e481.ac0dbc","type":"function","z":"394559aa.c680c6","name":"sendOtaData","func":"if (msg.payload.msg.md5 == flow.get(\"md5\")){\n    var fileBuffer = flow.get(\"file\");\n    var rawBuffer = fileBuffer.slice(msg.payload.msg.partNo * 1024,(1+msg.payload.msg.partNo)*1024);\n    var strBuffer = rawBuffer.toString(\"base64\");\n    var data = {\"type\":8,\"dest\":msg.payload.from,\"from\":global.get('MeshID')};\n    data[\"msg\"] = {\"ident\":1,\n        \"plugin\":\"ota\",\n        \"type\":\"data\",\n        \"md5\":flow.get(\"md5\"),\n        \"hardware\":flow.get(\"hardware\"),\n        \"nodeType\":flow.get(\"nodeType\"),\n        \"noPart\":flow.get(\"numOfBlocks\"),\n        \"partNo\":msg.payload.msg.partNo,\n        \"data\":strBuffer,\n        \"dataLength\":strBuffer.length\n    };\n}\nmsg[\"payload\"] = data;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":610,"y":260,"wires":[[]]},{"id":"ff967d59.57b52","type":"comment","z":"ae93cab8.831958","name":"Mesh ChipIDs","info":"ESP32 Display   2759161753\nWeMos D1 mini   3943446713\nNodeMCU Ecke    2139867104\nRO-Anlage       3943445501","x":90,"y":40,"wires":[]},{"id":"9278328d.5b0aa","type":"tcp in","z":"ae93cab8.831958","name":"Listen to Mesh","server":"server","host":"","port":"5555","datamode":"stream","datatype":"buffer","newline":"0","topic":"","base64":false,"x":140,"y":120,"wires":[["988f1b3.f4010e8"]]},{"id":"588a5a6b.6fbc74","type":"debug","z":"ae93cab8.831958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":200,"wires":[]},{"id":"887c0685.939a08","type":"function","z":"ae93cab8.831958","name":"msg.payload 2 String[utf8]","func":"var meshId = global.get('MeshID');\nif(meshId){\n    msg.payload = msg.payload.toString('utf8');\n    return msg;\n}else{\n    node.error(\"Init erforderlich\", msg);\n}\n","outputs":1,"noerr":0,"x":230,"y":200,"wires":[["82271408.252078"]]},{"id":"988f1b3.f4010e8","type":"split","z":"ae93cab8.831958","name":"Nachricht 0-terminiert","splt":"[0]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":220,"y":160,"wires":[["887c0685.939a08"]]},{"id":"82271408.252078","type":"json","z":"ae93cab8.831958","name":"String 2 JsonObject","property":"payload","action":"","pretty":true,"x":210,"y":240,"wires":[["cc98b48e.a190d8","588a5a6b.6fbc74"]]},{"id":"cc98b48e.a190d8","type":"switch","z":"ae93cab8.831958","name":"switch Protocol","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":200,"y":400,"wires":[[],[],["895b4646.24ee28"],["ee5a9785.ed6c08"],["9eeac3a9.9d9f7"],["dfe744d0.b11698"],[],["ac63414e.96a5d"],[]],"inputLabels":["jObj MeshPackage"],"outputLabels":["TimeDelay [3]","TimeSync [4]","NodeSyncRequest [5]","NodeSyncReply [6]","Broadcase [8]","Single [9]","OtaAnnounce [10]","OtaDataRequest [11]","OtaData [12]"]},{"id":"714432dd.a7e93c","type":"inject","z":"ae93cab8.831958","name":"Trigger Init","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":40,"wires":[["d1d288e7.bc1598"]]},{"id":"d1d288e7.bc1598","type":"function","z":"ae93cab8.831958","name":"Set ID/Name to Flow","func":"flow.set('Connection', 0);\nglobal.set('MeshName', \"NodeRED\");\nglobal.set('MeshID', 111);\nmsg[\"topic\"] = \"Init\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":40,"wires":[[]]},{"id":"e9094893.563c58","type":"function","z":"ae93cab8.831958","name":"Json2Buffer","func":"var msgSend = RED.util.cloneMessage(msg);\nvar strJson = JSON.stringify(msgSend.payload);\nvar bufJson = Buffer.from(strJson, 'utf8');\nvar bufZero = Buffer.from([0x00]);\nvar arrBuffer = [bufJson, bufZero];\nvar bufOut = Buffer.concat(arrBuffer);\n//var inBuffer = Buffer.from(bufJson);\n//var outBuffer = Buffer.concat(inBuffer, Buffer.from([0x00]));\nmsgSend.payload = bufOut;\nmsg[\"topic\"]=\"print\";\nmsgSend[\"topic\"]=\"out\";\nreturn [msg,msgSend];","outputs":2,"noerr":0,"x":1310,"y":460,"wires":[["43764159.77f58"],["a37deb37.a8f038"]],"inputLabels":["msg"],"outputLabels":["printOut","bufferOut"]},{"id":"a37deb37.a8f038","type":"tcp out","z":"ae93cab8.831958","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"Send to Mesh","x":1520,"y":480,"wires":[]},{"id":"9eeac3a9.9d9f7","type":"json","z":"ae93cab8.831958","name":"Broadcast","property":"payload.msg","action":"","pretty":false,"x":480,"y":500,"wires":[["7b6fee92.90c7f","ca141f53.0e935"]]},{"id":"43764159.77f58","type":"debug","z":"ae93cab8.831958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1510,"y":440,"wires":[]},{"id":"dfe744d0.b11698","type":"json","z":"ae93cab8.831958","name":"Signlecast","property":"payload.msg","action":"","pretty":false,"x":490,"y":540,"wires":[["7b6fee92.90c7f","ca141f53.0e935"]]},{"id":"ca141f53.0e935","type":"debug","z":"ae93cab8.831958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":460,"wires":[]},{"id":"8f7bb17c.09d83","type":"mytimeout","z":"ae93cab8.831958","name":"Mesh Watchdog","outtopic":"watchdog","outsafe":"On","outwarning":"Warning","outunsafe":"Off","warning":"5","timer":"10","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":980,"y":300,"wires":[["59013c12.3c0574"],[]],"outputLabels":["State","Count"]},{"id":"831e05cf.ec9a48","type":"debug","z":"92fe69cf.134398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":500,"wires":[]},{"id":"c5fbd84c.3291e8","type":"inject","z":"92fe69cf.134398","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":540,"wires":[["64ed66f8.2c3288"]]},{"id":"74a8a145.4ad53","type":"function","z":"92fe69cf.134398","name":"SQL","func":"//INSERT INTO sensor_aggr VALUES (epoch [int], device [text], sensor [text], value [real])\nreturn { topic: \"INSERT INTO sensor_aggr VALUES (\"+msg.payload.timestape+\", '\"+msg.payload.device+\"', '\"+msg.payload.sensor+\"', \"+msg.payload.value+\")\" };\n\n","outputs":1,"noerr":0,"x":790,"y":580,"wires":[["50e2c8e.f010438","831e05cf.ec9a48"]]},{"id":"50e2c8e.f010438","type":"sqlite","z":"92fe69cf.134398","mydb":"20e89b3e.722264","sql":"","name":"DB","x":930,"y":580,"wires":[["831e05cf.ec9a48"]]},{"id":"fb218a8c.82a2a8","type":"random","z":"92fe69cf.134398","name":"Random Value 1-10","low":"1","high":"10","inte":"false","property":"payload.value","x":590,"y":540,"wires":[["74a8a145.4ad53","831e05cf.ec9a48"]]},{"id":"64ed66f8.2c3288","type":"change","z":"92fe69cf.134398","name":"Wohnzimmer-Temp","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.timestape","tot":"msg"},{"t":"set","p":"payload.device","pt":"msg","to":"Wohnzimmer","tot":"str"},{"t":"set","p":"payload.sensor","pt":"msg","to":"Temperatur","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":540,"wires":[["fb218a8c.82a2a8"]]},{"id":"893682be.0f1f5","type":"inject","z":"92fe69cf.134398","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":600,"wires":[["c0a089aa.8b1a58"]]},{"id":"c0a089aa.8b1a58","type":"change","z":"92fe69cf.134398","name":"Wohnzimmer-Temp","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.timestape","tot":"msg"},{"t":"set","p":"payload.device","pt":"msg","to":"Wohnzimmer","tot":"str"},{"t":"set","p":"payload.sensor","pt":"msg","to":"Luftfeuchte","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":600,"wires":[["754565e2.8317bc"]]},{"id":"93498a4e.610d28","type":"inject","z":"92fe69cf.134398","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":660,"wires":[["16f083e2.3d212c"]]},{"id":"16f083e2.3d212c","type":"change","z":"92fe69cf.134398","name":"Wohnzimmer-Temp","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.timestape","tot":"msg"},{"t":"set","p":"payload.device","pt":"msg","to":"Wohnzimmer","tot":"str"},{"t":"set","p":"payload.sensor","pt":"msg","to":"Licht","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":660,"wires":[["18c1acf7.d034b3"]]},{"id":"754565e2.8317bc","type":"random","z":"92fe69cf.134398","name":"Random Value 1-100","low":"1","high":"100","inte":"false","property":"payload.value","x":600,"y":600,"wires":[["74a8a145.4ad53"]]},{"id":"18c1acf7.d034b3","type":"random","z":"92fe69cf.134398","name":"Random Value 1-10","low":"1","high":"50","inte":"false","property":"payload.value","x":590,"y":660,"wires":[["74a8a145.4ad53"]]},{"id":"410beb25.5d1ee4","type":"debug","z":"394559aa.c680c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":400,"y":420,"wires":[]},{"id":"f9dc860f.54e1e8","type":"debug","z":"394559aa.c680c6","name":"Output 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":860,"y":360,"wires":[]},{"id":"abdd00f0.1f2bf","type":"ui_text","z":"394559aa.c680c6","group":"b2abeab3.6e29b8","order":2,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":540,"wires":[]},{"id":"63b12961.038698","type":"function","z":"394559aa.c680c6","name":"Upload Done","func":"msg.payload = \"Done\";\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":580,"wires":[["abdd00f0.1f2bf"]]},{"id":"2ea9b1ef.d69dee","type":"inject","z":"394559aa.c680c6","name":"","topic":"","payload":"Ready","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":630,"y":540,"wires":[["abdd00f0.1f2bf"]]},{"id":"895b4646.24ee28","type":"change","z":"ae93cab8.831958","name":"Receive syncRequest","rules":[{"t":"set","p":"topic","pt":"msg","to":"syncRequest","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":360,"wires":[["89501ddd.f1c26","59013c12.3c0574"]]},{"id":"59013c12.3c0574","type":"function","z":"ae93cab8.831958","name":"Handle MeshSync","func":"var msgWatchdog = null;\nvar msgTelegram = null;\nvar msgTrigger = null;\nswitch(msg.topic){\n    case \"syncRequest\":\n        //-----------------------\n        // Request verarbeiten\n        //-----------------------\n        //Ermittle Partner-ID\n        flow.set('PartnerID', msg.from);\n\n        //Reply Telegramm erzeugen\n        msgTelegram = {\"payload\":\n            {\n                \"nodeId\":global.get('MeshID'),\n                \"dest\":msg.from,\n                \"from\":global.get('MeshID'),\n                \"type\":6,\n                \"subs\":[]\n            }\n        };\n        \n        //Watchdog starten\n        msgWatchdog = {\"payload\":1};\n\n        //Mesh-Status aktuallisieren\n        global.set('MeshState', \"Online\");\n        break;\n\n    case \"sycnReply\":\n        //-----------------------\n        // Reply speichern\n        //-----------------------\n        //Topologie speichern\n        var topology = {\"nodeId\":msg.from,\n            \"root\":true,\n            \"subs\":msg.subs};\n        global.set('MeshTopology', topology);\n        \n        //Watchdog starten\n        msgWatchdog = {\"payload\":1};\n\n        //Mesh-Status aktuallisieren\n        global.set('MeshState', \"Online\");\n        break;\n\n    case \"watchdog\":\n        //-----------------------\n        // Watchdog verarbeiten\n        //-----------------------\n        switch(msg.payload){\n            case \"Warning\":\n                //Mesh-Status aktuallisieren\n                global.set('MeshState', \"Bad\");\n                break;\n                \n            case \"Off\":\n                //Mesh-Status aktuallisieren\n                global.set('MeshState', \"Offline\");\n                break;\n        }\n        break;\n\n    case \"trigger\":\n        //-----------------------\n        // Request Telegram erstellen\n        //-----------------------\n        //-----------------------\n        // Trigger verarbeiten\n        //-----------------------\n        switch(msg.payload){\n            case \"Warning\":\n            case \"Off\":\n                // Trigger neu anstossen\n                msgTrigger = {\"payload\":1};\n                //Request senden\n                msgTelegram = {\"payload\":\n                    {\n                        \"nodeId\":global.get('MeshID'),\n                        \"dest\":flow.get('PartnerID'),\n                        \"from\":global.get('MeshID'),\n                        \"type\":5,\n                        \"subs\":[]\n                    }\n                };\n                break;\n        }\n}\n\nreturn [msgWatchdog,msgTelegram,msgTrigger];\n\n","outputs":3,"noerr":0,"x":970,"y":360,"wires":[["8f7bb17c.09d83","fe196548.ab0728"],["e9094893.563c58","56e7554d.d891fc"],["3e13eb1.b242514","59d879e2.f26298"]],"outputLabels":["Watchdog","Telegram","Trigger"]},{"id":"ee5a9785.ed6c08","type":"change","z":"ae93cab8.831958","name":"Receive syncReply","rules":[{"t":"set","p":"topic","pt":"msg","to":"syncReply","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":400,"wires":[["59013c12.3c0574","89501ddd.f1c26"]]},{"id":"afbeb21e.9508b","type":"comment","z":"ae93cab8.831958","name":"Sync Protokoll","info":"# NodeSyncRequest[5] empfangen\n -  mit NodeSyncReply[6] beantworten\n - Mesh-Stauts Online\n    - global.\"MeshState\"\n\n# NodeSyncReply[6] empfangen\n - Topologie speichern\n    - global.\"MeshTopology\"\n\n# Trigger (5s) nach letztem Request\n - NodeSyncRequest[5] senden\n\n# WatchDog (10s) nach letztem Request\n - Mesh-Stauts Offline\n    - global.\"MeshState\"","x":490,"y":320,"wires":[]},{"id":"ef5fe190.03fe4","type":"comment","z":"ae93cab8.831958","name":"Data Telegramme","info":"","x":500,"y":460,"wires":[]},{"id":"89501ddd.f1c26","type":"debug","z":"ae93cab8.831958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":320,"wires":[]},{"id":"7b6fee92.90c7f","type":"link out","z":"ae93cab8.831958","name":"LinkMeshDataIn","links":[],"x":755,"y":500,"wires":[]},{"id":"6f2f5ab.6c257a4","type":"link in","z":"ae93cab8.831958","name":"LinkMeshDataOut","links":["c7ecb71c.07e868"],"x":1095,"y":500,"wires":[["e9094893.563c58"]]},{"id":"688ffb4f.58fea4","type":"function","z":"5f85fa55.3f3d34","name":"TODO","func":"//var data = {\"type\":9, \"dest\":msg.payload.from, \"from\":global.get('MeshID'), \"msg\":\"Danke\"};\n//msg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":520,"wires":[[]]},{"id":"7ecc743a.0f714c","type":"inject","z":"5f85fa55.3f3d34","name":"","topic":"","payload":"MeshID","payloadType":"flow","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":600,"wires":[["8ddd8137.ae2d7"]]},{"id":"8ddd8137.ae2d7","type":"function","z":"5f85fa55.3f3d34","name":"Request Topologie","func":"var data = {\"nodeId\":msg.payload,\"type\":5,\"dest\":0,\"from\":msg.payload};\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":600,"wires":[["c7ecb71c.07e868"]]},{"id":"de7a4e5a.f90ba","type":"json","z":"5f85fa55.3f3d34","name":"msg 2 String","property":"payload.msg","action":"str","pretty":false,"x":710,"y":260,"wires":[["2e98aa3.99eec56","c7ecb71c.07e868"]]},{"id":"2e98aa3.99eec56","type":"debug","z":"5f85fa55.3f3d34","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1170,"y":260,"wires":[]},{"id":"60c39979.3fa3f8","type":"switch","z":"5f85fa55.3f3d34","name":"Check Plugin","property":"payload.msg.plugin","propertyType":"msg","rules":[{"t":"eq","v":"ota","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":270,"y":280,"wires":[["bd28199f.b33e08"],["8cc7bbde.4e6a58"]],"outputLabels":["ota","ELSE"]},{"id":"8cc7bbde.4e6a58","type":"switch","z":"5f85fa55.3f3d34","name":"Check Source","property":"payload.from","propertyType":"msg","rules":[{"t":"eq","v":"3943445501","vt":"str"},{"t":"eq","v":"2139867104","vt":"str"},{"t":"eq","v":"3943446713","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":260,"y":380,"wires":[["7d36567d.165648"],["8a1e2c94.75e89"],["9f8789bd.041f88"],["688ffb4f.58fea4"]],"outputLabels":["RoAnlage","Gateway","TestBoard","REST"]},{"id":"fe57a824.a9a198","type":"debug","z":"5f85fa55.3f3d34","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":340,"wires":[]},{"id":"bd28199f.b33e08","type":"subflow:394559aa.c680c6","z":"5f85fa55.3f3d34","name":"","x":470,"y":260,"wires":[["de7a4e5a.f90ba"]]},{"id":"7d36567d.165648","type":"subflow:5a7dbad1.088f94","z":"5f85fa55.3f3d34","name":"","x":490,"y":340,"wires":[["de7a4e5a.f90ba"],["fe57a824.a9a198"]]},{"id":"8a1e2c94.75e89","type":"subflow:f8472a04.6c7898","z":"5f85fa55.3f3d34","name":"","env":[],"x":500,"y":400,"wires":[["de7a4e5a.f90ba"],["cbc85679.f4e5e8"]]},{"id":"cbc85679.f4e5e8","type":"debug","z":"5f85fa55.3f3d34","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":400,"wires":[]},{"id":"9f8789bd.041f88","type":"subflow:14ca766e.161d6a","z":"5f85fa55.3f3d34","name":"","x":510,"y":460,"wires":[["de7a4e5a.f90ba"],["d58cf103.b07c9"]]},{"id":"d58cf103.b07c9","type":"debug","z":"5f85fa55.3f3d34","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":460,"wires":[]},{"id":"c7ecb71c.07e868","type":"link out","z":"5f85fa55.3f3d34","name":"MeshTestOld_MeshOut","links":["6f2f5ab.6c257a4"],"x":940,"y":120,"wires":[]},{"id":"827d58fb.ed4068","type":"mytimeout","z":"ae93cab8.831958","name":"MeshSyncTimer","outtopic":"watchdog","outsafe":"On","outwarning":"Warning","outunsafe":"Off","warning":"5","timer":"10","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":900,"y":720,"wires":[["ff463d05.8425d"],[]],"outputLabels":["State","Count"]},{"id":"ff463d05.8425d","type":"function","z":"ae93cab8.831958","name":"Handle MeshOTA","func":"var msgWatchdog = null;\nvar msgTelegram = null;\nvar data;\nvar ota;\nswitch(msg.topic){\n    case \"newFile\":\n        //-----------------------\n        // Dateiinformationen einlesen\n        //-----------------------\n        var fullBlocks = Math.floor(msg.req.files[0].size / 1024);\n        var numOfBlocks = fullBlocks;\n        if (fullBlocks * 1024 < msg.req.files[0].size){\n            numOfBlocks++;\n        }\n        ota = {\n            \"role\":msg.payload.role,\n            \"hardware\":msg.payload.hardware,\n            \"md5\":msg.req.files[0].bufferMd5,\n            \"forced\":true,\n            \"noPart\":numOfBlocks,\n            \"file\":msg.req.files[0].buffer\n        };\n        flow.set(\"otaAnnounce\",ota);\n\n        //Announce Telegramm erzeugen\n        msgTelegram = {\"payload\":\n            {\n                \"dest\":0,\n                \"from\":global.get('MeshID'),\n                \"type\":10,\n                \"role\":ota.role,\n                \"hardware\":ota.hardware,\n                \"md5\":ota.md5,\n                \"forced\":ota.forced,\n                \"noPart\":ota.noPart\n            }\n        };\n        \n        //Watchdog starten\n        msgWatchdog = {\"payload\":1};\n        \n        //OTA-Status aktuallisieren\n        global.set('OtaState', \"Send\");\n        break;\n\n    case \"newRequest\":\n        //-----------------------\n        // OTA-File einlesen und Daten senden\n        //-----------------------\n        ota = flow.get(\"otaAnnounce\");\n        var rawBuffer = ota.file.slice(msg.payload.msg.partNo * 1024,(1+msg.payload.msg.partNo)*1024);\n        var strBuffer = rawBuffer.toString(\"base64\");\n        \n        //Data Telegramm erzeugen\n        msgTelegram = {\"payload\":\n            {\n                \"dest\":msg.payload.from,\n                \"from\":global.get('MeshID'),\n                \"type\": 12,\n                \"role\":ota.role,\n                \"hardware\":ota.hardware,\n                \"md5\":ota.md5,\n                \"forced\":ota.forced,\n                \"noPart\":ota.noPart,\n                \"partNo\":msg.payload.msg.partNo,\n                \"data\":strBuffer\n            }\n        };\n        \n        //Watchdog starten\n        msgWatchdog = {\"payload\":1};\n        \n        //OTA-Status aktuallisieren\n        global.set('OtaState', \"Activ\");\n        break;\n\n    case \"watchdog\":\n        //-----------------------\n        // Watchdog verarbeiten\n        //-----------------------\n        switch(msg.payload){\n            case \"Warning\":\n                //OTA-Status aktuallisieren\n                global.set('OtaState', \"Inactiv\");\n                break;\n                \n            case \"Off\":\n                //OTA-Status aktuallisieren\n                global.set('OtaState', \"Ready\");\n                break;\n        }\n}\n\nreturn [msgWatchdog,msgTelegram];\n","outputs":2,"noerr":0,"x":890,"y":660,"wires":[["827d58fb.ed4068"],["e9094893.563c58"]],"outputLabels":["Watchdog","Telegram"]},{"id":"c89d6c3c.cecea","type":"comment","z":"ae93cab8.831958","name":"OTA Protokoll","info":"# File-Upload empfangen\n- File in flow.otaFile speichern\n- OTA::Announce[10] senden\n    - `{`\n    - `  \"dest\": Partner-ID,`\n    - `  \"from\": NodeRed-ID,`\n    - `  \"type\": 10,`\n    - `  \"role\":fw.variant,`\n    - `  \"hardware\":fw.hw,`\n    - `  \"md5\":fw.md5,`\n    - `  \"forced\":true/false,`\n    - `  \"noPart\":fw.noPart`\n    - `}`\n\n# OTA::DataRequest[11] empfangen\n- Telegramm:\n    - `{`\n    - `  \"dest\": NodeRed-ID,`\n    - `  \"from\": Partner-ID,`\n    - `  \"type\": 11,`\n    - `  \"role\":fw.variant,`\n    - `  \"hardware\":fw.hw,`\n    - `  \"md5\":fw.md5,`\n    - `  \"forced\":true/false,`\n    - `  \"noPart\":fw.noPart,`\n    - `  \"partNo\":bufferSegment`\n    - `}`\n- Datenblock auswählen\n- OTA::Data[12] senden\n    - `{`\n    - `  \"dest\": NodeRed-ID,`\n    - `  \"from\": Partner-ID,`\n    - `  \"type\": 12,`\n    - `  \"role\":fw.variant,`\n    - `  \"hardware\":fw.hw,`\n    - `  \"md5\":fw.md5,`\n    - `  \"forced\":true/false,`\n    - `  \"noPart\":fw.noPart,`\n    - `  \"partNo\":bufferSegment,`\n    - `  \"data\":base64String`\n    - `}`\n\n# Trigger (5s) nach letztem Request\n - NodeSyncRequest[5] senden\n\n# WatchDog (10s) nach letztem Request\n - Mesh-Stauts Offline\n    - global.\"MeshState\"","x":490,"y":620,"wires":[]},{"id":"12ebe1e8.b9f68e","type":"debug","z":"ae93cab8.831958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":620,"wires":[]},{"id":"a6534161.8bd91","type":"ui_template","z":"ae93cab8.831958","group":"b2abeab3.6e29b8","name":"","order":0,"width":"6","height":"4","format":"<form action=\"/file-upload\" method=\"post\" enctype=\"multipart/form-data\">\nFW-File : <input type=\"file\" name=\"fileToUpload\" id=\"fileToUpload\"><br>\nHardware: <input type=\"text\" name=\"hardware\" id=\"hardware\" value=\"ESP8266\"><br>\nNodeType: <input type=\"text\" name=\"nodeType\" id=\"nodeType\" value=\"Test\"><br>\n<input type=\"submit\" value=\"Upload Image\" name=\"submit\">\n</form>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":320,"y":660,"wires":[[]]},{"id":"c1310b63.e7c748","type":"http in","z":"ae93cab8.831958","name":"newFile","url":"/file-upload","method":"post","upload":true,"swaggerDoc":"","x":330,"y":700,"wires":[["69469f90.85dcd","ee555902.ab1838"]]},{"id":"6f805212.54d6cc","type":"http response","z":"ae93cab8.831958","name":"","statusCode":"","headers":{},"x":630,"y":740,"wires":[]},{"id":"69469f90.85dcd","type":"function","z":"ae93cab8.831958","name":"Upload Done","func":"msg.statusCode = 303;\nmsg.headers = {\n    Location: \"http://192.168.23.19:1880/ui/#!/1\"\n}\ndelete msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":740,"wires":[["6f805212.54d6cc"]]},{"id":"ac63414e.96a5d","type":"change","z":"ae93cab8.831958","name":"Receive newRequest","rules":[{"t":"set","p":"topic","pt":"msg","to":"newRequest","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":660,"wires":[["ff463d05.8425d","12ebe1e8.b9f68e"]]},{"id":"ee555902.ab1838","type":"change","z":"ae93cab8.831958","name":"Receive newFile","rules":[{"t":"set","p":"topic","pt":"msg","to":"newFile","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":700,"wires":[["ff463d05.8425d","12ebe1e8.b9f68e"]]},{"id":"3e13eb1.b242514","type":"mytimeout","z":"ae93cab8.831958","name":"Mesh Trigger","outtopic":"trigger","outsafe":"On","outwarning":"Warning","outunsafe":"Off","warning":"3","timer":"6","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":970,"y":420,"wires":[["59013c12.3c0574"],[]],"outputLabels":["State","Count"]},{"id":"11ac7968.4fc657","type":"inject","z":"ae93cab8.831958","name":"","topic":"1","payload":"","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":710,"y":420,"wires":[["3e13eb1.b242514"]]},{"id":"fe196548.ab0728","type":"debug","z":"ae93cab8.831958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":320,"wires":[]},{"id":"56e7554d.d891fc","type":"debug","z":"ae93cab8.831958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":360,"wires":[]},{"id":"59d879e2.f26298","type":"debug","z":"ae93cab8.831958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":400,"wires":[]}]