Code/NodeRed_Flows/Flow_Total20200630_mitArchiv.json
[{"id":"3f734aed.d110e6","type":"tab","label":"SystemInfo","disabled":false,"info":""},{"id":"1875e2ea.57ba0d","type":"tab","label":"SQLite Creat/Insert","disabled":false,"info":""},{"id":"92fe69cf.134398","type":"tab","label":"SQLite Chart Test","disabled":false,"info":""},{"id":"ae93cab8.831958","type":"tab","label":"Mesh Protokoll","disabled":false,"info":""},{"id":"681190a4.3fa52","type":"tab","label":"Mesh LogTelegram","disabled":false,"info":""},{"id":"767c2e0e.5b286","type":"tab","label":"Mesh IOT::Server","disabled":false,"info":""},{"id":"20e89b3e.722264","type":"sqlitedb","z":"","db":"/home/pi/sqlite/nodered.db","mode":"RWC"},{"id":"8cb3cf19.403f2","type":"ui_group","z":"","name":"Report","tab":"","order":2,"disp":false,"width":"24"},{"id":"e6b6a3f6.27b7c","type":"ui_group","z":"","name":"Filters","tab":"","order":2,"disp":true,"width":"24","collapse":false},{"id":"a4cb356.72ddcc8","type":"ui_group","z":"","name":"OS","tab":"e713e02d.34511","order":1,"disp":true,"width":"6","collapse":true},{"id":"624da05.0d8a46","type":"ui_group","z":"","name":"Ro-Anlage","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"b2abeab3.6e29b8","type":"ui_group","z":"","name":"FileUpload","tab":"6f81dc60.faebe4","order":1,"disp":true,"width":"6","collapse":false},{"id":"6f81dc60.faebe4","type":"ui_tab","z":"","name":"MeshKonfig","icon":"dashboard","disabled":false,"hidden":false},{"id":"6e540f6e.b5c2b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e713e02d.34511","type":"ui_tab","z":"","name":"System","icon":"dashboard","disabled":false,"hidden":false},{"id":"e4f297c5.a89eb8","type":"ui_group","z":"","name":"Hardware","tab":"e713e02d.34511","order":2,"disp":true,"width":"6","collapse":false},{"id":"68e584b1.ff6bcc","type":"ui_group","z":"","name":"Netzwerk","tab":"e713e02d.34511","order":3,"disp":true,"width":"6","collapse":false},{"id":"fc543706.718ff8","type":"ui_group","z":"","name":"Status","tab":"e713e02d.34511","order":4,"disp":true,"width":"12","collapse":false},{"id":"372d1f9.d997ee","type":"function","z":"92fe69cf.134398","name":"SQL","func":"// This will handle any device and any attribute as long as it is in the DB\nvar p_30d  = 1000*60*60*24*30 ; //30 Days\nvar p_7d  = 1000*60*60*24*7 ; //7 Days\nvar p_1d   =  1000*60*60*24 ; // 1 Day\nvar d = new Date();\nvar current = d.getTime();\nvar today0h = d.setHours(0,0,0,0);\nvar day = d.getDay();\nvar monday0h = today0h - (day + (day === 0 ? -6:1)) * p_1d;\nvar fromdate = 0;\nvar enddate = 0;\nvar sql = [];\nvar sourcelist = [];\nvar aggrlist = [];\nvar title = \"\";\nvar i;\nvar parts;\n\n\n// Get the period and the list of data sources \n// also set some default values if one or the other does not exist yet\nsourcelist = context.get(\"sourcelist\");\nif (sourcelist===undefined) { // if running for the first time\n    sourcelist = [];\n}\naggrlist = context.get(\"aggrlist\");\nif (aggrlist===undefined) { // if running for the first time\n    aggrlist = [];\n}\nfromdate = context.get(\"fromdate\");\nif (fromdate===undefined) {\n    // set the period to a default if it is not selected yet\n    fromdate = current-p_1d;\n}\nenddate = context.get(\"enddate\");\nif (enddate===undefined) {\n    // set the period to a default if it is not selected yet\n    enddate = current;\n}\n\nswitch(msg.topic) {\n    case \"period\":\n        switch(msg.payload) {\n            case \"today\":\n                fromdate = today0h;\n                enddate = today0h+p_1d;\n                break;\n            case \"yesterday\":\n                fromdate = today0h-p_1d;\n                enddate = today0h;\n                break;\n            case \"thisweek\":\n                fromdate = monday0h;\n                enddate = monday0h+p_7d;\n                break;\n            case \"lastweek\":\n                fromdate = monday0h-p_7d;\n                enddate = monday0h;\n                break;\n            case \"last24h\":\n                fromdate = current-p_1d;\n                enddate = current;\n                break;\n            case \"last7d\":\n                fromdate = current-p_7d;\n                enddate = current;\n                break;\n            case \"last30d\":\n                fromdate = current-p_30d;\n                enddate = current;\n                break;\n        }\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n    case \"datasource\":\n        if (msg.payload===\"delete\") {\n            // remove all previous data sources\n            sourcelist = [];\n        } else {\n            sourcelist = context.get(\"sourcelist\");\n            if (sourcelist===undefined) { // if running for the first time\n                sourcelist = [];\n            }\n            sourcelist = msg.payload;\n        }\n        context.set(\"sourcelist\",sourcelist);\n        break;\n    case \"aggrsource\":\n        if (msg.payload===\"delete\") {\n            // remove all previous data sources\n            aggrlist = [];\n        } else {\n            aggrlist = context.get(\"aggrlist\");\n            if (aggrlist===undefined) { // if running for the first time\n                aggrlist = [];\n            }\n            aggrlist = msg.payload;\n        }\n        context.set(\"aggrlist\",aggrlist);\n        break;\n    case \"minus1w\":\n        fromdate = fromdate-p_7d;\n        enddate = enddate-p_7d;\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n    case \"plus1w\":\n        fromdate = fromdate+p_7d;\n        enddate = enddate+p_7d;\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n    case \"minus1d\":\n        fromdate = fromdate-p_1d;\n        enddate = enddate-p_1d;\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n    case \"plus1d\":\n        fromdate = fromdate+p_1d;\n        enddate = enddate+p_1d;\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n}\n\n\n// Regenerate the SQL statements\n// Run through the data source list an generate the SQL statements\nsql = [];\nif (sourcelist.length>0) {\n    for (i = 0; i < sourcelist.length; i++) {\n        parts = sourcelist[i].split(\"/\");\n        sql.push({ topic: \"SELECT * FROM sensor_data WHERE device='\"+parts[0]+\"' AND sensor='\"+parts[1]+\"' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n    }\n} \nif (aggrlist.length>0) {\n    node.error(\"Länge:\"+aggrlist.length);\n    for (i = 0; i < aggrlist.length; i++) {\n        node.error(\"Element[\"+i+\"]:\"+aggrlist[i]);\n        parts = aggrlist[i].split(\"/\");\n        sql.push({ topic: \"SELECT * FROM sensor_aggr WHERE device='\"+parts[0]+\"' AND sensor='\"+parts[1]+\"' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n    }\n} \nif (sql.length===0) {    \n    // Dummy select that returns nothing to clear the chart\n    sql.push({ topic: \"SELECT * FROM sensor_aggr\" });\n}\n\n// set the completed flag for the join node later\nsql[sql.length-1].complete=true;\n// pass along the email flag to redirect the flow later\nif (msg.topic===\"email\") {\n    sql[sql.length-1].email=true;\n}\n\n// Generate report title\nif (sourcelist.length===0 && aggrlist.length===0) {\n    title = \"No data source\";\n} else {\n    if (sourcelist.length!==0) {\n        title = title + sourcelist.toString()+ \", \";\n    }\n    if (aggrlist.length!==0) {\n        title = title + aggrlist.toString()+ \", \";\n    }\n    title = title.substring(0,title.length-2);\n    title = title + \" | \";\n\n    d = new Date();\n    d.setTime(fromdate);\n    var yyyy = d.getFullYear();\n    var mm = d.getMonth() < 9 ? \"0\" + (d.getMonth() + 1) : (d.getMonth() + 1); // getMonth() is zero-based\n    var dd  = d.getDate() < 10 ? \"0\" + d.getDate() : d.getDate();\n    var hh = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\n    var mmm  = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\n    var ss  = d.getSeconds() < 10 ? \"0\" + d.getSeconds() : d.getSeconds();\n    title = title + dd + \".\" + mm + \".\" + yyyy;\n    d.setTime(enddate);\n    yyyy = d.getFullYear();\n    mm = d.getMonth() < 9 ? \"0\" + (d.getMonth() + 1) : (d.getMonth() + 1); // getMonth() is zero-based\n    dd  = d.getDate() < 10 ? \"0\" + d.getDate() : d.getDate();\n    hh = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\n    mmm  = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\n    ss  = d.getSeconds() < 10 ? \"0\" + d.getSeconds() : d.getSeconds();\n    title = title + \" - \" + dd + \".\" + mm + \".\" + yyyy;\n}\nsql[sql.length-1].title=title;\n\nreturn [ sql ];\n\n","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["9562154c.ca86f8","831e05cf.ec9a48"]]},{"id":"9562154c.ca86f8","type":"sqlite","z":"92fe69cf.134398","mydb":"20e89b3e.722264","sql":"","name":"DB","x":490,"y":300,"wires":[["43833e7f.ace03","831e05cf.ec9a48"]]},{"id":"cb4d9aba.eedca8","type":"ui_chart","z":"92fe69cf.134398","name":"Chart","group":"e6b6a3f6.27b7c","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":"","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":985.6666946411133,"y":339.2499485015869,"wires":[[]]},{"id":"35b246d8.0619ba","type":"function","z":"92fe69cf.134398","name":"Chart Prep","func":"var msg2 = [];\n\nif (msg.payload[0].length>0) {\n    // this is the logic when there are multiple data sets are received\n    for (var i=0; i<msg.payload.length; i++) {\n        var output = [];\n        for (var j=0; j<msg.payload[i].length; j++) {\n            output.push([msg.payload[i][j].epoch, msg.payload[i][j].value]);\n        }\n        msg2.push({ key: msg.payload[i][0].device+\"/\"+msg.payload[i][0].sensor, values : output});\n        //msg2.push({ key: \"test\", values : output});\n    }\n} \n\nmsg.payload=msg2;\n//msg.payload = [ { key: \"Power\", values : output} ];\n//msg.topic = \"Power\";\nreturn msg;","outputs":1,"noerr":0,"x":812.8334121704102,"y":339.5833225250244,"wires":[["cb4d9aba.eedca8"]]},{"id":"68701f2d.b7084","type":"inject","z":"92fe69cf.134398","name":"Reset chart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":510.74999237060547,"y":397.00000953674316,"wires":[["148b2e93.7e27f1"]]},{"id":"148b2e93.7e27f1","type":"function","z":"92fe69cf.134398","name":"Empty payload","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":758.6666641235352,"y":396.33332347869873,"wires":[["cb4d9aba.eedca8"]]},{"id":"43833e7f.ace03","type":"join","z":"92fe69cf.134398","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":623,"y":300,"wires":[["ae51757b.0217b8","35b246d8.0619ba"]]},{"id":"a0c75bd2.d81078","type":"ui_dropdown","z":"92fe69cf.134398","name":"Period","label":"","group":"e6b6a3f6.27b7c","order":4,"width":"4","height":"1","passthru":false,"options":[{"label":"Today","value":"today","type":"str"},{"label":"Yesterday","value":"yesterday","type":"str"},{"label":"This week","value":"thisweek","type":"str"},{"label":"Last week","value":"lastweek","type":"str"},{"label":"Last 24 hours","value":"last24h","type":"str"},{"label":"Last 7 days","value":"last7d","type":"str"},{"label":"Last 30 days","value":"last30d","type":"str"}],"payload":"","topic":"period","x":499.25,"y":155.75,"wires":[["372d1f9.d997ee","831e05cf.ec9a48"]]},{"id":"eae83280.c345","type":"inject","z":"92fe69cf.134398","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":311.25,"y":95.75,"wires":[["a0c75bd2.d81078","2c33c954.fb1d56"]]},{"id":"1fe428ac.76e577","type":"ui_button","z":"92fe69cf.134398","name":"","group":"e6b6a3f6.27b7c","order":5,"width":"2","height":"1","label":"-1W","color":"","bgcolor":"","icon":"chevron_left","payload":"","payloadType":"str","topic":"minus1w","x":81.25,"y":88.75,"wires":[["3f3a8140.bc7dee","372d1f9.d997ee"]]},{"id":"511e3d48.d39d84","type":"ui_button","z":"92fe69cf.134398","name":"","group":"e6b6a3f6.27b7c","order":6,"width":"2","height":"1","label":"-1D","color":"","bgcolor":"","icon":"chevron_left","payload":"","payloadType":"str","topic":"minus1d","x":79.25,"y":125.75,"wires":[["3f3a8140.bc7dee","372d1f9.d997ee"]]},{"id":"19ddaeaf.355a91","type":"ui_button","z":"92fe69cf.134398","name":"","group":"e6b6a3f6.27b7c","order":8,"width":"2","height":"1","label":"+1W","color":"","bgcolor":"","icon":"chevron_right","payload":"","payloadType":"str","topic":"plus1w","x":82.25,"y":163.75,"wires":[["3f3a8140.bc7dee","372d1f9.d997ee"]]},{"id":"b91aa3e3.f90e2","type":"ui_button","z":"92fe69cf.134398","name":"","group":"e6b6a3f6.27b7c","order":7,"width":"2","height":"1","label":"+1D","color":"","bgcolor":"","icon":"chevron_right","payload":"","payloadType":"str","topic":"plus1d","x":80.25,"y":200.75,"wires":[["3f3a8140.bc7dee","372d1f9.d997ee"]]},{"id":"3f3a8140.bc7dee","type":"change","z":"92fe69cf.134398","name":"Reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":309.25,"y":155.75,"wires":[["a0c75bd2.d81078"]]},{"id":"2c33c954.fb1d56","type":"ui_dropdown","z":"92fe69cf.134398","name":"Aggregate source","label":"","tooltip":"","place":"","group":"e6b6a3f6.27b7c","order":2,"width":"5","height":"1","passthru":false,"multiple":true,"options":[{"label":"[Remove all]","value":"delete","type":"str"},{"label":"Wohnzimmer Temp","value":"Wohnzimmer/Temperatur","type":"str"},{"label":"Wohnzimmer Luftfeuchte","value":"Wohnzimmer/Luftfeuchte","type":"str"},{"label":"Wohnzimmer Licht","value":"Wohnzimmer/Licht","type":"str"}],"payload":"","topic":"aggrsource","x":550,"y":60,"wires":[["372d1f9.d997ee","831e05cf.ec9a48"]]},{"id":"ae51757b.0217b8","type":"change","z":"92fe69cf.134398","name":"Title","rules":[{"t":"set","p":"payload","pt":"msg","to":"title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":829.5000152587891,"y":252.00000953674316,"wires":[["c4e0c28d.3f9eb"]]},{"id":"c4e0c28d.3f9eb","type":"ui_text","z":"92fe69cf.134398","group":"e6b6a3f6.27b7c","order":1,"width":"0","height":"0","name":"Chart title","label":"","format":"{{msg.payload}}","layout":"row-center","x":981.5000152587891,"y":252.00000953674316,"wires":[]},{"id":"ff967d59.57b52","type":"comment","z":"ae93cab8.831958","name":"Mesh ChipIDs","info":"ESP32 Display   2759161753\nWeMos D1 mini   3943446713\nNodeMCU Ecke    2139867104\nRO-Anlage       3943445501","x":90,"y":40,"wires":[]},{"id":"9278328d.5b0aa","type":"tcp in","z":"ae93cab8.831958","name":"Listen to Mesh","server":"server","host":"","port":"5555","datamode":"stream","datatype":"buffer","newline":"0","topic":"","base64":false,"x":140,"y":100,"wires":[["988f1b3.f4010e8","588a5a6b.6fbc74"]]},{"id":"588a5a6b.6fbc74","type":"debug","z":"ae93cab8.831958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":200,"wires":[]},{"id":"887c0685.939a08","type":"function","z":"ae93cab8.831958","name":"msg.payload 2 String[utf8]","func":"var meshId = global.get('MeshID');\nif(meshId){\n    msg.payload = msg.payload.toString('utf8');\n    return msg;\n}else{\n    node.error(\"Init erforderlich\", msg);\n}\n","outputs":1,"noerr":0,"x":230,"y":200,"wires":[["82271408.252078"]]},{"id":"988f1b3.f4010e8","type":"split","z":"ae93cab8.831958","name":"Nachricht 0-terminiert","splt":"[0]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":220,"y":160,"wires":[["887c0685.939a08"]]},{"id":"82271408.252078","type":"json","z":"ae93cab8.831958","name":"String 2 JsonObject","property":"payload","action":"","pretty":true,"x":210,"y":240,"wires":[["cc98b48e.a190d8","588a5a6b.6fbc74","e3faa157.9ab12"]]},{"id":"cc98b48e.a190d8","type":"switch","z":"ae93cab8.831958","name":"switch Protocol","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":200,"y":400,"wires":[[],[],["895b4646.24ee28"],["ee5a9785.ed6c08"],["cba31704.40d738"],["cba31704.40d738"],[],["ac63414e.96a5d"],[]],"inputLabels":["jObj MeshPackage"],"outputLabels":["TimeDelay [3]","TimeSync [4]","NodeSyncRequest [5]","NodeSyncReply [6]","Broadcase [8]","Single [9]","OtaAnnounce [10]","OtaDataRequest [11]","OtaData [12]"]},{"id":"714432dd.a7e93c","type":"inject","z":"ae93cab8.831958","name":"Trigger Init","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":40,"wires":[["d1d288e7.bc1598"]]},{"id":"d1d288e7.bc1598","type":"function","z":"ae93cab8.831958","name":"Set ID/Name to Flow","func":"flow.set('Connection', 0);\nglobal.set('MeshName', \"NodeRED\");\nglobal.set('MeshID', 111);\nmsg[\"topic\"] = \"Init\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":40,"wires":[[]]},{"id":"e9094893.563c58","type":"function","z":"ae93cab8.831958","name":"Json2Buffer","func":"var msgSend = RED.util.cloneMessage(msg);\nvar strJson = JSON.stringify(msgSend.payload);\nvar bufJson = Buffer.from(strJson, 'utf8');\nvar bufZero = Buffer.from([0x00]);\nvar arrBuffer = [bufJson, bufZero];\nvar bufOut = Buffer.concat(arrBuffer);\n//var inBuffer = Buffer.from(bufJson);\n//var outBuffer = Buffer.concat(inBuffer, Buffer.from([0x00]));\nmsgSend.payload = bufOut;\nmsg[\"topic\"]=\"print\";\nmsgSend[\"topic\"]=\"out\";\nreturn [msg,msgSend];","outputs":2,"noerr":0,"x":1290,"y":540,"wires":[["43764159.77f58"],["a37deb37.a8f038"]],"inputLabels":["msg"],"outputLabels":["printOut","bufferOut"]},{"id":"a37deb37.a8f038","type":"tcp out","z":"ae93cab8.831958","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"Send to Mesh","x":1480,"y":560,"wires":[]},{"id":"43764159.77f58","type":"debug","z":"ae93cab8.831958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":520,"wires":[]},{"id":"8f7bb17c.09d83","type":"mytimeout","z":"ae93cab8.831958","name":"Mesh Watchdog","outtopic":"watchdog","outsafe":"On","outwarning":"Warning","outunsafe":"Off","warning":"50","timer":"120","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":980,"y":260,"wires":[["59013c12.3c0574","fe196548.ab0728"],[]],"outputLabels":["State","Count"]},{"id":"831e05cf.ec9a48","type":"debug","z":"92fe69cf.134398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":500,"wires":[]},{"id":"c5fbd84c.3291e8","type":"inject","z":"92fe69cf.134398","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":540,"wires":[["64ed66f8.2c3288"]]},{"id":"74a8a145.4ad53","type":"function","z":"92fe69cf.134398","name":"SQL","func":"//INSERT INTO sensor_aggr VALUES (epoch [int], device [text], sensor [text], value [real])\nreturn { topic: \"INSERT INTO sensor_aggr VALUES (\"+msg.payload.timestape+\", '\"+msg.payload.device+\"', '\"+msg.payload.sensor+\"', \"+msg.payload.value+\")\" };\n\n","outputs":1,"noerr":0,"x":790,"y":580,"wires":[["50e2c8e.f010438","831e05cf.ec9a48"]]},{"id":"50e2c8e.f010438","type":"sqlite","z":"92fe69cf.134398","mydb":"20e89b3e.722264","sql":"","name":"DB","x":930,"y":580,"wires":[["831e05cf.ec9a48"]]},{"id":"fb218a8c.82a2a8","type":"random","z":"92fe69cf.134398","name":"Random Value 1-10","low":"1","high":"10","inte":"false","property":"payload.value","x":590,"y":540,"wires":[["74a8a145.4ad53","831e05cf.ec9a48"]]},{"id":"64ed66f8.2c3288","type":"change","z":"92fe69cf.134398","name":"Wohnzimmer-Temp","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.timestape","tot":"msg"},{"t":"set","p":"payload.device","pt":"msg","to":"Wohnzimmer","tot":"str"},{"t":"set","p":"payload.sensor","pt":"msg","to":"Temperatur","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":540,"wires":[["fb218a8c.82a2a8"]]},{"id":"893682be.0f1f5","type":"inject","z":"92fe69cf.134398","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":600,"wires":[["c0a089aa.8b1a58"]]},{"id":"c0a089aa.8b1a58","type":"change","z":"92fe69cf.134398","name":"Wohnzimmer-Temp","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.timestape","tot":"msg"},{"t":"set","p":"payload.device","pt":"msg","to":"Wohnzimmer","tot":"str"},{"t":"set","p":"payload.sensor","pt":"msg","to":"Luftfeuchte","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":600,"wires":[["754565e2.8317bc"]]},{"id":"93498a4e.610d28","type":"inject","z":"92fe69cf.134398","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":660,"wires":[["16f083e2.3d212c"]]},{"id":"16f083e2.3d212c","type":"change","z":"92fe69cf.134398","name":"Wohnzimmer-Temp","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.timestape","tot":"msg"},{"t":"set","p":"payload.device","pt":"msg","to":"Wohnzimmer","tot":"str"},{"t":"set","p":"payload.sensor","pt":"msg","to":"Licht","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":660,"wires":[["18c1acf7.d034b3"]]},{"id":"754565e2.8317bc","type":"random","z":"92fe69cf.134398","name":"Random Value 1-100","low":"1","high":"100","inte":"false","property":"payload.value","x":600,"y":600,"wires":[["74a8a145.4ad53"]]},{"id":"18c1acf7.d034b3","type":"random","z":"92fe69cf.134398","name":"Random Value 1-10","low":"1","high":"50","inte":"false","property":"payload.value","x":590,"y":660,"wires":[["74a8a145.4ad53"]]},{"id":"895b4646.24ee28","type":"change","z":"ae93cab8.831958","name":"Receive syncRequest","rules":[{"t":"set","p":"topic","pt":"msg","to":"syncRequest","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":360,"wires":[["89501ddd.f1c26","59013c12.3c0574"]]},{"id":"59013c12.3c0574","type":"function","z":"ae93cab8.831958","name":"Handle MeshSync","func":"var msgWatchdog = null;\nvar msgTelegram = null;\nvar msgTrigger = null;\nswitch(msg.topic){\n    case \"syncRequest\":\n        //-----------------------\n        // Request verarbeiten\n        //-----------------------\n        //Ermittle Partner-ID\n        flow.set('PartnerID', msg.from);\n\n        //Reply Telegramm erzeugen\n        msgTelegram = {\"payload\":\n            {\n                \"nodeId\":global.get('MeshID'),\n                \"dest\":msg.from,\n                \"from\":global.get('MeshID'),\n                \"type\":6,\n                \"subs\":[]\n            }\n        };\n        \n        //Watchdog starten\n        msgWatchdog = {\"payload\":1};\n\n        //Mesh-Status aktuallisieren\n        global.set('MeshState', \"Online\");\n        break;\n\n    case \"sycnReply\":\n        //-----------------------\n        // Reply speichern\n        //-----------------------\n        //Topologie speichern\n        var topology = {\"nodeId\":msg.from,\n            \"root\":true,\n            \"subs\":msg.subs};\n        global.set('MeshTopology', topology);\n        \n        //Watchdog starten\n        msgWatchdog = {\"payload\":1};\n\n        //Mesh-Status aktuallisieren\n        global.set('MeshState', \"Online\");\n        break;\n\n    case \"watchdog\":\n        //-----------------------\n        // Watchdog verarbeiten\n        //-----------------------\n        switch(msg.payload){\n            case \"Warning\":\n                //Mesh-Status aktuallisieren\n                global.set('MeshState', \"Bad\");\n                break;\n                \n            case \"Off\":\n                //Mesh-Status aktuallisieren\n                global.set('MeshState', \"Offline\");\n                msgTrigger = {\"payload\":1};\n                break;\n        }\n        break;\n\n    case \"trigger\":\n        //-----------------------\n        // Request Telegram erstellen\n        //-----------------------\n        //-----------------------\n        // Trigger verarbeiten\n        //-----------------------\n        switch(msg.payload){\n            case \"Warning\":\n            case \"Off\":\n                if (global.get('MeshState') == \"Offline\"){\n                    // Trigger neu anstossen\n                    msgWatchdog = {\"payload\":1};\n                    //Request senden\n                    msgTelegram = {\"payload\":\n                        {\n                            \"nodeId\":global.get('MeshID'),\n                            \"dest\":flow.get('PartnerID'),\n                            \"from\":global.get('MeshID'),\n                            \"type\":5,\n                            \"subs\":[]\n                        }\n                };\n                    \n                }\n                break;\n        }\n}\n\nreturn [msgWatchdog,msgTelegram,msgTrigger];\n\n","outputs":3,"noerr":0,"x":970,"y":360,"wires":[["8f7bb17c.09d83","fe196548.ab0728"],["e9094893.563c58","56e7554d.d891fc"],["59d879e2.f26298","3e13eb1.b242514"]],"outputLabels":["Watchdog","Telegram","Trigger"]},{"id":"ee5a9785.ed6c08","type":"change","z":"ae93cab8.831958","name":"Receive syncReply","rules":[{"t":"set","p":"topic","pt":"msg","to":"syncReply","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":400,"wires":[["59013c12.3c0574","89501ddd.f1c26"]]},{"id":"afbeb21e.9508b","type":"comment","z":"ae93cab8.831958","name":"Sync Protokoll","info":"# NodeSyncRequest[5] empfangen\n -  mit NodeSyncReply[6] beantworten\n - Mesh-Stauts Online\n    - global.\"MeshState\"\n\n# NodeSyncReply[6] empfangen\n - Topologie speichern\n    - global.\"MeshTopology\"\n\n# Trigger (5s) nach letztem Request\n - NodeSyncRequest[5] senden\n\n# WatchDog (10s) nach letztem Request\n - Mesh-Stauts Offline\n    - global.\"MeshState\"","x":490,"y":320,"wires":[]},{"id":"ef5fe190.03fe4","type":"comment","z":"ae93cab8.831958","name":"Data Telegramme","info":"","x":500,"y":460,"wires":[]},{"id":"89501ddd.f1c26","type":"debug","z":"ae93cab8.831958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":320,"wires":[]},{"id":"7b6fee92.90c7f","type":"link out","z":"ae93cab8.831958","name":"LinkMeshDataIn","links":["bb6d80c9.cdaec"],"x":755,"y":540,"wires":[]},{"id":"6f2f5ab.6c257a4","type":"link in","z":"ae93cab8.831958","name":"LinkMeshDataOut","links":["c7ecb71c.07e868","656712f2.cb6fdc"],"x":1075,"y":540,"wires":[["e9094893.563c58"]]},{"id":"827d58fb.ed4068","type":"mytimeout","z":"ae93cab8.831958","name":"MeshSyncTimer","outtopic":"watchdog","outsafe":"On","outwarning":"Warning","outunsafe":"Off","warning":"8","timer":"10","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":900,"y":860,"wires":[["ff463d05.8425d"],[]],"outputLabels":["State","Count"]},{"id":"ff463d05.8425d","type":"function","z":"ae93cab8.831958","name":"Handle MeshOTA","func":"var msgWatchdog = null;\nvar msgTelegram = null;\nvar msgDebug = null;\nvar data;\nvar ota;\nswitch(msg.topic){\n    case \"newFile\":\n        //-----------------------\n        // Dateiinformationen einlesen\n        //-----------------------\n        \n        // Blockanzahl ermitteln\n        var fullBlocks = Math.floor(msg.req.files[0].size / 1024);\n        var numOfBlocks = fullBlocks;\n        if (fullBlocks * 1024 < msg.req.files[0].size){\n            numOfBlocks++;\n        }\n        \n        // Force-Anforderung prüfen\n        var forced;\n        if (\"force\" in msg.payload){\n            forced = msg.payload.force;\n        }else{\n            forced = false;\n        }\n        \n        // OTA Daten zusammen stellen\n        ota = {\n            \"role\":msg.payload.role,\n            \"hardware\":msg.payload.hardware,\n            \"md5\":msg.req.files[0].bufferMd5,\n            \"forced\":forced,\n            \"noPart\":numOfBlocks,\n            \"file\":msg.req.files[0].buffer\n        };\n        flow.set(\"otaAnnounce\",ota);\n        \n        msgDebug = msg;\n        msgDebug[\"ota\"] = ota;\n        \n        //Announce Telegramm erzeugen\n        msgTelegram = {\"payload\":\n            {\n                \"dest\":0,\n                \"from\":global.get('MeshID'),\n                \"type\":10,\n                \"role\":ota.role,\n                \"hardware\":ota.hardware,\n                \"md5\":ota.md5,\n                \"forced\":ota.forced,\n                \"noPart\":ota.noPart\n            }\n        };\n        \n        //Watchdog starten\n        msgWatchdog = {\"payload\":1};\n        \n        //OTA-Status aktuallisieren\n        global.set('OtaState', \"Send\");\n        break;\n\n    case \"newRequest\":\n        //-----------------------\n        // OTA-File einlesen und Daten senden\n        //-----------------------\n        ota = flow.get(\"otaAnnounce\");\n        var rawBuffer = ota.file.slice(msg.payload.partNo * 1024,(1+msg.payload.partNo)*1024);\n        var strBuffer = rawBuffer.toString(\"base64\");\n        \n        //Data Telegramm erzeugen\n        msgTelegram = {\"payload\":\n            {\n                \"dest\":msg.payload.from,\n                \"from\":global.get('MeshID'),\n                \"type\": 12,\n                \"role\":ota.role,\n                \"hardware\":ota.hardware,\n                \"md5\":ota.md5,\n                \"forced\":ota.forced,\n                \"noPart\":ota.noPart,\n                \"partNo\":msg.payload.partNo,\n                \"data\":strBuffer\n            }\n        };\n        \n        //Watchdog starten\n        msgWatchdog = {\"payload\":1};\n        \n        //OTA-Status aktuallisieren\n        global.set('OtaState', \"Activ\");\n        break;\n\n    case \"watchdog\":\n        //-----------------------\n        // Watchdog verarbeiten\n        //-----------------------\n        switch(msg.payload){\n            case \"Warning\":\n                //OTA-Status aktuallisieren\n                global.set('OtaState', \"Inactiv\");\n                break;\n                \n            case \"Off\":\n                //OTA-Status aktuallisieren\n                global.set('OtaState', \"Ready\");\n                break;\n        }\n}\n\nreturn [msgTelegram,msgDebug,msgWatchdog];\n","outputs":3,"noerr":0,"x":890,"y":800,"wires":[["e9094893.563c58"],["196acbd0.d7e094"],["827d58fb.ed4068"]],"outputLabels":["Telegram","Debug","Watchdog"]},{"id":"c89d6c3c.cecea","type":"comment","z":"ae93cab8.831958","name":"OTA Protokoll","info":"# File-Upload empfangen\n- File in flow.otaFile speichern\n- OTA::Announce[10] senden\n    - `{`\n    - `  \"dest\": Partner-ID,`\n    - `  \"from\": NodeRed-ID,`\n    - `  \"type\": 10,`\n    - `  \"role\":fw.variant,`\n    - `  \"hardware\":fw.hw,`\n    - `  \"md5\":fw.md5,`\n    - `  \"forced\":true/false,`\n    - `  \"noPart\":fw.noPart`\n    - `}`\n\n# OTA::DataRequest[11] empfangen\n- Telegramm:\n    - `{`\n    - `  \"dest\": NodeRed-ID,`\n    - `  \"from\": Partner-ID,`\n    - `  \"type\": 11,`\n    - `  \"role\":fw.variant,`\n    - `  \"hardware\":fw.hw,`\n    - `  \"md5\":fw.md5,`\n    - `  \"forced\":true/false,`\n    - `  \"noPart\":fw.noPart,`\n    - `  \"partNo\":bufferSegment`\n    - `}`\n- Datenblock auswählen\n- OTA::Data[12] senden\n    - `{`\n    - `  \"dest\": NodeRed-ID,`\n    - `  \"from\": Partner-ID,`\n    - `  \"type\": 12,`\n    - `  \"role\":fw.variant,`\n    - `  \"hardware\":fw.hw,`\n    - `  \"md5\":fw.md5,`\n    - `  \"forced\":true/false,`\n    - `  \"noPart\":fw.noPart,`\n    - `  \"partNo\":bufferSegment,`\n    - `  \"data\":base64String`\n    - `}`\n\n# Trigger (5s) nach letztem Request\n - NodeSyncRequest[5] senden\n\n# WatchDog (10s) nach letztem Request\n - Mesh-Stauts Offline\n    - global.\"MeshState\"","x":490,"y":760,"wires":[]},{"id":"a6534161.8bd91","type":"ui_template","z":"ae93cab8.831958","group":"b2abeab3.6e29b8","name":"","order":0,"width":"6","height":"4","format":"<form action=\"/file-upload\" method=\"post\" enctype=\"multipart/form-data\">\nFW-File : <input type=\"file\" name=\"fileToUpload\" id=\"fileToUpload\"><br>\nHardware: <input type=\"text\" name=\"hardware\" id=\"hardware\" value=\"ESP8266\"><br>\nNodeRole: <input type=\"text\" name=\"role\" id=\"role\" value=\"Test\"><br>\nForce: <input type=\"checkbox\" name=\"force\" id=\"force\" value=\"1\">\n<input type=\"submit\" value=\"Submit\">\n</form>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":320,"y":800,"wires":[[]]},{"id":"c1310b63.e7c748","type":"http in","z":"ae93cab8.831958","name":"newFile","url":"/file-upload","method":"post","upload":true,"swaggerDoc":"","x":330,"y":840,"wires":[["69469f90.85dcd","ee555902.ab1838"]]},{"id":"6f805212.54d6cc","type":"http response","z":"ae93cab8.831958","name":"","statusCode":"","headers":{},"x":630,"y":880,"wires":[]},{"id":"69469f90.85dcd","type":"function","z":"ae93cab8.831958","name":"Upload Done","func":"msg.statusCode = 303;\nmsg.headers = {\n    Location: \"http://192.168.23.19:1880/ui\"\n}\ndelete msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":880,"wires":[["6f805212.54d6cc"]]},{"id":"ac63414e.96a5d","type":"change","z":"ae93cab8.831958","name":"Receive newRequest","rules":[{"t":"set","p":"topic","pt":"msg","to":"newRequest","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":800,"wires":[["ff463d05.8425d"]]},{"id":"ee555902.ab1838","type":"change","z":"ae93cab8.831958","name":"Receive newFile","rules":[{"t":"set","p":"topic","pt":"msg","to":"newFile","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":840,"wires":[["c8a37902.22eb98"]]},{"id":"3e13eb1.b242514","type":"mytimeout","z":"ae93cab8.831958","name":"Mesh Trigger","outtopic":"trigger","outsafe":"On","outwarning":"Warning","outunsafe":"Off","warning":"3","timer":"6","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":990,"y":420,"wires":[["59013c12.3c0574"],[]],"outputLabels":["State","Count"]},{"id":"11ac7968.4fc657","type":"inject","z":"ae93cab8.831958","name":"","topic":"1","payload":"","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":750,"y":260,"wires":[["8f7bb17c.09d83"]]},{"id":"fe196548.ab0728","type":"debug","z":"ae93cab8.831958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":320,"wires":[]},{"id":"56e7554d.d891fc","type":"debug","z":"ae93cab8.831958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":360,"wires":[]},{"id":"59d879e2.f26298","type":"debug","z":"ae93cab8.831958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":400,"wires":[]},{"id":"9585a0a5.573ea","type":"debug","z":"1875e2ea.57ba0d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":420,"wires":[]},{"id":"2eac2855.bd1f08","type":"inject","z":"1875e2ea.57ba0d","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":300,"wires":[["389c1db.e73ebe2"]]},{"id":"ee08b880.b764e8","type":"sqlite","z":"1875e2ea.57ba0d","mydb":"20e89b3e.722264","sqlquery":"msg.topic","sql":"SELECT name FROM sqlite_master WHERE type='table' AND name=$tableName","name":"query msq.topic","x":600,"y":340,"wires":[["d952e0da.e8a9d"]]},{"id":"80777204.73c1b","type":"inject","z":"1875e2ea.57ba0d","name":"","topic":"","payload":"testDB","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["5af469e2.d177b8"]]},{"id":"d952e0da.e8a9d","type":"function","z":"1875e2ea.57ba0d","name":"","func":"var msgDbQuery = null;\nvar msgDebugRaw = null;\nvar msgDebugPayload = null;\n\nswitch(msg.query.type){\n    case \"checkTable\":\n        if (msg.payload.length) {\n            msgDebugPayload = {\"payload\":\"Tabelle \"+msg.query.table+\" bereits vorhanden.\"};\n        }else{\n            let topic = \"create table \"+msg.query.table+\" (time Timestamp, value integer)\";\n            let query = {\"type\":\"createTable\", \"table\":msg.query.table};\n            msgDbQuery = {\"topic\":topic, \"query\":query};\n        }\n        msgDebugRaw = msg;\n        break;\n        \n    case \"createTable\":\n        msgDebugRaw = msg;\n        break;\n        \n    case \"select\":\n        msgDebugPayload = msg;\n        break;\n        \n    default:\n        msgDebugRaw = msg;\n        break;\n}\n\nreturn [msgDbQuery, msgDebugRaw, msgDebugPayload];\n","outputs":3,"noerr":0,"x":570,"y":420,"wires":[["ee08b880.b764e8"],["9585a0a5.573ea"],["1509265e.bb969a"]],"outputLabels":["Database Query","Debug Raw","Debug Payload"]},{"id":"5af469e2.d177b8","type":"function","z":"1875e2ea.57ba0d","name":"checkTable","func":"msg.topic = \"SELECT name FROM sqlite_master WHERE type='table' AND name='\"+msg.payload+\"'\";\nmsg[\"query\"] = {\"type\":\"checkTable\", \"table\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":340,"wires":[["ee08b880.b764e8"]]},{"id":"389c1db.e73ebe2","type":"function","z":"1875e2ea.57ba0d","name":"Select Table All","func":"msg.topic = \"SELECT * FROM sqlite_master WHERE type='table'\";\nmsg[\"query\"] = {\"type\":\"select\", \"responst\":\"tables\"};\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":300,"wires":[["ee08b880.b764e8"]]},{"id":"1509265e.bb969a","type":"debug","z":"1875e2ea.57ba0d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":460,"wires":[]},{"id":"c0981bf7.543d18","type":"function","z":"1875e2ea.57ba0d","name":"Insert payload 2 testDB","func":"msg.topic = \"insert into \"+msg.selectTable+\" (time, value) values (\"+Date.now()+\", \"+msg.payload+\")\";\nmsg[\"query\"] = {\"type\":\"insert\"};\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":260,"wires":[["ee08b880.b764e8"]]},{"id":"f1e894fd.92a8f8","type":"random","z":"1875e2ea.57ba0d","name":"","low":"1","high":"100","inte":"true","property":"payload","x":400,"y":220,"wires":[["c0981bf7.543d18"]]},{"id":"c7d329e.44012d8","type":"function","z":"1875e2ea.57ba0d","name":"Select * from payload","func":"msg.topic = \"SELECT * FROM \"+msg.payload;\nmsg[\"query\"] = {\"type\":\"select\", \"responst\":\"data\"};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":380,"wires":[["ee08b880.b764e8"]]},{"id":"8d73b0f4.924cf","type":"inject","z":"1875e2ea.57ba0d","name":"","topic":"","payload":"testDB","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":380,"wires":[["c7d329e.44012d8"]]},{"id":"82895263.2a715","type":"inject","z":"1875e2ea.57ba0d","name":"","topic":"","payload":"testDB","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":220,"wires":[["4f4ad5bf.db087c"]]},{"id":"4f4ad5bf.db087c","type":"change","z":"1875e2ea.57ba0d","name":"selectTable","rules":[{"t":"move","p":"payload","pt":"msg","to":"selectTable","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":220,"wires":[["f1e894fd.92a8f8"]]},{"id":"66321d19.105174","type":"sqlite","z":"681190a4.3fa52","mydb":"20e89b3e.722264","sqlquery":"msg.topic","sql":"SELECT name FROM sqlite_master WHERE type='table' AND name=$tableName","name":"DB","x":650,"y":40,"wires":[["854c08eb.665e28"]]},{"id":"4653f773.dbcbb8","type":"inject","z":"681190a4.3fa52","name":"","topic":"","payload":"telegram","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":40,"wires":[["e2c67ad4.5a5868"]]},{"id":"6099e430.cd547c","type":"function","z":"681190a4.3fa52","name":"checkTable","func":"msg.topic = \"SELECT name FROM sqlite_master WHERE type='table' AND name='\"+flow.get(\"table\")+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":40,"wires":[["66321d19.105174"]]},{"id":"7b7fdd8e.dd8234","type":"function","z":"681190a4.3fa52","name":"Insert InTelegram","func":"//var msgRecv = RED.util.cloneMessage(msg);\n//var strJson = JSON.stringify(msgRecv.payload);\n//var rawBuffer = Buffer.from(strJson, 'utf8');\n//var bufJson = rawBuffer.toString(\"base64\");\nvar msgOut = null;\nif (typeof msg.payload.msg === 'string' || typeof msg.payload.msg === 'object'){\n    var rawBuffer;\n    var bufJson;\n    if (typeof msg.payload.msg === 'string'){\n        rawBuffer = Buffer.from(msg.payload.msg, 'utf8');\n        bufJson = rawBuffer.toString(\"base64\");\n    }else{\n        var strJson = JSON.stringify(msg.payload.msg);\n        rawBuffer = Buffer.from(strJson, 'utf8');\n        bufJson = rawBuffer.toString(\"base64\");\n    }\n    msgOut = {\"topic\":\"insert into \"+flow.get(\"table\")+\n                    \" (time, input, type, src, dest, telegram) values (\"+\n                        Date.now()+\n                        \",1,\"+\n                        msg.payload.type+\",\"+\n                        msg.payload.from+\",\"+\n                        msg.payload.dest+\", '\"+\n                        bufJson+\"')\"};\n}\nreturn msgOut;","outputs":1,"noerr":0,"x":450,"y":380,"wires":[["4e7ce01e.1117d","4494aa36.091524"]]},{"id":"e2c67ad4.5a5868","type":"change","z":"681190a4.3fa52","name":"payload2flow.table","rules":[{"t":"move","p":"payload","pt":"msg","to":"table","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":40,"wires":[["6099e430.cd547c"]]},{"id":"854c08eb.665e28","type":"function","z":"681190a4.3fa52","name":"createTable","func":"if (msg.payload.length) {\n    msg = null;\n}else{\n    msg.topic = \"create table \"+flow.get(\"table\")+\" (time Timestamp, input integer, type integer, src integer, dest integer, telegram text)\";\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":810,"y":40,"wires":[["c2a56105.25c8b"]],"outputLabels":["Database Query"]},{"id":"c2a56105.25c8b","type":"sqlite","z":"681190a4.3fa52","mydb":"20e89b3e.722264","sqlquery":"msg.topic","sql":"SELECT name FROM sqlite_master WHERE type='table' AND name=$tableName","name":"DB","x":970,"y":40,"wires":[["842660bc.5af66"]]},{"id":"842660bc.5af66","type":"debug","z":"681190a4.3fa52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":40,"wires":[]},{"id":"e3faa157.9ab12","type":"link out","z":"ae93cab8.831958","name":"LinkMeshRawTelegramIn","links":["b76f840c.3dcef8"],"x":435,"y":240,"wires":[]},{"id":"b76f840c.3dcef8","type":"link in","z":"681190a4.3fa52","name":"MeshLogTelegram","links":["e3faa157.9ab12"],"x":295,"y":380,"wires":[["7b7fdd8e.dd8234","b6794b29.74d2a8"]]},{"id":"4e7ce01e.1117d","type":"sqlite","z":"681190a4.3fa52","mydb":"20e89b3e.722264","sqlquery":"msg.topic","sql":"SELECT name FROM sqlite_master WHERE type='table' AND name=$tableName","name":"DB","x":650,"y":380,"wires":[["2916120.80b6dee"]]},{"id":"3430d36c.cfa58c","type":"inject","z":"681190a4.3fa52","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":440,"wires":[["56d1d2ca.65c1ec"]]},{"id":"2916120.80b6dee","type":"debug","z":"681190a4.3fa52","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":380,"wires":[]},{"id":"56d1d2ca.65c1ec","type":"function","z":"681190a4.3fa52","name":"select *","func":"msg.topic = \"select * from \"+flow.get(\"table\");\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":480,"wires":[["a3e5eb5b.3e8aa8"]]},{"id":"367613e2.297eac","type":"inject","z":"681190a4.3fa52","name":"","topic":"","payload":"telegram","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["ec6af4e9.619528"]]},{"id":"ec6af4e9.619528","type":"function","z":"681190a4.3fa52","name":"deleteTable","func":"msg.topic = \"DROP TABLE \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":80,"wires":[["4e7ce01e.1117d"]]},{"id":"a3e5eb5b.3e8aa8","type":"sqlite","z":"681190a4.3fa52","mydb":"20e89b3e.722264","sqlquery":"msg.topic","sql":"SELECT name FROM sqlite_master WHERE type='table' AND name=$tableName","name":"DB","x":330,"y":480,"wires":[["9d9f4605.6ab858"]]},{"id":"eeea567.6bc85a8","type":"debug","z":"681190a4.3fa52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":520,"wires":[]},{"id":"9d9f4605.6ab858","type":"function","z":"681190a4.3fa52","name":"Decode telegram","func":"var outPayload = [];\n\nfor (var i=0; i<msg.payload.length; i++) {\n    var row = msg.payload[i];\n    var rawBuffer = new Buffer(row.telegram, \"base64\");\n    var telegram = JSON.parse(rawBuffer.toString(\"utf8\"));\n    var outRow = {\n        \"time\":row.time,\n        \"input\":row.input,\n        \"type\":row.type,\n        \"src\":row.src,\n        \"dest\":row.dest,\n        \"telegram\":telegram\n    };\n    outPayload.push(outRow);\n}\n\nmsg.payload = outPayload;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":480,"wires":[["eeea567.6bc85a8"]]},{"id":"cba31704.40d738","type":"function","z":"ae93cab8.831958","name":"string or object","func":"try {\n    var msgPayload = JSON.parse(msg.payload.msg);\n} catch (e) {\n    return {\"topic\":\"string\", \"from\":msg.payload.from, \"payload\":msg.payload.msg};\n}\nvar msgOut = {\"topic\":\"object\", \"from\":msg.payload.from, \"payload\":msgPayload};\nreturn msgOut;","outputs":1,"noerr":0,"x":500,"y":500,"wires":[["cab2f587.923218","7b6fee92.90c7f"]]},{"id":"cab2f587.923218","type":"debug","z":"ae93cab8.831958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":500,"wires":[]},{"id":"196acbd0.d7e094","type":"debug","z":"ae93cab8.831958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1070,"y":800,"wires":[]},{"id":"c8a37902.22eb98","type":"md5","z":"ae93cab8.831958","name":"","fieldToHash":"msg.req.files[0].buffer","fieldTypeToHash":"msg","hashField":"msg.req.files[0].bufferMd5","hashFieldType":"msg","x":690,"y":840,"wires":[["ff463d05.8425d"]]},{"id":"63ad8fcc.0ee71","type":"inject","z":"3f734aed.d110e6","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":320,"wires":[["958f3d4c.fe4e2","9181062f.126b98","9d985133.8f389","8c3bbc9b.a8cfd","69623161.0e9a1","4c339bb0.135e54"]]},{"id":"958f3d4c.fe4e2","type":"Drives","z":"3f734aed.d110e6","name":"","x":870,"y":80,"wires":[["9fc214da.3f7b08","8ac56c7a.c20c4"]]},{"id":"9181062f.126b98","type":"Uptime","z":"3f734aed.d110e6","name":"","x":900,"y":200,"wires":[["a5dcbb64.df83e8","40377851.ad5228"]]},{"id":"9d985133.8f389","type":"Loadavg","z":"3f734aed.d110e6","name":"","x":900,"y":320,"wires":[["28a8c620.adf4fa","afb92f8f.60c16"]]},{"id":"5c3908a0.e47a18","type":"NetworkIntf","z":"3f734aed.d110e6","name":"","x":270,"y":420,"wires":[["83f815c4.b9b948","78194a8b.0caba4","7a7d1842.8aea28"]]},{"id":"8c3bbc9b.a8cfd","type":"Memory","z":"3f734aed.d110e6","name":"","x":900,"y":440,"wires":[["25282040.f581a","799b0533.ac65cc"]]},{"id":"1b753197.d465de","type":"CPUs","z":"3f734aed.d110e6","name":"","x":290,"y":260,"wires":[["6bd67276.5d8ffc","39d1d62d.9da76a","8ab952a6.f4f6f"]]},{"id":"7493a3c8.46372c","type":"OS","z":"3f734aed.d110e6","name":"","x":290,"y":80,"wires":[["e957c50f.9376d8","1e735dd3.38fa92","6ae84467.ca5b1c","d0946bb2.3a3b08"]]},{"id":"1a7a36ec.1eac69","type":"inject","z":"3f734aed.d110e6","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":260,"wires":[["7493a3c8.46372c","1b753197.d465de","5c3908a0.e47a18"]]},{"id":"e957c50f.9376d8","type":"debug","z":"3f734aed.d110e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":80,"wires":[]},{"id":"9fc214da.3f7b08","type":"debug","z":"3f734aed.d110e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":80,"wires":[]},{"id":"1e735dd3.38fa92","type":"ui_text","z":"3f734aed.d110e6","group":"a4cb356.72ddcc8","order":0,"width":0,"height":0,"name":"","label":"Hostname","format":"{{msg.payload.hostname}}","layout":"row-spread","x":490,"y":120,"wires":[]},{"id":"6ae84467.ca5b1c","type":"ui_text","z":"3f734aed.d110e6","group":"a4cb356.72ddcc8","order":0,"width":0,"height":0,"name":"","label":"Typ","format":"{{msg.payload.type}}","layout":"row-spread","x":470,"y":160,"wires":[]},{"id":"d0946bb2.3a3b08","type":"ui_text","z":"3f734aed.d110e6","group":"a4cb356.72ddcc8","order":0,"width":0,"height":0,"name":"","label":"Release","format":"{{msg.payload.release}}","layout":"row-spread","x":480,"y":200,"wires":[]},{"id":"6bd67276.5d8ffc","type":"debug","z":"3f734aed.d110e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":260,"wires":[]},{"id":"39d1d62d.9da76a","type":"ui_text","z":"3f734aed.d110e6","group":"e4f297c5.a89eb8","order":0,"width":0,"height":0,"name":"","label":"CPU Typ","format":"{{msg.payload.cpus[0].model}}","layout":"row-spread","x":480,"y":300,"wires":[]},{"id":"8ab952a6.f4f6f","type":"ui_text","z":"3f734aed.d110e6","group":"e4f297c5.a89eb8","order":0,"width":0,"height":0,"name":"","label":"CPU Anzahl","format":"{{msg.payload.cpus.length}}","layout":"row-spread","x":490,"y":340,"wires":[]},{"id":"83f815c4.b9b948","type":"debug","z":"3f734aed.d110e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":420,"wires":[]},{"id":"78194a8b.0caba4","type":"ui_text","z":"3f734aed.d110e6","group":"e4f297c5.a89eb8","order":0,"width":0,"height":0,"name":"","label":"Ethernet","format":"{{msg.payload.networkInterfaces.eth0[0].cidr}}","layout":"row-spread","x":480,"y":460,"wires":[]},{"id":"7a7d1842.8aea28","type":"ui_text","z":"3f734aed.d110e6","group":"e4f297c5.a89eb8","order":0,"width":0,"height":0,"name":"","label":"WLAN","format":"{{msg.payload.networkInterfaces.wlan0[0].cidr}}","layout":"row-spread","x":470,"y":500,"wires":[]},{"id":"31346d87.ecd7d2","type":"ui_gauge","z":"3f734aed.d110e6","name":"","group":"fc543706.718ff8","order":1,"width":"3","height":"2","gtype":"gage","title":"Systemspeicher","label":"GB","format":"{{msg.payload}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1420,"y":120,"wires":[]},{"id":"8ac56c7a.c20c4","type":"function","z":"3f734aed.d110e6","name":"setup Gauge","func":"var maxSize = msg.payload[0].size / 1024 / 1024;\nvar maxOut = Math.round (msg.payload[0].size / 1024 / 10.24) / 100;\n\nvar newMsg = {};\nnewMsg.ui_control = {\n    min:0,\n    max:maxOut,\n    seg1:maxSize*0.8,\n    seg2:maxSize*0.9};\nnewMsg.payload = Math.round (msg.payload[0].used / 1024 / 10.24) / 100;\nnewMsg.topic = \"Storage\"\nreturn newMsg;","outputs":1,"noerr":0,"x":1110,"y":120,"wires":[["31346d87.ecd7d2"]]},{"id":"86f0ad73.f2925","type":"ui_text","z":"3f734aed.d110e6","group":"a4cb356.72ddcc8","order":0,"width":"0","height":"0","name":"","label":"Uptime","format":"{{msg.payload}}","layout":"row-spread","x":1400,"y":240,"wires":[]},{"id":"a5dcbb64.df83e8","type":"debug","z":"3f734aed.d110e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":200,"wires":[]},{"id":"40377851.ad5228","type":"function","z":"3f734aed.d110e6","name":"format Time","func":"var seconds = msg.payload.uptime % 60;\nvar strSeconds\nif (seconds >= 10){\n    strSeconds = seconds;\n}else{\n    strSeconds = \"0\"+seconds;\n}\nvar minutes = (msg.payload.uptime - seconds) / 60 % 60;\nvar strMinutes\nif (minutes >= 10){\n    strMinutes = minutes;\n}else{\n    strMinutes = \"0\"+minutes;\n}\nvar hours = (msg.payload.uptime - seconds - minutes * 60) / 3600;\n\nreturn {payload:hours+\":\"+strMinutes+\":\"+strSeconds};","outputs":1,"noerr":0,"x":1110,"y":240,"wires":[["86f0ad73.f2925"]]},{"id":"28a8c620.adf4fa","type":"debug","z":"3f734aed.d110e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":320,"wires":[]},{"id":"146d2dda.06c0b2","type":"ui_gauge","z":"3f734aed.d110e6","name":"","group":"fc543706.718ff8","order":3,"width":"3","height":"2","gtype":"gage","title":"CPU-Last","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"90","x":1400,"y":360,"wires":[]},{"id":"afb92f8f.60c16","type":"function","z":"3f734aed.d110e6","name":"getMaxLoad","func":"var max = msg.payload.loadavg[0];\nif (max < msg.payload.loadavg[1]){\n    max = msg.payload.loadavg[1];\n}\nif (max < msg.payload.loadavg[2]){\n    max = msg.payload.loadavg[2];\n}\nvar msg1 = {payload:Math.round(max *1000) / 10};\nmsg1.topic = \"Load\"\nreturn msg1;","outputs":1,"noerr":0,"x":1110,"y":360,"wires":[["146d2dda.06c0b2","3f3e7cba.f5a494"]]},{"id":"25282040.f581a","type":"debug","z":"3f734aed.d110e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":440,"wires":[]},{"id":"2b4e1ebf.cf8332","type":"ui_gauge","z":"3f734aed.d110e6","name":"","group":"fc543706.718ff8","order":2,"width":"3","height":"2","gtype":"gage","title":"Arbeitsspeicher","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"90","x":1420,"y":480,"wires":[]},{"id":"f9159546.fe2cc8","type":"function","z":"3f734aed.d110e6","name":"getTemp","func":"msg.topic = \"Temp\"\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":580,"wires":[["3f3e7cba.f5a494","46e136ff.db4c78"]]},{"id":"3f3e7cba.f5a494","type":"ui_chart","z":"3f734aed.d110e6","name":"","group":"fc543706.718ff8","order":6,"width":"12","height":"8","label":"CPU","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1390,"y":620,"wires":[[]]},{"id":"799b0533.ac65cc","type":"function","z":"3f734aed.d110e6","name":"getMaxLoad","func":"var msg1 = {payload:msg.payload.memusage};\nmsg1.topic = \"Ram\"\nreturn msg1;","outputs":1,"noerr":0,"x":1110,"y":480,"wires":[["2b4e1ebf.cf8332","3f3e7cba.f5a494"]]},{"id":"69623161.0e9a1","type":"vcgencmd","z":"3f734aed.d110e6","name":"","fullPath":"/opt/vc/bin/vcgencmd","command":"measure_temp","codec":"H264","clock":"core","voltage":"core","memory":"arm","videoOutput":"0","separateMsg":false,"x":900,"y":580,"wires":[["f9159546.fe2cc8","ea482684.420c28"]]},{"id":"4c339bb0.135e54","type":"vcgencmd","z":"3f734aed.d110e6","name":"","fullPath":"/opt/vc/bin/vcgencmd","command":"measure_clock","codec":"H264","clock":"arm","voltage":"core","memory":"arm","videoOutput":"0","separateMsg":false,"x":890,"y":760,"wires":[["b938eaa8.6ef1d8","7ac3e6c8.d0d648"]]},{"id":"b938eaa8.6ef1d8","type":"function","z":"3f734aed.d110e6","name":"getTemp","func":"\nmsg.topic = \"Temp\"\nvar msg1 = {\"payload\":msg.payload / 1e6, \"topic\":\"Takt\"};\nreturn msg1;","outputs":1,"noerr":0,"x":1120,"y":760,"wires":[["d3cfa04d.b5882"]]},{"id":"d3cfa04d.b5882","type":"ui_chart","z":"3f734aed.d110e6","name":"","group":"fc543706.718ff8","order":7,"width":"12","height":"5","label":"CPU Takt","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1200","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1400,"y":760,"wires":[[]]},{"id":"ea482684.420c28","type":"debug","z":"3f734aed.d110e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":540,"wires":[]},{"id":"7ac3e6c8.d0d648","type":"debug","z":"3f734aed.d110e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":720,"wires":[]},{"id":"f8f098ea.6f2bf8","type":"inject","z":"681190a4.3fa52","name":"","topic":"","payload":"telegram","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["54218ff3.e7e09"]]},{"id":"54218ff3.e7e09","type":"function","z":"681190a4.3fa52","name":"clearTable","func":"msg.topic = \"DELETE FROM \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":120,"wires":[["4e7ce01e.1117d"]]},{"id":"b6794b29.74d2a8","type":"debug","z":"681190a4.3fa52","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":340,"wires":[]},{"id":"4494aa36.091524","type":"debug","z":"681190a4.3fa52","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":340,"wires":[]},{"id":"48f4c75c.ea8f28","type":"function","z":"767c2e0e.5b286","name":"ServerPubish","func":"var publishMsg = [{\n//Nachrichtentyp\n  \"msgId\":90,\n//Server-Daten\n  \"time\":Date.now(),\n  \"logging\":true,\n  \"archiv\":true,\n  \"alarming\":true\n}]\nvar msgString = JSON.stringify(publishMsg)\nvar msgTelegram = {\"payload\":\n    {\n        \"dest\":msg.from,\n        \"from\":global.get('MeshID'),\n        \"type\":9,\n        \"msg\":msgString\n    }\n};\n\n\nreturn msgTelegram;","outputs":1,"noerr":0,"x":440,"y":540,"wires":[["f7fc98f3.f6e858","656712f2.cb6fdc"]]},{"id":"80ff2784.1a4ee8","type":"switch","z":"767c2e0e.5b286","name":"msgId 9x","property":"payload.msgId","propertyType":"msg","rules":[{"t":"eq","v":"90","vt":"num"},{"t":"eq","v":"91","vt":"num"},{"t":"eq","v":"92","vt":"num"},{"t":"eq","v":"93","vt":"num"},{"t":"eq","v":"94","vt":"num"},{"t":"eq","v":"95","vt":"num"},{"t":"eq","v":"99","vt":"num"}],"checkall":"true","repair":false,"outputs":7,"x":140,"y":600,"wires":[["dc7530d7.42f5d"],["48f4c75c.ea8f28","773ea070.35d9"],["c4dac41a.39fd18","173482b0.8a01bd"],["5b3f466f.0d3118","328bffe4.74aba"],["ad2e8789.86e718","c57652b5.e153f"],["1e5b4cec.e90043","95d0209e.64d68"],["251bf75d.fca198","54d6d7c8.e5d9e8"]],"inputLabels":["ServerClient-Message"],"outputLabels":["srvPublish [90]","srvRequest [91]","archivData [92]","alarm [93]","alarmAck [94]","hello [95]","failLog [99]"]},{"id":"bb6d80c9.cdaec","type":"link in","z":"767c2e0e.5b286","name":"IOT::ServerRecvMsg","links":["7b6fee92.90c7f"],"x":195,"y":100,"wires":[["1b86dd3c.58d133"]]},{"id":"f7fc98f3.f6e858","type":"debug","z":"767c2e0e.5b286","name":"SrvPublish Telegram","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":580,"wires":[]},{"id":"5ca6399f.234858","type":"split","z":"767c2e0e.5b286","name":"Array2SingleMsg","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":150,"y":200,"wires":[["b40369fa.91b758","80ff2784.1a4ee8"]]},{"id":"b40369fa.91b758","type":"debug","z":"767c2e0e.5b286","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":110,"y":240,"wires":[]},{"id":"1b86dd3c.58d133","type":"switch","z":"767c2e0e.5b286","name":"checkIfObject","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"object","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":160,"y":160,"wires":[["5ca6399f.234858"]]},{"id":"656712f2.cb6fdc","type":"link out","z":"767c2e0e.5b286","name":"IOT::ServerSendMsg","links":["6f2f5ab.6c257a4"],"x":675,"y":140,"wires":[]},{"id":"73066b67.966604","type":"function","z":"767c2e0e.5b286","name":"ServerPubish/Hello","func":"var publishMsg = [{\n//Nachrichtentyp\n  \"msgId\":95,\n//Server-Daten\n  \"name\":\"Node-RED\"\n},{\n//Nachrichtentyp\n  \"msgId\":90,\n//Server-Daten\n  \"time\":Math.floor(Date.now()/1000),\n  \"logging\":true,\n  \"archiv\":true,\n  \"alarming\":true\n}]\nvar msgString = JSON.stringify(publishMsg)\nvar msgTelegram = {\"payload\":\n    {\n        \"dest\":0,\n        \"from\":global.get('MeshID'),\n        \"type\":8,\n        \"msg\":msgString\n    }\n};\n\n\nreturn msgTelegram;","outputs":1,"noerr":0,"x":450,"y":140,"wires":[["4e839477.f6c3dc","656712f2.cb6fdc"]]},{"id":"4e839477.f6c3dc","type":"debug","z":"767c2e0e.5b286","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":180,"wires":[]},{"id":"aeeaadcc.c4287","type":"inject","z":"767c2e0e.5b286","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":100,"wires":[["73066b67.966604"]]},{"id":"46e136ff.db4c78","type":"ui_gauge","z":"3f734aed.d110e6","name":"","group":"fc543706.718ff8","order":4,"width":"3","height":"2","gtype":"gage","title":"CPU-Temp","label":"°C","format":"{{msg.payload}}","min":"20","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"70","x":1410,"y":580,"wires":[]},{"id":"dc7530d7.42f5d","type":"debug","z":"767c2e0e.5b286","name":"SrvPublish Msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":240,"wires":[]},{"id":"773ea070.35d9","type":"debug","z":"767c2e0e.5b286","name":"SrvRequest Msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":500,"wires":[]},{"id":"c4dac41a.39fd18","type":"debug","z":"767c2e0e.5b286","name":"ArchivData Msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":660,"wires":[]},{"id":"173482b0.8a01bd","type":"function","z":"767c2e0e.5b286","name":"TODO 2DB","func":"var msgTelegram = {\"topic\":msg.payload.element,\n    \"payload\":msg.payload.value\n};\n\n\nreturn msgTelegram;","outputs":1,"noerr":0,"x":430,"y":700,"wires":[["4832c1f1.4e302","dceb14f4.afc518"]]},{"id":"5b3f466f.0d3118","type":"debug","z":"767c2e0e.5b286","name":"Alarm Msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":760,"wires":[]},{"id":"328bffe4.74aba","type":"function","z":"767c2e0e.5b286","name":"TODO 2DB and Ack","func":"var publishMsg = {\n//Nachrichtentyp\n  \"msgId\":90,\n//Server-Daten\n  \"time\":Date.now(),\n  \"logging\":true,\n  \"archiv\":true,\n  \"alarming\":true\n}\nvar msgString = JSON.stringify(publishMsg)\nvar msgTelegram = {\"payload\":\n    {\n        \"dest\":msg.from,\n        \"from\":global.get('MeshID'),\n        \"type\":9,\n        \"msg\":msgString\n    }\n};\n\n\nreturn msgTelegram;","outputs":1,"noerr":0,"x":460,"y":800,"wires":[[]]},{"id":"ad2e8789.86e718","type":"debug","z":"767c2e0e.5b286","name":"AlarmAck Msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":860,"wires":[]},{"id":"c57652b5.e153f","type":"function","z":"767c2e0e.5b286","name":"TODO 2DB","func":"var publishMsg = {\n//Nachrichtentyp\n  \"msgId\":90,\n//Server-Daten\n  \"time\":Date.now(),\n  \"logging\":true,\n  \"archiv\":true,\n  \"alarming\":true\n}\nvar msgString = JSON.stringify(publishMsg)\nvar msgTelegram = {\"payload\":\n    {\n        \"dest\":msg.from,\n        \"from\":global.get('MeshID'),\n        \"type\":9,\n        \"msg\":msgString\n    }\n};\n\n\nreturn msgTelegram;","outputs":1,"noerr":0,"x":430,"y":900,"wires":[[]]},{"id":"1e5b4cec.e90043","type":"debug","z":"767c2e0e.5b286","name":"Hello Msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":420,"y":960,"wires":[]},{"id":"95d0209e.64d68","type":"function","z":"767c2e0e.5b286","name":"TODO 2List","func":"var publishMsg = {\n//Nachrichtentyp\n  \"msgId\":90,\n//Server-Daten\n  \"time\":Date.now(),\n  \"logging\":true,\n  \"archiv\":true,\n  \"alarming\":true\n}\nvar msgString = JSON.stringify(publishMsg)\nvar msgTelegram = {\"payload\":\n    {\n        \"dest\":msg.from,\n        \"from\":global.get('MeshID'),\n        \"type\":9,\n        \"msg\":msgString\n    }\n};\n\n\nreturn msgTelegram;","outputs":1,"noerr":0,"x":430,"y":1000,"wires":[[]]},{"id":"251bf75d.fca198","type":"debug","z":"767c2e0e.5b286","name":"FailLog Msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":1060,"wires":[]},{"id":"54d6d7c8.e5d9e8","type":"function","z":"767c2e0e.5b286","name":"TODO 2DB","func":"var publishMsg = {\n//Nachrichtentyp\n  \"msgId\":90,\n//Server-Daten\n  \"time\":Date.now(),\n  \"logging\":true,\n  \"archiv\":true,\n  \"alarming\":true\n}\nvar msgString = JSON.stringify(publishMsg)\nvar msgTelegram = {\"payload\":\n    {\n        \"dest\":msg.from,\n        \"from\":global.get('MeshID'),\n        \"type\":9,\n        \"msg\":msgString\n    }\n};\n\n\nreturn msgTelegram;","outputs":1,"noerr":0,"x":430,"y":1100,"wires":[[]]},{"id":"f5205994.7e1178","type":"ui_button","z":"3f734aed.d110e6","name":"","group":"fc543706.718ff8","order":5,"width":0,"height":0,"passthru":false,"label":"Reset Charts","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":1110,"y":660,"wires":[["3f3e7cba.f5a494","d3cfa04d.b5882"]]},{"id":"215cf933.d51c96","type":"sqlite","z":"767c2e0e.5b286","mydb":"20e89b3e.722264","sqlquery":"msg.topic","sql":"SELECT name FROM sqlite_master WHERE type='table' AND name=$tableName","name":"DB","x":1030,"y":140,"wires":[["58fa90d3.75c38"]]},{"id":"5436b1f8.deb8f","type":"inject","z":"767c2e0e.5b286","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":100,"wires":[["8f44f5f4.cdca38"]]},{"id":"8f44f5f4.cdca38","type":"function","z":"767c2e0e.5b286","name":"checkTables","func":"//define Tablenames\nflow.set(\"alarmTable\", \"Alarm\");\nflow.set(\"archivTable\", \"Archiv\");\nflow.set(\"failLogTable\", \"FailLog\")\n\n//create Msg-Array\nvar outputMsgs = [];\n\n//add SQl-Query to check if Alarm-Table exists\nvar msgCheckAlarm = {\n    topic:\"SELECT name FROM sqlite_master WHERE type='table' AND name='\"+flow.get(\"alarmTable\")+\"'\",\n    table:\"alarmTable\"\n}\noutputMsgs.push(msgCheckAlarm);\n\n//add SQl-Query to check if Archiv-Table exists\nvar msgCheckArchiv = {\n    topic:\"SELECT name FROM sqlite_master WHERE type='table' AND name='\"+flow.get(\"archivTable\")+\"'\",\n    table:\"archivTable\"\n}\noutputMsgs.push(msgCheckArchiv);\n\n//add SQl-Query to check if FailLog-Table exists\nvar msgCheckFailLog = {\n    topic:\"SELECT name FROM sqlite_master WHERE type='table' AND name='\"+flow.get(\"failLogTable\")+\"'\",\n    table:\"failLogTable\"\n}\noutputMsgs.push(msgCheckFailLog);\n\nreturn [outputMsgs];","outputs":1,"noerr":0,"x":1130,"y":100,"wires":[["215cf933.d51c96"]]},{"id":"58fa90d3.75c38","type":"function","z":"767c2e0e.5b286","name":"createTable","func":"if (msg.payload.length) {\n    msg = null;\n}else{\n    delete msg.payload;\n    switch(msg.table){\n        case \"alarmTable\":\n            msg.topic = \"create table \"+flow.get(\"alarmTable\")+\n                            \" (time integer, \"+\n                            \"node text, \"+\n                            \"prio integer, \"+\n                            \"text text, \"+\n                            \"state integer)\";\n            break;\n        \n        case \"archivTable\":\n            msg.topic = \"create table \"+flow.get(\"archivTable\")+\n                            \" (time integer, \"+\n                            \"node text, \"+\n                            \"element text, \"+\n                            \"datapoint text, \"+\n                            \"value real, \"+\n                            \"type integer)\";\n            break;\n        \n        case \"failLogTable\":\n            msg.topic = \"create table \"+flow.get(\"failLogTable\")+\n                            \" (time integer, \"+\n                            \"type integer, \"+\n                            \"msg text)\";\n            break;\n            \n        default:\n            msg = null;\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1190,"y":140,"wires":[["844800c5.533bb"]],"outputLabels":["Database Query"]},{"id":"844800c5.533bb","type":"sqlite","z":"767c2e0e.5b286","mydb":"20e89b3e.722264","sqlquery":"msg.topic","sql":"SELECT name FROM sqlite_master WHERE type='table' AND name=$tableName","name":"DB","x":1370,"y":240,"wires":[["42467b3e.a6c424"]]},{"id":"42467b3e.a6c424","type":"debug","z":"767c2e0e.5b286","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1510,"y":240,"wires":[]},{"id":"6ab7893e.747978","type":"inject","z":"767c2e0e.5b286","name":"","topic":"","payload":"alarmTable","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1000,"y":200,"wires":[["c75267e0.83aa08"]]},{"id":"c75267e0.83aa08","type":"function","z":"767c2e0e.5b286","name":"deleteTable","func":"msg.topic = \"DROP TABLE \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":240,"wires":[["844800c5.533bb"]]},{"id":"a293c3c6.ef66e","type":"inject","z":"767c2e0e.5b286","name":"","topic":"","payload":"archivTable","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1000,"y":240,"wires":[["c75267e0.83aa08"]]},{"id":"596607f3.87cab8","type":"inject","z":"767c2e0e.5b286","name":"","topic":"","payload":"failLogTable","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1000,"y":280,"wires":[["c75267e0.83aa08"]]},{"id":"98279656.ef13e8","type":"comment","z":"767c2e0e.5b286","name":"Database Config","info":"Hier werden die Datenbanken erstellt falls sie nicht existieren.\nUnd können gelöscht werden um si zu initialisieren.","x":960,"y":40,"wires":[]},{"id":"cfcb7d3.5f9118","type":"comment","z":"767c2e0e.5b286","name":"Server-Client Nachrichten verarbeiten","info":"Das Nachrichten Array wird in einzel Nachrichten aufgeteilt.\nDie Server-Client relevanten Daten werden durch die Split-Funktion an die entsprechenden Unterfunktionen weiter geleitet.","x":190,"y":40,"wires":[]},{"id":"4832c1f1.4e302","type":"ui_chart","z":"767c2e0e.5b286","name":"","group":"fc543706.718ff8","order":6,"width":"12","height":"8","label":"Trending","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":"5","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":760,"y":700,"wires":[[]]},{"id":"dceb14f4.afc518","type":"debug","z":"767c2e0e.5b286","name":"ArchivData Msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":660,"wires":[]}]