Code/NodeRed_Flows/Flow_GetKlimaDataToDB_noMesh.json
[
    {
        "id": "2c16bd47.e189f2",
        "type": "tab",
        "label": "Get KlimaData",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1eae749c.606cbb",
        "type": "mysql",
        "z": "2c16bd47.e189f2",
        "mydb": "3780e74b.67ffb8",
        "name": "DB Aquarium",
        "x": 910,
        "y": 200,
        "wires": [
            [
                "a54389ef.7448a8"
            ]
        ]
    },
    {
        "id": "a54389ef.7448a8",
        "type": "debug",
        "z": "2c16bd47.e189f2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1110,
        "y": 200,
        "wires": []
    },
    {
        "id": "64d9b5b.29cdb4c",
        "type": "udp in",
        "z": "2c16bd47.e189f2",
        "name": "Recv Request",
        "iface": "",
        "port": "43112",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "8ce5d245.9e77c"
            ]
        ]
    },
    {
        "id": "55dabf11.7bba",
        "type": "udp out",
        "z": "2c16bd47.e189f2",
        "name": "Send Request",
        "addr": "192.168.23.22",
        "iface": "",
        "port": "2300",
        "ipv": "udp4",
        "outport": "43112",
        "base64": false,
        "multicast": "false",
        "x": 680,
        "y": 80,
        "wires": []
    },
    {
        "id": "6cbaf840.b83fa8",
        "type": "switch",
        "z": "2c16bd47.e189f2",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Request",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "Request",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 140,
        "wires": [
            [
                "55dabf11.7bba"
            ],
            [
                "bf01c74d.4dc9f8"
            ]
        ]
    },
    {
        "id": "8ce5d245.9e77c",
        "type": "function",
        "z": "2c16bd47.e189f2",
        "name": "ReqHandler",
        "func": "var index;\nvar data;\nif (msg.topic === \"Start\"){\n    index = 0;\n    data = [{\"Tag\":\"TempAquarium\",\"Value\":0},{\"Tag\":\"TempKlima\",\"Value\":0},{\"Tag\":\"SollTemp\",\"Value\":0}];\n}else{\n    index = context.get('index');\n    data = context.get('data');\n    var pLoad = msg.payload.split(\";\");\n    data[index].Value = pLoad[1];\n    index += 1;\n}\nif(index >= data.length){\n    var newMsg = { topic:\"Data\", payload: data };\n    index = 0;\n}else{\n    var newMsg = { topic:\"Request\", payload: \"Get;\"+data[index].Tag };\n}\ncontext.set('index',index);\ncontext.set('data',data);\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "6cbaf840.b83fa8"
            ]
        ]
    },
    {
        "id": "d507e18f.f89ee",
        "type": "inject",
        "z": "2c16bd47.e189f2",
        "name": "Start",
        "topic": "Start",
        "payload": "0",
        "payloadType": "num",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "8ce5d245.9e77c"
            ]
        ]
    },
    {
        "id": "bf01c74d.4dc9f8",
        "type": "function",
        "z": "2c16bd47.e189f2",
        "name": "INSERT Trending",
        "func": "var sqlColumn = \"INSERT INTO trending (\";\nvar sqlValue = \") VALUES (\";\nvar index;\n\nfor (index = 0;index < msg.payload.length;index++){\n    if (index > 0){\n        sqlColumn += \", \";\n        sqlValue += \", \";\n    }\n    sqlColumn += msg.payload[index].Tag;\n    sqlValue += msg.payload[index].Value;\n}\n\nmsg.topic = sqlColumn + sqlValue + \")\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 200,
        "wires": [
            [
                "1eae749c.606cbb"
            ]
        ]
    },
    {
        "id": "3780e74b.67ffb8",
        "type": "MySQLdatabase",
        "z": "",
        "host": "192.168.23.15",
        "port": "3306",
        "db": "aquarium",
        "tz": ""
    }
]