Code/NodeRed_Flows/Flow_Total20200805_mitFutterAutomat.json
[{"id":"3f734aed.d110e6","type":"tab","label":"SystemInfo","disabled":false,"info":""},{"id":"1875e2ea.57ba0d","type":"tab","label":"SQLite Creat/Insert","disabled":false,"info":""},{"id":"ae93cab8.831958","type":"tab","label":"Mesh Protokoll","disabled":false,"info":""},{"id":"681190a4.3fa52","type":"tab","label":"Mesh LogTelegram","disabled":false,"info":""},{"id":"767c2e0e.5b286","type":"tab","label":"Mesh IOT::Server","disabled":false,"info":""},{"id":"c56a903c.b3a7","type":"tab","label":"Mesh IOT::Sync","disabled":false,"info":""},{"id":"12a08fdf.f48f9","type":"subflow","name":"Recv ManAutoValue [BOOL]","info":"","category":"","in":[{"x":40,"y":100,"wires":[{"id":"5c68663.6aa3e98"}]}],"out":[{"x":540,"y":40,"wires":[{"id":"641fcc1b.ffde14","port":0}]},{"x":540,"y":80,"wires":[{"id":"641fcc1b.ffde14","port":1}]},{"x":540,"y":120,"wires":[{"id":"641fcc1b.ffde14","port":2}]},{"x":540,"y":160,"wires":[{"id":"641fcc1b.ffde14","port":3}]},{"x":540,"y":240,"wires":[{"id":"5c68663.6aa3e98","port":0}]}],"env":[{"name":"Elementname","type":"str","value":""}],"color":"#3FADB5","inputLabels":["Sync ReplyMsg"],"outputLabels":["Manual","AutoValue","ManualValue","Value","Selected Msg"],"icon":"node-red/batch.svg"},{"id":"532b8d3b.88f794","type":"subflow","name":"Recv TimeOn/-Off","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"f9e54967.5f70d8"}]}],"out":[{"x":540,"y":40,"wires":[{"id":"7448a068.419dc","port":0}]},{"x":540,"y":80,"wires":[{"id":"7448a068.419dc","port":1}]}],"env":[{"name":"Elementname","type":"str","value":""}],"color":"#3FADB5","inputLabels":["Sync ReplyMsg"],"outputLabels":["TimeOn","TimeOff"],"icon":"node-red/batch.svg"},{"id":"8bde270b.d14148","type":"subflow","name":"Recv Time/Pulse","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"f711ede9.98774"}]}],"out":[{"x":540,"y":40,"wires":[{"id":"60a8ffda.7a9b6","port":0}]},{"x":540,"y":80,"wires":[{"id":"60a8ffda.7a9b6","port":1}]}],"env":[{"name":"Elementname","type":"str","value":""}],"color":"#3FADB5","inputLabels":["Sync ReplyMsg"],"outputLabels":["Time","Pulse"],"icon":"node-red/batch.svg"},{"id":"20e89b3e.722264","type":"sqlitedb","z":"","db":"/home/pi/sqlite/nodered.db","mode":"RWC"},{"id":"a4cb356.72ddcc8","type":"ui_group","z":"","name":"OS","tab":"e713e02d.34511","order":1,"disp":true,"width":"6","collapse":true},{"id":"b2abeab3.6e29b8","type":"ui_group","z":"","name":"FileUpload","tab":"6f81dc60.faebe4","order":1,"disp":true,"width":"6","collapse":false},{"id":"6f81dc60.faebe4","type":"ui_tab","z":"","name":"MeshKonfig","icon":"dashboard","disabled":false,"hidden":false},{"id":"6e540f6e.b5c2b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e713e02d.34511","type":"ui_tab","z":"","name":"System","icon":"dashboard","disabled":false,"hidden":false},{"id":"e4f297c5.a89eb8","type":"ui_group","z":"","name":"Hardware","tab":"e713e02d.34511","order":2,"disp":true,"width":"6","collapse":false},{"id":"fc543706.718ff8","type":"ui_group","z":"","name":"Status","tab":"e713e02d.34511","order":4,"disp":true,"width":"12","collapse":false},{"id":"d5ad079b.802ca8","type":"ui_tab","z":"","name":"IOT Control","icon":"dashboard","disabled":false,"hidden":false},{"id":"e4589c49.84749","type":"ui_group","z":"","name":"WeMos LED","tab":"d5ad079b.802ca8","order":1,"disp":true,"width":"6","collapse":false},{"id":"5087a04d.7e582","type":"ui_group","z":"","name":"WeMoD TestSchaltuhr","tab":"d5ad079b.802ca8","order":2,"disp":true,"width":"6","collapse":false},{"id":"c77c50e6.84104","type":"ui_group","z":"","name":"TestUhrPulse","tab":"d5ad079b.802ca8","order":3,"disp":true,"width":"6","collapse":false},{"id":"4f7bc621.3b3e88","type":"ui_group","z":"","name":"MainPower","tab":"d5ad079b.802ca8","order":4,"disp":true,"width":"6","collapse":false},{"id":"17bec201.5f603e","type":"ui_group","z":"","name":"TimerSonne","tab":"d5ad079b.802ca8","order":5,"disp":true,"width":"6","collapse":false},{"id":"efec9714.6e2c78","type":"ui_group","z":"","name":"BioFilter","tab":"d5ad079b.802ca8","order":6,"disp":true,"width":"6","collapse":false},{"id":"66d16c69.759384","type":"ui_group","z":"","name":"Futter Ansteuerung","tab":"e2e15729.19a748","order":7,"disp":true,"width":"6","collapse":false},{"id":"bce0f5e3.5806e8","type":"ui_group","z":"","name":"Filter","tab":"d5ad079b.802ca8","order":8,"disp":true,"width":"6","collapse":false},{"id":"f6d930ab.7402f","type":"ui_group","z":"","name":"PowerSupp","tab":"d5ad079b.802ca8","order":9,"disp":true,"width":"6","collapse":false},{"id":"a5db319d.dd4d","type":"ui_group","z":"","name":"Luftpumpe","tab":"d5ad079b.802ca8","order":10,"disp":true,"width":"6","collapse":false},{"id":"d2f0e768.8148c8","type":"ui_group","z":"","name":"Heizstab","tab":"d5ad079b.802ca8","order":11,"disp":true,"width":"6","collapse":false},{"id":"24b87b9a.778af4","type":"ui_group","z":"","name":"Sonne","tab":"d5ad079b.802ca8","order":12,"disp":true,"width":"6","collapse":false},{"id":"37188879.8fe7b8","type":"ui_group","z":"","name":"LichtZucht","tab":"d5ad079b.802ca8","order":13,"disp":true,"width":"6","collapse":false},{"id":"e2e15729.19a748","type":"ui_tab","z":"","name":"IOT Futterautomat","icon":"dashboard","disabled":false,"hidden":false},{"id":"fc02b520.990778","type":"ui_group","z":"","name":"Futter Pulse 1","tab":"e2e15729.19a748","order":1,"disp":true,"width":"6","collapse":false},{"id":"56a6e6d6.8701e8","type":"ui_group","z":"","name":"Futter Pulse 2","tab":"e2e15729.19a748","order":2,"disp":true,"width":"6","collapse":false},{"id":"e5ee7e21.1d52a","type":"ui_group","z":"","name":"Futter Pulse 3","tab":"e2e15729.19a748","order":3,"disp":true,"width":"6","collapse":false},{"id":"ff967d59.57b52","type":"comment","z":"ae93cab8.831958","name":"Mesh ChipIDs","info":"ESP32 Display   2759161753\nWeMos D1 mini   3943446713\nNodeMCU Ecke    2139867104\nRO-Anlage       3943445501","x":90,"y":40,"wires":[]},{"id":"9278328d.5b0aa","type":"tcp in","z":"ae93cab8.831958","name":"Listen to Mesh","server":"server","host":"","port":"5555","datamode":"stream","datatype":"buffer","newline":"0","topic":"","base64":false,"x":140,"y":100,"wires":[["d05666d0.d9c358","988f1b3.f4010e8"]]},{"id":"588a5a6b.6fbc74","type":"debug","z":"ae93cab8.831958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":220,"wires":[]},{"id":"887c0685.939a08","type":"function","z":"ae93cab8.831958","name":"msg.payload 2 String[utf8]","func":"var meshId = global.get('MeshID');\nif(meshId){\n    msg.payload = msg.payload.toString('utf8');\n    return msg;\n}else{\n    node.error(\"Init erforderlich\", msg);\n}\n","outputs":1,"noerr":0,"x":250,"y":180,"wires":[["82271408.252078","43162687.663848"]]},{"id":"988f1b3.f4010e8","type":"split","z":"ae93cab8.831958","name":"Nachricht 0-terminiert","splt":"[0]","spltType":"bin","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":260,"y":140,"wires":[["887c0685.939a08","91eaad99.c1ad8"]]},{"id":"82271408.252078","type":"json","z":"ae93cab8.831958","name":"String 2 JsonObject","property":"payload","action":"","pretty":true,"x":270,"y":220,"wires":[["cc98b48e.a190d8","588a5a6b.6fbc74","e3faa157.9ab12"]]},{"id":"cc98b48e.a190d8","type":"switch","z":"ae93cab8.831958","name":"switch Protocol","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":200,"y":400,"wires":[[],[],["895b4646.24ee28"],["ee5a9785.ed6c08"],["cba31704.40d738"],["cba31704.40d738"],[],["ac63414e.96a5d"],[]],"inputLabels":["jObj MeshPackage"],"outputLabels":["TimeDelay [3]","TimeSync [4]","NodeSyncRequest [5]","NodeSyncReply [6]","Broadcase [8]","Single [9]","OtaAnnounce [10]","OtaDataRequest [11]","OtaData [12]"]},{"id":"714432dd.a7e93c","type":"inject","z":"ae93cab8.831958","name":"Trigger Init","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":40,"wires":[["d1d288e7.bc1598"]]},{"id":"d1d288e7.bc1598","type":"function","z":"ae93cab8.831958","name":"Set ID/Name to Flow","func":"flow.set('Connection', 0);\nglobal.set('MeshName', \"NodeRED\");\nglobal.set('MeshID', 111);\nmsg[\"topic\"] = \"Init\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":40,"wires":[[]]},{"id":"e9094893.563c58","type":"function","z":"ae93cab8.831958","name":"Json2Buffer","func":"var msgSend = RED.util.cloneMessage(msg);\nvar strJson = JSON.stringify(msgSend.payload);\nvar bufJson = Buffer.from(strJson, 'utf8');\nvar bufZero = Buffer.from([0x00]);\nvar arrBuffer = [bufJson, bufZero];\nvar bufOut = Buffer.concat(arrBuffer);\n//var inBuffer = Buffer.from(bufJson);\n//var outBuffer = Buffer.concat(inBuffer, Buffer.from([0x00]));\nmsgSend.payload = bufOut;\nmsg[\"topic\"]=\"print\";\nmsgSend[\"topic\"]=\"out\";\nreturn [msg,msgSend];","outputs":2,"noerr":0,"x":1290,"y":540,"wires":[["43764159.77f58"],["a37deb37.a8f038"]],"inputLabels":["msg"],"outputLabels":["printOut","bufferOut"]},{"id":"a37deb37.a8f038","type":"tcp out","z":"ae93cab8.831958","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"Send to Mesh","x":1480,"y":560,"wires":[]},{"id":"43764159.77f58","type":"debug","z":"ae93cab8.831958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":520,"wires":[]},{"id":"8f7bb17c.09d83","type":"mytimeout","z":"ae93cab8.831958","name":"Mesh Watchdog","outtopic":"watchdog","outsafe":"On","outwarning":"Warning","outunsafe":"Off","warning":"50","timer":"120","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":980,"y":260,"wires":[["59013c12.3c0574","fe196548.ab0728"],[]],"outputLabels":["State","Count"]},{"id":"895b4646.24ee28","type":"change","z":"ae93cab8.831958","name":"Receive syncRequest","rules":[{"t":"set","p":"topic","pt":"msg","to":"syncRequest","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":360,"wires":[["89501ddd.f1c26","59013c12.3c0574"]]},{"id":"59013c12.3c0574","type":"function","z":"ae93cab8.831958","name":"Handle MeshSync","func":"var msgWatchdog = null;\nvar msgTelegram = null;\nvar msgTrigger = null;\nswitch(msg.topic){\n    case \"syncRequest\":\n        //-----------------------\n        // Request verarbeiten\n        //-----------------------\n        //Ermittle Partner-ID\n        flow.set('PartnerID', msg.from);\n\n        //Reply Telegramm erzeugen\n        msgTelegram = {\"payload\":\n            {\n                \"nodeId\":global.get('MeshID'),\n                \"dest\":msg.from,\n                \"from\":global.get('MeshID'),\n                \"type\":6,\n                \"subs\":[]\n            }\n        };\n        \n        //Watchdog starten\n        msgWatchdog = {\"payload\":1};\n\n        //Mesh-Status aktuallisieren\n        global.set('MeshState', \"Online\");\n        break;\n\n    case \"sycnReply\":\n        //-----------------------\n        // Reply speichern\n        //-----------------------\n        //Topologie speichern\n        var topology = {\"nodeId\":msg.from,\n            \"root\":true,\n            \"subs\":msg.subs};\n        global.set('MeshTopology', topology);\n        \n        //Watchdog starten\n        msgWatchdog = {\"payload\":1};\n\n        //Mesh-Status aktuallisieren\n        global.set('MeshState', \"Online\");\n        break;\n\n    case \"watchdog\":\n        //-----------------------\n        // Watchdog verarbeiten\n        //-----------------------\n        switch(msg.payload){\n            case \"Warning\":\n                //Mesh-Status aktuallisieren\n                global.set('MeshState', \"Bad\");\n                break;\n                \n            case \"Off\":\n                //Mesh-Status aktuallisieren\n                global.set('MeshState', \"Offline\");\n                msgTrigger = {\"payload\":1};\n                break;\n        }\n        break;\n\n    case \"trigger\":\n        //-----------------------\n        // Request Telegram erstellen\n        //-----------------------\n        //-----------------------\n        // Trigger verarbeiten\n        //-----------------------\n        switch(msg.payload){\n            case \"Warning\":\n            case \"Off\":\n                if (global.get('MeshState') == \"Offline\"){\n                    // Trigger neu anstossen\n                    msgWatchdog = {\"payload\":1};\n                    //Request senden\n                    msgTelegram = {\"payload\":\n                        {\n                            \"nodeId\":global.get('MeshID'),\n                            \"dest\":flow.get('PartnerID'),\n                            \"from\":global.get('MeshID'),\n                            \"type\":5,\n                            \"subs\":[]\n                        }\n                };\n                    \n                }\n                break;\n        }\n}\n\nreturn [msgWatchdog,msgTelegram,msgTrigger];\n\n","outputs":3,"noerr":0,"x":970,"y":360,"wires":[["8f7bb17c.09d83","fe196548.ab0728"],["e9094893.563c58","56e7554d.d891fc"],["59d879e2.f26298","3e13eb1.b242514"]],"outputLabels":["Watchdog","Telegram","Trigger"]},{"id":"ee5a9785.ed6c08","type":"change","z":"ae93cab8.831958","name":"Receive syncReply","rules":[{"t":"set","p":"topic","pt":"msg","to":"syncReply","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":400,"wires":[["59013c12.3c0574","89501ddd.f1c26"]]},{"id":"afbeb21e.9508b","type":"comment","z":"ae93cab8.831958","name":"Sync Protokoll","info":"# NodeSyncRequest[5] empfangen\n -  mit NodeSyncReply[6] beantworten\n - Mesh-Stauts Online\n    - global.\"MeshState\"\n\n# NodeSyncReply[6] empfangen\n - Topologie speichern\n    - global.\"MeshTopology\"\n\n# Trigger (5s) nach letztem Request\n - NodeSyncRequest[5] senden\n\n# WatchDog (10s) nach letztem Request\n - Mesh-Stauts Offline\n    - global.\"MeshState\"","x":490,"y":320,"wires":[]},{"id":"ef5fe190.03fe4","type":"comment","z":"ae93cab8.831958","name":"Data Telegramme","info":"","x":500,"y":460,"wires":[]},{"id":"89501ddd.f1c26","type":"debug","z":"ae93cab8.831958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":320,"wires":[]},{"id":"7b6fee92.90c7f","type":"link out","z":"ae93cab8.831958","name":"LinkMeshDataIn","links":["bb6d80c9.cdaec","f25533f9.5b5e6"],"x":755,"y":540,"wires":[]},{"id":"6f2f5ab.6c257a4","type":"link in","z":"ae93cab8.831958","name":"LinkMeshDataOut","links":["c7ecb71c.07e868","656712f2.cb6fdc","6bb58f2c.851a"],"x":1075,"y":540,"wires":[["e9094893.563c58"]]},{"id":"827d58fb.ed4068","type":"mytimeout","z":"ae93cab8.831958","name":"MeshSyncTimer","outtopic":"watchdog","outsafe":"On","outwarning":"Warning","outunsafe":"Off","warning":"8","timer":"10","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":900,"y":860,"wires":[["ff463d05.8425d"],[]],"outputLabels":["State","Count"]},{"id":"ff463d05.8425d","type":"function","z":"ae93cab8.831958","name":"Handle MeshOTA","func":"var msgWatchdog = null;\nvar msgTelegram = null;\nvar msgDebug = null;\nvar data;\nvar ota;\nswitch(msg.topic){\n    case \"newFile\":\n        //-----------------------\n        // Dateiinformationen einlesen\n        //-----------------------\n        \n        // Blockanzahl ermitteln\n        var fullBlocks = Math.floor(msg.req.files[0].size / 1024);\n        var numOfBlocks = fullBlocks;\n        if (fullBlocks * 1024 < msg.req.files[0].size){\n            numOfBlocks++;\n        }\n        \n        // Force-Anforderung prüfen\n        var forced;\n        if (\"force\" in msg.payload){\n            forced = msg.payload.force;\n        }else{\n            forced = false;\n        }\n        \n        // OTA Daten zusammen stellen\n        ota = {\n            \"role\":msg.payload.role,\n            \"hardware\":msg.payload.hardware,\n            \"md5\":msg.req.files[0].bufferMd5,\n            \"forced\":forced,\n            \"noPart\":numOfBlocks,\n            \"file\":msg.req.files[0].buffer\n        };\n        flow.set(\"otaAnnounce\",ota);\n        \n        msgDebug = msg;\n        msgDebug[\"ota\"] = ota;\n        \n        //Announce Telegramm erzeugen\n        msgTelegram = {\"payload\":\n            {\n                \"dest\":0,\n                \"from\":global.get('MeshID'),\n                \"type\":10,\n                \"role\":ota.role,\n                \"hardware\":ota.hardware,\n                \"md5\":ota.md5,\n                \"forced\":ota.forced,\n                \"noPart\":ota.noPart\n            }\n        };\n        \n        //Watchdog starten\n        msgWatchdog = {\"payload\":1};\n        \n        //OTA-Status aktuallisieren\n        global.set('OtaState', \"Send\");\n        break;\n\n    case \"newRequest\":\n        //-----------------------\n        // OTA-File einlesen und Daten senden\n        //-----------------------\n        ota = flow.get(\"otaAnnounce\");\n        var rawBuffer = ota.file.slice(msg.payload.partNo * 1024,(1+msg.payload.partNo)*1024);\n        var strBuffer = rawBuffer.toString(\"base64\");\n        \n        //Data Telegramm erzeugen\n        msgTelegram = {\"payload\":\n            {\n                \"dest\":msg.payload.from,\n                \"from\":global.get('MeshID'),\n                \"type\": 12,\n                \"role\":ota.role,\n                \"hardware\":ota.hardware,\n                \"md5\":ota.md5,\n                \"forced\":ota.forced,\n                \"noPart\":ota.noPart,\n                \"partNo\":msg.payload.partNo,\n                \"data\":strBuffer\n            }\n        };\n        \n        //Watchdog starten\n        msgWatchdog = {\"payload\":1};\n        \n        //OTA-Status aktuallisieren\n        global.set('OtaState', \"Activ\");\n        break;\n\n    case \"watchdog\":\n        //-----------------------\n        // Watchdog verarbeiten\n        //-----------------------\n        switch(msg.payload){\n            case \"Warning\":\n                //OTA-Status aktuallisieren\n                global.set('OtaState', \"Inactiv\");\n                break;\n                \n            case \"Off\":\n                //OTA-Status aktuallisieren\n                global.set('OtaState', \"Ready\");\n                break;\n        }\n}\n\nreturn [msgTelegram,msgDebug,msgWatchdog];\n","outputs":3,"noerr":0,"x":890,"y":800,"wires":[["e9094893.563c58"],["196acbd0.d7e094"],["827d58fb.ed4068"]],"outputLabels":["Telegram","Debug","Watchdog"]},{"id":"c89d6c3c.cecea","type":"comment","z":"ae93cab8.831958","name":"OTA Protokoll","info":"# File-Upload empfangen\n- File in flow.otaFile speichern\n- OTA::Announce[10] senden\n    - `{`\n    - `  \"dest\": Partner-ID,`\n    - `  \"from\": NodeRed-ID,`\n    - `  \"type\": 10,`\n    - `  \"role\":fw.variant,`\n    - `  \"hardware\":fw.hw,`\n    - `  \"md5\":fw.md5,`\n    - `  \"forced\":true/false,`\n    - `  \"noPart\":fw.noPart`\n    - `}`\n\n# OTA::DataRequest[11] empfangen\n- Telegramm:\n    - `{`\n    - `  \"dest\": NodeRed-ID,`\n    - `  \"from\": Partner-ID,`\n    - `  \"type\": 11,`\n    - `  \"role\":fw.variant,`\n    - `  \"hardware\":fw.hw,`\n    - `  \"md5\":fw.md5,`\n    - `  \"forced\":true/false,`\n    - `  \"noPart\":fw.noPart,`\n    - `  \"partNo\":bufferSegment`\n    - `}`\n- Datenblock auswählen\n- OTA::Data[12] senden\n    - `{`\n    - `  \"dest\": NodeRed-ID,`\n    - `  \"from\": Partner-ID,`\n    - `  \"type\": 12,`\n    - `  \"role\":fw.variant,`\n    - `  \"hardware\":fw.hw,`\n    - `  \"md5\":fw.md5,`\n    - `  \"forced\":true/false,`\n    - `  \"noPart\":fw.noPart,`\n    - `  \"partNo\":bufferSegment,`\n    - `  \"data\":base64String`\n    - `}`\n\n# Trigger (5s) nach letztem Request\n - NodeSyncRequest[5] senden\n\n# WatchDog (10s) nach letztem Request\n - Mesh-Stauts Offline\n    - global.\"MeshState\"","x":490,"y":760,"wires":[]},{"id":"a6534161.8bd91","type":"ui_template","z":"ae93cab8.831958","group":"b2abeab3.6e29b8","name":"","order":0,"width":"6","height":"4","format":"<form action=\"/file-upload\" method=\"post\" enctype=\"multipart/form-data\">\nFW-File : <input type=\"file\" name=\"fileToUpload\" id=\"fileToUpload\"><br>\nHardware: <input type=\"text\" name=\"hardware\" id=\"hardware\" value=\"ESP8266\"><br>\nNodeRole: <input type=\"text\" name=\"role\" id=\"role\" value=\"Test\"><br>\nForce: <input type=\"checkbox\" name=\"force\" id=\"force\" value=\"1\">\n<input type=\"submit\" value=\"Submit\">\n</form>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":320,"y":800,"wires":[[]]},{"id":"c1310b63.e7c748","type":"http in","z":"ae93cab8.831958","name":"newFile","url":"/file-upload","method":"post","upload":true,"swaggerDoc":"","x":330,"y":840,"wires":[["69469f90.85dcd","ee555902.ab1838"]]},{"id":"6f805212.54d6cc","type":"http response","z":"ae93cab8.831958","name":"","statusCode":"","headers":{},"x":630,"y":880,"wires":[]},{"id":"69469f90.85dcd","type":"function","z":"ae93cab8.831958","name":"Upload Done","func":"msg.statusCode = 303;\nmsg.headers = {\n    Location: \"http://192.168.23.19:1880/ui\"\n}\ndelete msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":880,"wires":[["6f805212.54d6cc"]]},{"id":"ac63414e.96a5d","type":"change","z":"ae93cab8.831958","name":"Receive newRequest","rules":[{"t":"set","p":"topic","pt":"msg","to":"newRequest","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":800,"wires":[["ff463d05.8425d"]]},{"id":"ee555902.ab1838","type":"change","z":"ae93cab8.831958","name":"Receive newFile","rules":[{"t":"set","p":"topic","pt":"msg","to":"newFile","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":840,"wires":[["c8a37902.22eb98"]]},{"id":"3e13eb1.b242514","type":"mytimeout","z":"ae93cab8.831958","name":"Mesh Trigger","outtopic":"trigger","outsafe":"On","outwarning":"Warning","outunsafe":"Off","warning":"3","timer":"6","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":990,"y":420,"wires":[["59013c12.3c0574"],[]],"outputLabels":["State","Count"]},{"id":"11ac7968.4fc657","type":"inject","z":"ae93cab8.831958","name":"","topic":"1","payload":"","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":750,"y":260,"wires":[["8f7bb17c.09d83"]]},{"id":"fe196548.ab0728","type":"debug","z":"ae93cab8.831958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":320,"wires":[]},{"id":"56e7554d.d891fc","type":"debug","z":"ae93cab8.831958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":360,"wires":[]},{"id":"59d879e2.f26298","type":"debug","z":"ae93cab8.831958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":400,"wires":[]},{"id":"9585a0a5.573ea","type":"debug","z":"1875e2ea.57ba0d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":420,"wires":[]},{"id":"2eac2855.bd1f08","type":"inject","z":"1875e2ea.57ba0d","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":300,"wires":[["389c1db.e73ebe2"]]},{"id":"ee08b880.b764e8","type":"sqlite","z":"1875e2ea.57ba0d","mydb":"20e89b3e.722264","sqlquery":"msg.topic","sql":"SELECT name FROM sqlite_master WHERE type='table' AND name=$tableName","name":"query msq.topic","x":600,"y":340,"wires":[["d952e0da.e8a9d"]]},{"id":"80777204.73c1b","type":"inject","z":"1875e2ea.57ba0d","name":"","topic":"","payload":"testDB","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["5af469e2.d177b8"]]},{"id":"d952e0da.e8a9d","type":"function","z":"1875e2ea.57ba0d","name":"","func":"var msgDbQuery = null;\nvar msgDebugRaw = null;\nvar msgDebugPayload = null;\n\nswitch(msg.query.type){\n    case \"checkTable\":\n        if (msg.payload.length) {\n            msgDebugPayload = {\"payload\":\"Tabelle \"+msg.query.table+\" bereits vorhanden.\"};\n        }else{\n            let topic = \"create table \"+msg.query.table+\" (time Timestamp, value integer)\";\n            let query = {\"type\":\"createTable\", \"table\":msg.query.table};\n            msgDbQuery = {\"topic\":topic, \"query\":query};\n        }\n        msgDebugRaw = msg;\n        break;\n        \n    case \"createTable\":\n        msgDebugRaw = msg;\n        break;\n        \n    case \"select\":\n        msgDebugPayload = msg;\n        break;\n        \n    default:\n        msgDebugRaw = msg;\n        break;\n}\n\nreturn [msgDbQuery, msgDebugRaw, msgDebugPayload];\n","outputs":3,"noerr":0,"x":570,"y":420,"wires":[["ee08b880.b764e8"],["9585a0a5.573ea"],["1509265e.bb969a"]],"outputLabels":["Database Query","Debug Raw","Debug Payload"]},{"id":"5af469e2.d177b8","type":"function","z":"1875e2ea.57ba0d","name":"checkTable","func":"msg.topic = \"SELECT name FROM sqlite_master WHERE type='table' AND name='\"+msg.payload+\"'\";\nmsg[\"query\"] = {\"type\":\"checkTable\", \"table\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":340,"wires":[["ee08b880.b764e8"]]},{"id":"389c1db.e73ebe2","type":"function","z":"1875e2ea.57ba0d","name":"Select Table All","func":"msg.topic = \"SELECT * FROM sqlite_master WHERE type='table'\";\nmsg[\"query\"] = {\"type\":\"select\", \"responst\":\"tables\"};\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":300,"wires":[["ee08b880.b764e8"]]},{"id":"1509265e.bb969a","type":"debug","z":"1875e2ea.57ba0d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":460,"wires":[]},{"id":"c0981bf7.543d18","type":"function","z":"1875e2ea.57ba0d","name":"Insert payload 2 testDB","func":"msg.topic = \"insert into \"+msg.selectTable+\" (time, value) values (\"+Date.now()+\", \"+msg.payload+\")\";\nmsg[\"query\"] = {\"type\":\"insert\"};\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":260,"wires":[["ee08b880.b764e8"]]},{"id":"f1e894fd.92a8f8","type":"random","z":"1875e2ea.57ba0d","name":"","low":"1","high":"100","inte":"true","property":"payload","x":400,"y":220,"wires":[["c0981bf7.543d18"]]},{"id":"c7d329e.44012d8","type":"function","z":"1875e2ea.57ba0d","name":"Select * from payload","func":"msg.topic = \"SELECT * FROM \"+msg.payload;\nmsg[\"query\"] = {\"type\":\"select\", \"responst\":\"data\"};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":380,"wires":[["ee08b880.b764e8"]]},{"id":"8d73b0f4.924cf","type":"inject","z":"1875e2ea.57ba0d","name":"","topic":"","payload":"testDB","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":380,"wires":[["c7d329e.44012d8"]]},{"id":"82895263.2a715","type":"inject","z":"1875e2ea.57ba0d","name":"","topic":"","payload":"testDB","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":220,"wires":[["4f4ad5bf.db087c"]]},{"id":"4f4ad5bf.db087c","type":"change","z":"1875e2ea.57ba0d","name":"selectTable","rules":[{"t":"move","p":"payload","pt":"msg","to":"selectTable","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":220,"wires":[["f1e894fd.92a8f8"]]},{"id":"66321d19.105174","type":"sqlite","z":"681190a4.3fa52","mydb":"20e89b3e.722264","sqlquery":"msg.topic","sql":"SELECT name FROM sqlite_master WHERE type='table' AND name=$tableName","name":"DB","x":650,"y":40,"wires":[["854c08eb.665e28"]]},{"id":"4653f773.dbcbb8","type":"inject","z":"681190a4.3fa52","name":"","topic":"","payload":"telegram","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":40,"wires":[["e2c67ad4.5a5868"]]},{"id":"6099e430.cd547c","type":"function","z":"681190a4.3fa52","name":"checkTable","func":"msg.topic = \"SELECT name FROM sqlite_master WHERE type='table' AND name='\"+flow.get(\"table\")+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":40,"wires":[["66321d19.105174"]]},{"id":"7b7fdd8e.dd8234","type":"function","z":"681190a4.3fa52","name":"Insert InTelegram","func":"//var msgRecv = RED.util.cloneMessage(msg);\n//var strJson = JSON.stringify(msgRecv.payload);\n//var rawBuffer = Buffer.from(strJson, 'utf8');\n//var bufJson = rawBuffer.toString(\"base64\");\nvar msgOut = null;\nif (typeof msg.payload.msg === 'string' || typeof msg.payload.msg === 'object'){\n    var rawBuffer;\n    var bufJson;\n    if (typeof msg.payload.msg === 'string'){\n        rawBuffer = Buffer.from(msg.payload.msg, 'utf8');\n        bufJson = rawBuffer.toString(\"base64\");\n    }else{\n        var strJson = JSON.stringify(msg.payload.msg);\n        rawBuffer = Buffer.from(strJson, 'utf8');\n        bufJson = rawBuffer.toString(\"base64\");\n    }\n    msgOut = {\"topic\":\"insert into \"+flow.get(\"table\")+\n                    \" (time, input, type, src, dest, telegram) values (\"+\n                        Date.now()+\n                        \",1,\"+\n                        msg.payload.type+\",\"+\n                        msg.payload.from+\",\"+\n                        msg.payload.dest+\", '\"+\n                        bufJson+\"')\"};\n}\nreturn msgOut;","outputs":1,"noerr":0,"x":450,"y":380,"wires":[["4e7ce01e.1117d","4494aa36.091524"]]},{"id":"e2c67ad4.5a5868","type":"change","z":"681190a4.3fa52","name":"payload2flow.table","rules":[{"t":"move","p":"payload","pt":"msg","to":"table","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":40,"wires":[["6099e430.cd547c"]]},{"id":"854c08eb.665e28","type":"function","z":"681190a4.3fa52","name":"createTable","func":"if (msg.payload.length) {\n    msg = null;\n}else{\n    msg.topic = \"create table \"+flow.get(\"table\")+\" (time Timestamp, input integer, type integer, src integer, dest integer, telegram text)\";\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":810,"y":40,"wires":[["c2a56105.25c8b"]],"outputLabels":["Database Query"]},{"id":"c2a56105.25c8b","type":"sqlite","z":"681190a4.3fa52","mydb":"20e89b3e.722264","sqlquery":"msg.topic","sql":"SELECT name FROM sqlite_master WHERE type='table' AND name=$tableName","name":"DB","x":970,"y":40,"wires":[["842660bc.5af66"]]},{"id":"842660bc.5af66","type":"debug","z":"681190a4.3fa52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":40,"wires":[]},{"id":"e3faa157.9ab12","type":"link out","z":"ae93cab8.831958","name":"LinkMeshRawTelegramIn","links":["b76f840c.3dcef8"],"x":435,"y":260,"wires":[]},{"id":"b76f840c.3dcef8","type":"link in","z":"681190a4.3fa52","name":"MeshLogTelegram","links":["e3faa157.9ab12"],"x":295,"y":380,"wires":[["7b7fdd8e.dd8234","b6794b29.74d2a8"]]},{"id":"4e7ce01e.1117d","type":"sqlite","z":"681190a4.3fa52","mydb":"20e89b3e.722264","sqlquery":"msg.topic","sql":"SELECT name FROM sqlite_master WHERE type='table' AND name=$tableName","name":"DB","x":650,"y":380,"wires":[["2916120.80b6dee"]]},{"id":"3430d36c.cfa58c","type":"inject","z":"681190a4.3fa52","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":440,"wires":[["56d1d2ca.65c1ec"]]},{"id":"2916120.80b6dee","type":"debug","z":"681190a4.3fa52","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":380,"wires":[]},{"id":"56d1d2ca.65c1ec","type":"function","z":"681190a4.3fa52","name":"select *","func":"msg.topic = \"select * from \"+flow.get(\"table\");\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":480,"wires":[["a3e5eb5b.3e8aa8"]]},{"id":"367613e2.297eac","type":"inject","z":"681190a4.3fa52","name":"","topic":"","payload":"telegram","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["ec6af4e9.619528"]]},{"id":"ec6af4e9.619528","type":"function","z":"681190a4.3fa52","name":"deleteTable","func":"msg.topic = \"DROP TABLE \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":80,"wires":[["4e7ce01e.1117d"]]},{"id":"a3e5eb5b.3e8aa8","type":"sqlite","z":"681190a4.3fa52","mydb":"20e89b3e.722264","sqlquery":"msg.topic","sql":"SELECT name FROM sqlite_master WHERE type='table' AND name=$tableName","name":"DB","x":330,"y":480,"wires":[["9d9f4605.6ab858"]]},{"id":"eeea567.6bc85a8","type":"debug","z":"681190a4.3fa52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":520,"wires":[]},{"id":"9d9f4605.6ab858","type":"function","z":"681190a4.3fa52","name":"Decode telegram","func":"var outPayload = [];\n\nfor (var i=0; i<msg.payload.length; i++) {\n    var row = msg.payload[i];\n    var rawBuffer = new Buffer(row.telegram, \"base64\");\n    var telegram = JSON.parse(rawBuffer.toString(\"utf8\"));\n    var outRow = {\n        \"time\":row.time,\n        \"input\":row.input,\n        \"type\":row.type,\n        \"src\":row.src,\n        \"dest\":row.dest,\n        \"telegram\":telegram\n    };\n    outPayload.push(outRow);\n}\n\nmsg.payload = outPayload;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":480,"wires":[["eeea567.6bc85a8"]]},{"id":"cba31704.40d738","type":"function","z":"ae93cab8.831958","name":"string or object","func":"try {\n    var msgPayload = JSON.parse(msg.payload.msg);\n} catch (e) {\n    return {\"topic\":\"string\", \"from\":msg.payload.from, \"payload\":msg.payload.msg};\n}\nvar msgOut = {\"topic\":\"object\", \"from\":msg.payload.from, \"payload\":msgPayload};\nreturn msgOut;","outputs":1,"noerr":0,"x":500,"y":500,"wires":[["cab2f587.923218","7b6fee92.90c7f"]]},{"id":"cab2f587.923218","type":"debug","z":"ae93cab8.831958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":500,"wires":[]},{"id":"196acbd0.d7e094","type":"debug","z":"ae93cab8.831958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1070,"y":800,"wires":[]},{"id":"c8a37902.22eb98","type":"md5","z":"ae93cab8.831958","name":"","fieldToHash":"msg.req.files[0].buffer","fieldTypeToHash":"msg","hashField":"msg.req.files[0].bufferMd5","hashFieldType":"msg","x":690,"y":840,"wires":[["ff463d05.8425d"]]},{"id":"63ad8fcc.0ee71","type":"inject","z":"3f734aed.d110e6","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":320,"wires":[["958f3d4c.fe4e2","9181062f.126b98","9d985133.8f389","8c3bbc9b.a8cfd","69623161.0e9a1","4c339bb0.135e54"]]},{"id":"958f3d4c.fe4e2","type":"Drives","z":"3f734aed.d110e6","name":"","x":870,"y":80,"wires":[["9fc214da.3f7b08","8ac56c7a.c20c4"]]},{"id":"9181062f.126b98","type":"Uptime","z":"3f734aed.d110e6","name":"","x":900,"y":200,"wires":[["a5dcbb64.df83e8","40377851.ad5228"]]},{"id":"9d985133.8f389","type":"Loadavg","z":"3f734aed.d110e6","name":"","x":900,"y":320,"wires":[["28a8c620.adf4fa","afb92f8f.60c16"]]},{"id":"5c3908a0.e47a18","type":"NetworkIntf","z":"3f734aed.d110e6","name":"","x":270,"y":420,"wires":[["83f815c4.b9b948","78194a8b.0caba4","7a7d1842.8aea28"]]},{"id":"8c3bbc9b.a8cfd","type":"Memory","z":"3f734aed.d110e6","name":"","x":900,"y":440,"wires":[["25282040.f581a","799b0533.ac65cc"]]},{"id":"1b753197.d465de","type":"CPUs","z":"3f734aed.d110e6","name":"","x":290,"y":260,"wires":[["6bd67276.5d8ffc","39d1d62d.9da76a","8ab952a6.f4f6f"]]},{"id":"7493a3c8.46372c","type":"OS","z":"3f734aed.d110e6","name":"","x":290,"y":80,"wires":[["e957c50f.9376d8","1e735dd3.38fa92","6ae84467.ca5b1c","d0946bb2.3a3b08"]]},{"id":"1a7a36ec.1eac69","type":"inject","z":"3f734aed.d110e6","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":260,"wires":[["7493a3c8.46372c","1b753197.d465de","5c3908a0.e47a18"]]},{"id":"e957c50f.9376d8","type":"debug","z":"3f734aed.d110e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":80,"wires":[]},{"id":"9fc214da.3f7b08","type":"debug","z":"3f734aed.d110e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":80,"wires":[]},{"id":"1e735dd3.38fa92","type":"ui_text","z":"3f734aed.d110e6","group":"a4cb356.72ddcc8","order":0,"width":0,"height":0,"name":"","label":"Hostname","format":"{{msg.payload.hostname}}","layout":"row-spread","x":490,"y":120,"wires":[]},{"id":"6ae84467.ca5b1c","type":"ui_text","z":"3f734aed.d110e6","group":"a4cb356.72ddcc8","order":0,"width":0,"height":0,"name":"","label":"Typ","format":"{{msg.payload.type}}","layout":"row-spread","x":470,"y":160,"wires":[]},{"id":"d0946bb2.3a3b08","type":"ui_text","z":"3f734aed.d110e6","group":"a4cb356.72ddcc8","order":0,"width":0,"height":0,"name":"","label":"Release","format":"{{msg.payload.release}}","layout":"row-spread","x":480,"y":200,"wires":[]},{"id":"6bd67276.5d8ffc","type":"debug","z":"3f734aed.d110e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":260,"wires":[]},{"id":"39d1d62d.9da76a","type":"ui_text","z":"3f734aed.d110e6","group":"e4f297c5.a89eb8","order":0,"width":0,"height":0,"name":"","label":"CPU Typ","format":"{{msg.payload.cpus[0].model}}","layout":"row-spread","x":480,"y":300,"wires":[]},{"id":"8ab952a6.f4f6f","type":"ui_text","z":"3f734aed.d110e6","group":"e4f297c5.a89eb8","order":0,"width":0,"height":0,"name":"","label":"CPU Anzahl","format":"{{msg.payload.cpus.length}}","layout":"row-spread","x":490,"y":340,"wires":[]},{"id":"83f815c4.b9b948","type":"debug","z":"3f734aed.d110e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":420,"wires":[]},{"id":"78194a8b.0caba4","type":"ui_text","z":"3f734aed.d110e6","group":"e4f297c5.a89eb8","order":0,"width":0,"height":0,"name":"","label":"Ethernet","format":"{{msg.payload.networkInterfaces.eth0[0].cidr}}","layout":"row-spread","x":480,"y":460,"wires":[]},{"id":"7a7d1842.8aea28","type":"ui_text","z":"3f734aed.d110e6","group":"e4f297c5.a89eb8","order":0,"width":0,"height":0,"name":"","label":"WLAN","format":"{{msg.payload.networkInterfaces.wlan0[0].cidr}}","layout":"row-spread","x":470,"y":500,"wires":[]},{"id":"31346d87.ecd7d2","type":"ui_gauge","z":"3f734aed.d110e6","name":"","group":"fc543706.718ff8","order":1,"width":"3","height":"2","gtype":"gage","title":"Systemspeicher","label":"GB","format":"{{msg.payload}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1420,"y":120,"wires":[]},{"id":"8ac56c7a.c20c4","type":"function","z":"3f734aed.d110e6","name":"setup Gauge","func":"var maxSize = msg.payload[0].size / 1024 / 1024;\nvar maxOut = Math.round (msg.payload[0].size / 1024 / 10.24) / 100;\n\nvar newMsg = {};\nnewMsg.ui_control = {\n    min:0,\n    max:maxOut,\n    seg1:maxSize*0.8,\n    seg2:maxSize*0.9};\nnewMsg.payload = Math.round (msg.payload[0].used / 1024 / 10.24) / 100;\nnewMsg.topic = \"Storage\"\nreturn newMsg;","outputs":1,"noerr":0,"x":1110,"y":120,"wires":[["31346d87.ecd7d2"]]},{"id":"86f0ad73.f2925","type":"ui_text","z":"3f734aed.d110e6","group":"a4cb356.72ddcc8","order":0,"width":"0","height":"0","name":"","label":"Uptime","format":"{{msg.payload}}","layout":"row-spread","x":1400,"y":240,"wires":[]},{"id":"a5dcbb64.df83e8","type":"debug","z":"3f734aed.d110e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":200,"wires":[]},{"id":"40377851.ad5228","type":"function","z":"3f734aed.d110e6","name":"format Time","func":"var seconds = msg.payload.uptime % 60;\nvar strSeconds\nif (seconds >= 10){\n    strSeconds = seconds;\n}else{\n    strSeconds = \"0\"+seconds;\n}\nvar minutes = (msg.payload.uptime - seconds) / 60 % 60;\nvar strMinutes\nif (minutes >= 10){\n    strMinutes = minutes;\n}else{\n    strMinutes = \"0\"+minutes;\n}\nvar hours = (msg.payload.uptime - seconds - minutes * 60) / 3600;\n\nreturn {payload:hours+\":\"+strMinutes+\":\"+strSeconds};","outputs":1,"noerr":0,"x":1110,"y":240,"wires":[["86f0ad73.f2925"]]},{"id":"28a8c620.adf4fa","type":"debug","z":"3f734aed.d110e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":320,"wires":[]},{"id":"146d2dda.06c0b2","type":"ui_gauge","z":"3f734aed.d110e6","name":"","group":"fc543706.718ff8","order":3,"width":"3","height":"2","gtype":"gage","title":"CPU-Last","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"90","x":1400,"y":360,"wires":[]},{"id":"afb92f8f.60c16","type":"function","z":"3f734aed.d110e6","name":"getMaxLoad","func":"var max = msg.payload.loadavg[0];\nif (max < msg.payload.loadavg[1]){\n    max = msg.payload.loadavg[1];\n}\nif (max < msg.payload.loadavg[2]){\n    max = msg.payload.loadavg[2];\n}\nvar msg1 = {payload:Math.round(max *1000) / 10};\nmsg1.topic = \"Load\"\nreturn msg1;","outputs":1,"noerr":0,"x":1110,"y":360,"wires":[["146d2dda.06c0b2","3f3e7cba.f5a494"]]},{"id":"25282040.f581a","type":"debug","z":"3f734aed.d110e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":440,"wires":[]},{"id":"2b4e1ebf.cf8332","type":"ui_gauge","z":"3f734aed.d110e6","name":"","group":"fc543706.718ff8","order":2,"width":"3","height":"2","gtype":"gage","title":"Arbeitsspeicher","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"90","x":1420,"y":480,"wires":[]},{"id":"f9159546.fe2cc8","type":"function","z":"3f734aed.d110e6","name":"getTemp","func":"msg.topic = \"Temp\"\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":580,"wires":[["3f3e7cba.f5a494","46e136ff.db4c78"]]},{"id":"3f3e7cba.f5a494","type":"ui_chart","z":"3f734aed.d110e6","name":"","group":"fc543706.718ff8","order":6,"width":"12","height":"8","label":"CPU","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1390,"y":620,"wires":[[]]},{"id":"799b0533.ac65cc","type":"function","z":"3f734aed.d110e6","name":"getMaxLoad","func":"var msg1 = {payload:msg.payload.memusage};\nmsg1.topic = \"Ram\"\nreturn msg1;","outputs":1,"noerr":0,"x":1110,"y":480,"wires":[["2b4e1ebf.cf8332","3f3e7cba.f5a494"]]},{"id":"69623161.0e9a1","type":"vcgencmd","z":"3f734aed.d110e6","name":"","fullPath":"/opt/vc/bin/vcgencmd","command":"measure_temp","codec":"H264","clock":"core","voltage":"core","memory":"arm","videoOutput":"0","separateMsg":false,"x":900,"y":580,"wires":[["f9159546.fe2cc8","ea482684.420c28"]]},{"id":"4c339bb0.135e54","type":"vcgencmd","z":"3f734aed.d110e6","name":"","fullPath":"/opt/vc/bin/vcgencmd","command":"measure_clock","codec":"H264","clock":"arm","voltage":"core","memory":"arm","videoOutput":"0","separateMsg":false,"x":890,"y":760,"wires":[["b938eaa8.6ef1d8","7ac3e6c8.d0d648"]]},{"id":"b938eaa8.6ef1d8","type":"function","z":"3f734aed.d110e6","name":"getTemp","func":"\nmsg.topic = \"Temp\"\nvar msg1 = {\"payload\":msg.payload / 1e6, \"topic\":\"Takt\"};\nreturn msg1;","outputs":1,"noerr":0,"x":1120,"y":760,"wires":[["d3cfa04d.b5882"]]},{"id":"d3cfa04d.b5882","type":"ui_chart","z":"3f734aed.d110e6","name":"","group":"fc543706.718ff8","order":7,"width":"12","height":"5","label":"CPU Takt","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1200","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1400,"y":760,"wires":[[]]},{"id":"ea482684.420c28","type":"debug","z":"3f734aed.d110e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":540,"wires":[]},{"id":"7ac3e6c8.d0d648","type":"debug","z":"3f734aed.d110e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":720,"wires":[]},{"id":"f8f098ea.6f2bf8","type":"inject","z":"681190a4.3fa52","name":"","topic":"","payload":"telegram","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["54218ff3.e7e09"]]},{"id":"54218ff3.e7e09","type":"function","z":"681190a4.3fa52","name":"clearTable","func":"msg.topic = \"DELETE FROM \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":120,"wires":[["4e7ce01e.1117d"]]},{"id":"b6794b29.74d2a8","type":"debug","z":"681190a4.3fa52","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":340,"wires":[]},{"id":"4494aa36.091524","type":"debug","z":"681190a4.3fa52","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":340,"wires":[]},{"id":"48f4c75c.ea8f28","type":"function","z":"767c2e0e.5b286","name":"ServerPubish","func":"var publishMsg = [{\n//Nachrichtentyp\n  \"msgId\":90,\n//Server-Daten\n  \"time\":Date.now(),\n  \"logging\":true,\n  \"archiv\":true,\n  \"alarming\":true\n}]\nvar msgString = JSON.stringify(publishMsg)\nvar msgTelegram = {\"payload\":\n    {\n        \"dest\":msg.from,\n        \"from\":global.get('MeshID'),\n        \"type\":9,\n        \"msg\":msgString\n    }\n};\n\n\nreturn msgTelegram;","outputs":1,"noerr":0,"x":440,"y":540,"wires":[["f7fc98f3.f6e858","656712f2.cb6fdc"]]},{"id":"80ff2784.1a4ee8","type":"switch","z":"767c2e0e.5b286","name":"msgId 9x","property":"payload.msgId","propertyType":"msg","rules":[{"t":"eq","v":"90","vt":"num"},{"t":"eq","v":"91","vt":"num"},{"t":"eq","v":"92","vt":"num"},{"t":"eq","v":"93","vt":"num"},{"t":"eq","v":"94","vt":"num"},{"t":"eq","v":"95","vt":"num"},{"t":"eq","v":"99","vt":"num"}],"checkall":"true","repair":false,"outputs":7,"x":140,"y":600,"wires":[["dc7530d7.42f5d"],["48f4c75c.ea8f28","773ea070.35d9"],["c4dac41a.39fd18","173482b0.8a01bd"],["5b3f466f.0d3118","328bffe4.74aba"],["ad2e8789.86e718","c57652b5.e153f"],["1e5b4cec.e90043","95d0209e.64d68"],["251bf75d.fca198","54d6d7c8.e5d9e8"]],"inputLabels":["ServerClient-Message"],"outputLabels":["srvPublish [90]","srvRequest [91]","archivData [92]","alarm [93]","alarmAck [94]","hello [95]","failLog [99]"]},{"id":"bb6d80c9.cdaec","type":"link in","z":"767c2e0e.5b286","name":"IOT::ServerRecvMsg","links":["7b6fee92.90c7f"],"x":195,"y":100,"wires":[["1b86dd3c.58d133"]]},{"id":"f7fc98f3.f6e858","type":"debug","z":"767c2e0e.5b286","name":"SrvPublish Telegram","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":580,"wires":[]},{"id":"5ca6399f.234858","type":"split","z":"767c2e0e.5b286","name":"Array2SingleMsg","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":150,"y":200,"wires":[["b40369fa.91b758","80ff2784.1a4ee8"]]},{"id":"b40369fa.91b758","type":"debug","z":"767c2e0e.5b286","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":110,"y":240,"wires":[]},{"id":"1b86dd3c.58d133","type":"switch","z":"767c2e0e.5b286","name":"checkIfObject","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"object","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":160,"y":160,"wires":[["5ca6399f.234858"]]},{"id":"656712f2.cb6fdc","type":"link out","z":"767c2e0e.5b286","name":"IOT::ServerSendMsg","links":["6f2f5ab.6c257a4"],"x":675,"y":140,"wires":[]},{"id":"73066b67.966604","type":"function","z":"767c2e0e.5b286","name":"ServerPubish/Hello","func":"var timeOffset = new Date().getTimezoneOffset();\nvar localTime = timeOffset * -60 + Math.floor(Date.now()/1000);\nvar publishMsg = [{\n//Nachrichtentyp\n  \"msgId\":95,\n//Server-Daten\n  \"name\":\"Node-RED\"\n},{\n//Nachrichtentyp\n  \"msgId\":90,\n//Server-Daten\n  \"time\":localTime,\n  \"logging\":true,\n  \"archiv\":true,\n  \"alarming\":true\n}]\nvar msgString = JSON.stringify(publishMsg)\nvar msgTelegram = {\"payload\":\n    {\n        \"dest\":0,\n        \"from\":global.get('MeshID'),\n        \"type\":8,\n        \"msg\":msgString\n    }\n};\n\n\nreturn msgTelegram;","outputs":1,"noerr":0,"x":450,"y":140,"wires":[["4e839477.f6c3dc","656712f2.cb6fdc"]]},{"id":"4e839477.f6c3dc","type":"debug","z":"767c2e0e.5b286","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":180,"wires":[]},{"id":"aeeaadcc.c4287","type":"inject","z":"767c2e0e.5b286","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":100,"wires":[["73066b67.966604"]]},{"id":"46e136ff.db4c78","type":"ui_gauge","z":"3f734aed.d110e6","name":"","group":"fc543706.718ff8","order":4,"width":"3","height":"2","gtype":"gage","title":"CPU-Temp","label":"°C","format":"{{msg.payload}}","min":"20","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"70","x":1410,"y":580,"wires":[]},{"id":"dc7530d7.42f5d","type":"debug","z":"767c2e0e.5b286","name":"SrvPublish Msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":240,"wires":[]},{"id":"773ea070.35d9","type":"debug","z":"767c2e0e.5b286","name":"SrvRequest Msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":500,"wires":[]},{"id":"c4dac41a.39fd18","type":"debug","z":"767c2e0e.5b286","name":"ArchivData Msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":660,"wires":[]},{"id":"173482b0.8a01bd","type":"function","z":"767c2e0e.5b286","name":"TODO 2DB","func":"var msgTelegram = {\"topic\":msg.payload.element,\n    \"payload\":msg.payload.value\n};\n\n\nreturn msgTelegram;","outputs":1,"noerr":0,"x":430,"y":700,"wires":[["4832c1f1.4e302","dceb14f4.afc518"]]},{"id":"5b3f466f.0d3118","type":"debug","z":"767c2e0e.5b286","name":"Alarm Msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":760,"wires":[]},{"id":"328bffe4.74aba","type":"function","z":"767c2e0e.5b286","name":"TODO 2DB and Ack","func":"var publishMsg = {\n//Nachrichtentyp\n  \"msgId\":90,\n//Server-Daten\n  \"time\":Date.now(),\n  \"logging\":true,\n  \"archiv\":true,\n  \"alarming\":true\n}\nvar msgString = JSON.stringify(publishMsg)\nvar msgTelegram = {\"payload\":\n    {\n        \"dest\":msg.from,\n        \"from\":global.get('MeshID'),\n        \"type\":9,\n        \"msg\":msgString\n    }\n};\n\n\nreturn msgTelegram;","outputs":1,"noerr":0,"x":460,"y":800,"wires":[[]]},{"id":"ad2e8789.86e718","type":"debug","z":"767c2e0e.5b286","name":"AlarmAck Msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":860,"wires":[]},{"id":"c57652b5.e153f","type":"function","z":"767c2e0e.5b286","name":"TODO 2DB","func":"var publishMsg = {\n//Nachrichtentyp\n  \"msgId\":90,\n//Server-Daten\n  \"time\":Date.now(),\n  \"logging\":true,\n  \"archiv\":true,\n  \"alarming\":true\n}\nvar msgString = JSON.stringify(publishMsg)\nvar msgTelegram = {\"payload\":\n    {\n        \"dest\":msg.from,\n        \"from\":global.get('MeshID'),\n        \"type\":9,\n        \"msg\":msgString\n    }\n};\n\n\nreturn msgTelegram;","outputs":1,"noerr":0,"x":430,"y":900,"wires":[[]]},{"id":"1e5b4cec.e90043","type":"debug","z":"767c2e0e.5b286","name":"Hello Msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":420,"y":960,"wires":[]},{"id":"95d0209e.64d68","type":"function","z":"767c2e0e.5b286","name":"TODO 2List","func":"var publishMsg = {\n//Nachrichtentyp\n  \"msgId\":90,\n//Server-Daten\n  \"time\":Date.now(),\n  \"logging\":true,\n  \"archiv\":true,\n  \"alarming\":true\n}\nvar msgString = JSON.stringify(publishMsg)\nvar msgTelegram = {\"payload\":\n    {\n        \"dest\":msg.from,\n        \"from\":global.get('MeshID'),\n        \"type\":9,\n        \"msg\":msgString\n    }\n};\n\n\nreturn msgTelegram;","outputs":1,"noerr":0,"x":430,"y":1000,"wires":[[]]},{"id":"251bf75d.fca198","type":"debug","z":"767c2e0e.5b286","name":"FailLog Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":1060,"wires":[]},{"id":"54d6d7c8.e5d9e8","type":"function","z":"767c2e0e.5b286","name":"TODO 2DB","func":"var publishMsg = {\n//Nachrichtentyp\n  \"msgId\":90,\n//Server-Daten\n  \"time\":Date.now(),\n  \"logging\":true,\n  \"archiv\":true,\n  \"alarming\":true\n}\nvar msgString = JSON.stringify(publishMsg)\nvar msgTelegram = {\"payload\":\n    {\n        \"dest\":msg.from,\n        \"from\":global.get('MeshID'),\n        \"type\":9,\n        \"msg\":msgString\n    }\n};\n\n\nreturn msgTelegram;","outputs":1,"noerr":0,"x":430,"y":1100,"wires":[[]]},{"id":"f5205994.7e1178","type":"ui_button","z":"3f734aed.d110e6","name":"","group":"fc543706.718ff8","order":5,"width":0,"height":0,"passthru":false,"label":"Reset Charts","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":1110,"y":660,"wires":[["3f3e7cba.f5a494","d3cfa04d.b5882"]]},{"id":"215cf933.d51c96","type":"sqlite","z":"767c2e0e.5b286","mydb":"20e89b3e.722264","sqlquery":"msg.topic","sql":"SELECT name FROM sqlite_master WHERE type='table' AND name=$tableName","name":"DB","x":1030,"y":140,"wires":[["58fa90d3.75c38"]]},{"id":"5436b1f8.deb8f","type":"inject","z":"767c2e0e.5b286","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":100,"wires":[["8f44f5f4.cdca38"]]},{"id":"8f44f5f4.cdca38","type":"function","z":"767c2e0e.5b286","name":"checkTables","func":"//define Tablenames\nflow.set(\"alarmTable\", \"Alarm\");\nflow.set(\"archivTable\", \"Archiv\");\nflow.set(\"failLogTable\", \"FailLog\")\n\n//create Msg-Array\nvar outputMsgs = [];\n\n//add SQl-Query to check if Alarm-Table exists\nvar msgCheckAlarm = {\n    topic:\"SELECT name FROM sqlite_master WHERE type='table' AND name='\"+flow.get(\"alarmTable\")+\"'\",\n    table:\"alarmTable\"\n}\noutputMsgs.push(msgCheckAlarm);\n\n//add SQl-Query to check if Archiv-Table exists\nvar msgCheckArchiv = {\n    topic:\"SELECT name FROM sqlite_master WHERE type='table' AND name='\"+flow.get(\"archivTable\")+\"'\",\n    table:\"archivTable\"\n}\noutputMsgs.push(msgCheckArchiv);\n\n//add SQl-Query to check if FailLog-Table exists\nvar msgCheckFailLog = {\n    topic:\"SELECT name FROM sqlite_master WHERE type='table' AND name='\"+flow.get(\"failLogTable\")+\"'\",\n    table:\"failLogTable\"\n}\noutputMsgs.push(msgCheckFailLog);\n\nreturn [outputMsgs];","outputs":1,"noerr":0,"x":1130,"y":100,"wires":[["215cf933.d51c96"]]},{"id":"58fa90d3.75c38","type":"function","z":"767c2e0e.5b286","name":"createTable","func":"if (msg.payload.length) {\n    msg = null;\n}else{\n    delete msg.payload;\n    switch(msg.table){\n        case \"alarmTable\":\n            msg.topic = \"create table \"+flow.get(\"alarmTable\")+\n                            \" (time integer, \"+\n                            \"node text, \"+\n                            \"prio integer, \"+\n                            \"text text, \"+\n                            \"state integer)\";\n            break;\n        \n        case \"archivTable\":\n            msg.topic = \"create table \"+flow.get(\"archivTable\")+\n                            \" (time integer, \"+\n                            \"node text, \"+\n                            \"element text, \"+\n                            \"datapoint text, \"+\n                            \"value real, \"+\n                            \"type integer)\";\n            break;\n        \n        case \"failLogTable\":\n            msg.topic = \"create table \"+flow.get(\"failLogTable\")+\n                            \" (time integer, \"+\n                            \"type integer, \"+\n                            \"msg text)\";\n            break;\n            \n        default:\n            msg = null;\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1190,"y":140,"wires":[["844800c5.533bb"]],"outputLabels":["Database Query"]},{"id":"844800c5.533bb","type":"sqlite","z":"767c2e0e.5b286","mydb":"20e89b3e.722264","sqlquery":"msg.topic","sql":"SELECT name FROM sqlite_master WHERE type='table' AND name=$tableName","name":"DB","x":1370,"y":240,"wires":[["42467b3e.a6c424"]]},{"id":"42467b3e.a6c424","type":"debug","z":"767c2e0e.5b286","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1510,"y":240,"wires":[]},{"id":"6ab7893e.747978","type":"inject","z":"767c2e0e.5b286","name":"","topic":"","payload":"alarmTable","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1000,"y":200,"wires":[["c75267e0.83aa08"]]},{"id":"c75267e0.83aa08","type":"function","z":"767c2e0e.5b286","name":"deleteTable","func":"msg.topic = \"DROP TABLE \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":240,"wires":[["844800c5.533bb"]]},{"id":"a293c3c6.ef66e","type":"inject","z":"767c2e0e.5b286","name":"","topic":"","payload":"archivTable","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1000,"y":240,"wires":[["c75267e0.83aa08"]]},{"id":"596607f3.87cab8","type":"inject","z":"767c2e0e.5b286","name":"","topic":"","payload":"failLogTable","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1000,"y":280,"wires":[["c75267e0.83aa08"]]},{"id":"98279656.ef13e8","type":"comment","z":"767c2e0e.5b286","name":"Database Config","info":"Hier werden die Datenbanken erstellt falls sie nicht existieren.\nUnd können gelöscht werden um si zu initialisieren.","x":960,"y":40,"wires":[]},{"id":"cfcb7d3.5f9118","type":"comment","z":"767c2e0e.5b286","name":"Server-Client Nachrichten verarbeiten","info":"Das Nachrichten Array wird in einzel Nachrichten aufgeteilt.\nDie Server-Client relevanten Daten werden durch die Split-Funktion an die entsprechenden Unterfunktionen weiter geleitet.","x":190,"y":40,"wires":[]},{"id":"4832c1f1.4e302","type":"ui_chart","z":"767c2e0e.5b286","name":"","group":"fc543706.718ff8","order":6,"width":"12","height":"8","label":"Trending","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":"5","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":760,"y":700,"wires":[[]]},{"id":"dceb14f4.afc518","type":"debug","z":"767c2e0e.5b286","name":"ArchivData Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":660,"wires":[]},{"id":"6bb58f2c.851a","type":"link out","z":"c56a903c.b3a7","name":"IOT::SyncSendMsg","links":["6f2f5ab.6c257a4"],"x":1355,"y":60,"wires":[]},{"id":"703a7481.ff1f6c","type":"function","z":"c56a903c.b3a7","name":"RequestValue","func":"var requestMsg = [{\n    //Nachrichtentyp\n      \"msgId\":30,\n      \"msgName\":\"request\",\n    \n    //Externer Datenpunkt\n      \"reqElement\":msg.payload.element,\n      \"reqData\":msg.payload.data,\n      \"reqDataType\":msg.payload.type,\n    \n    //Lokaler Datenpunkt\n      \"srcElement\":msg.payload.element,\n      \"srcData\":msg.payload.data\n    }\n]\n\nvar msgString = JSON.stringify(requestMsg)\nvar msgTelegram = {\"payload\":\n    {\n        \"dest\":0,\n        \"from\":global.get('MeshID'),\n        \"type\":8,\n        \"msg\":msgString\n    }\n};\n\n\nreturn msgTelegram;","outputs":1,"noerr":0,"x":1120,"y":100,"wires":[["d68002fd.bd1bd","6bb58f2c.851a"]]},{"id":"d68002fd.bd1bd","type":"debug","z":"c56a903c.b3a7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":60,"wires":[]},{"id":"f25533f9.5b5e6","type":"link in","z":"c56a903c.b3a7","name":"IOT::SyncRecvMsg","links":["7b6fee92.90c7f"],"x":215,"y":40,"wires":[["fa3345bd.d29a88"]]},{"id":"fa3345bd.d29a88","type":"switch","z":"c56a903c.b3a7","name":"checkIfObject","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"object","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":180,"y":100,"wires":[["c1833794.090878"]]},{"id":"c1833794.090878","type":"split","z":"c56a903c.b3a7","name":"Array2SingleMsg","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":170,"y":140,"wires":[["c9157ff4.0d01e"]]},{"id":"c9157ff4.0d01e","type":"switch","z":"c56a903c.b3a7","name":"msgId 31","property":"payload.msgId","propertyType":"msg","rules":[{"t":"eq","v":"31","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":160,"y":180,"wires":[["816b7.53c329498"]],"inputLabels":["Mesh-Message"],"outputLabels":["Data-Reply [31]"]},{"id":"4cb5776f.a34878","type":"debug","z":"c56a903c.b3a7","name":"Out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":140,"wires":[]},{"id":"816b7.53c329498","type":"change","z":"c56a903c.b3a7","name":"Ident2Topic value2payload","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"},{"t":"move","p":"topic.value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":220,"wires":[["610ddacf.144b24","649ec107.72a3b"]]},{"id":"91eaad99.c1ad8","type":"debug","z":"ae93cab8.831958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":140,"wires":[]},{"id":"d05666d0.d9c358","type":"debug","z":"ae93cab8.831958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":100,"wires":[]},{"id":"43162687.663848","type":"debug","z":"ae93cab8.831958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":180,"wires":[]},{"id":"641fcc1b.ffde14","type":"switch","z":"12a08fdf.f48f9","name":"data","property":"topic.data","propertyType":"msg","rules":[{"t":"eq","v":"Manual","vt":"str"},{"t":"eq","v":"AutoValue","vt":"str"},{"t":"eq","v":"ManualValue","vt":"str"},{"t":"eq","v":"Value","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":390,"y":100,"wires":[[],[],[],[]],"inputLabels":["DataReply-Message"],"outputLabels":["Manual","AutoValue","ManualValue","Value"]},{"id":"5c68663.6aa3e98","type":"function","z":"12a08fdf.f48f9","name":"Check Elementname","func":"if(msg.topic.element == env.get(\"Elementname\")){\n    return msg;\n}else{\n    return null;\n}","outputs":1,"noerr":0,"x":200,"y":100,"wires":[["641fcc1b.ffde14"]]},{"id":"610ddacf.144b24","type":"link out","z":"c56a903c.b3a7","name":"Sync Recv ReplayMsg [Internal]","links":["adea485f.491eb8","170cae18.be2082","4e8a7a3a.0b7104","e846dc9c.5b2e2","8bf51d1e.7b293","1f7a9d7e.0e39a3","306ec702.cd75f8","b05664d8.fc5718","d9ecba41.32a218","6fc323d9.275dac","f3bf6b13.e932c8","f029c3e0.1ce3f","b4377a34.c7c948"],"x":375,"y":220,"wires":[]},{"id":"7448a068.419dc","type":"switch","z":"532b8d3b.88f794","name":"data","property":"topic.data","propertyType":"msg","rules":[{"t":"eq","v":"TimeOn","vt":"str"},{"t":"eq","v":"TimeOff","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":60,"wires":[[],[]],"inputLabels":["DataReply-Message"],"outputLabels":["Manual","AutoValue"]},{"id":"f9e54967.5f70d8","type":"function","z":"532b8d3b.88f794","name":"Check Elementname","func":"if(msg.topic.element == env.get(\"Elementname\")){\n    return msg;\n}else{\n    return null;\n}","outputs":1,"noerr":0,"x":200,"y":60,"wires":[["7448a068.419dc"]]},{"id":"60a8ffda.7a9b6","type":"switch","z":"8bde270b.d14148","name":"data","property":"topic.data","propertyType":"msg","rules":[{"t":"eq","v":"Time","vt":"str"},{"t":"eq","v":"Pulse","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":60,"wires":[[],[]],"inputLabels":["DataReply-Message"],"outputLabels":["Manual","AutoValue"]},{"id":"f711ede9.98774","type":"function","z":"8bde270b.d14148","name":"Check Elementname","func":"if(msg.topic.element == env.get(\"Elementname\")){\n    return msg;\n}else{\n    return null;\n}","outputs":1,"noerr":0,"x":200,"y":60,"wires":[["60a8ffda.7a9b6"]]},{"id":"f0eb7e52.73d21","type":"link in","z":"c56a903c.b3a7","name":"Sync Send PushMsg [Internal]","links":["c5158f14.5cb75","5b1cbee7.21099","548b922b.821c3c","17cce2d2.30854d","f2f2063.97342f8","df00d095.e20de","3ce57616.f31eba","988684d8.a04288","348a24bb.f5f8fc","4c2195bc.37a89c","3e138f6a.e0b65","67b29113.598c2","4043ffd9.03d75"],"x":1055,"y":220,"wires":[["fc5c1780.1ab428"]]},{"id":"45297106.56167","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"Manual","tooltip":"","group":"efec9714.6e2c78","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Manual","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":560,"y":320,"wires":[["522ad2be.d6b61c"]]},{"id":"975c5139.11634","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"ManualValue","tooltip":"","group":"efec9714.6e2c78","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ManualValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":570,"y":400,"wires":[["522ad2be.d6b61c"]]},{"id":"5adcbb0.ab57444","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"AutoValue","tooltip":"","group":"efec9714.6e2c78","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"AutoValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":560,"y":360,"wires":[[]]},{"id":"acf7cc7c.5f475","type":"ui_switch","z":"c56a903c.b3a7","name":"Value","label":"Value","tooltip":"","group":"efec9714.6e2c78","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Value","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":550,"y":440,"wires":[[]]},{"id":"fed162af.17929","type":"subflow:12a08fdf.f48f9","z":"c56a903c.b3a7","name":"Recv Man BioFilter","env":[{"name":"Elementname","value":"BioFilter","type":"str"}],"x":330,"y":380,"wires":[["45297106.56167"],["5adcbb0.ab57444"],["975c5139.11634"],["acf7cc7c.5f475"],[]]},{"id":"4e8a7a3a.0b7104","type":"link in","z":"c56a903c.b3a7","name":"","links":["610ddacf.144b24"],"x":175,"y":380,"wires":[["fed162af.17929"]]},{"id":"d98299ef.a71a48","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"Manual","tooltip":"","group":"66d16c69.759384","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Manual","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1480,"y":1660,"wires":[["2be3665b.5867aa"]]},{"id":"ac9914f5.8b1798","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"ManualValue","tooltip":"","group":"66d16c69.759384","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ManualValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1490,"y":1740,"wires":[["2be3665b.5867aa"]]},{"id":"6feed43c.84569c","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"AutoValue","tooltip":"","group":"66d16c69.759384","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"AutoValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1480,"y":1700,"wires":[[]]},{"id":"997fdab4.7777d8","type":"ui_switch","z":"c56a903c.b3a7","name":"Value","label":"Value","tooltip":"","group":"66d16c69.759384","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Value","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1470,"y":1780,"wires":[[]]},{"id":"3f18ef93.d41bf","type":"subflow:12a08fdf.f48f9","z":"c56a903c.b3a7","name":"Recv Man Futter","env":[{"name":"Elementname","value":"Futter","type":"str"}],"x":1240,"y":1720,"wires":[["d98299ef.a71a48"],["6feed43c.84569c"],["ac9914f5.8b1798"],["997fdab4.7777d8"],[]]},{"id":"e846dc9c.5b2e2","type":"link in","z":"c56a903c.b3a7","name":"","links":["610ddacf.144b24"],"x":1095,"y":1720,"wires":[["3f18ef93.d41bf"]]},{"id":"cf188975.e93708","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"Manual","tooltip":"","group":"bce0f5e3.5806e8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Manual","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":560,"y":680,"wires":[["29b0ec2c.153c74"]]},{"id":"b65d5ad0.5c7da8","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"ManualValue","tooltip":"","group":"bce0f5e3.5806e8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ManualValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":570,"y":760,"wires":[["29b0ec2c.153c74"]]},{"id":"3c58848a.fe7ebc","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"AutoValue","tooltip":"","group":"bce0f5e3.5806e8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"AutoValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":560,"y":720,"wires":[[]]},{"id":"84eed81e.5197b8","type":"ui_switch","z":"c56a903c.b3a7","name":"Value","label":"Value","tooltip":"","group":"bce0f5e3.5806e8","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Value","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":550,"y":800,"wires":[[]]},{"id":"80184871.dc78e8","type":"subflow:12a08fdf.f48f9","z":"c56a903c.b3a7","name":"Recv Man Filter","env":[{"name":"Elementname","value":"Filter","type":"str"}],"x":320,"y":740,"wires":[["cf188975.e93708"],["3c58848a.fe7ebc"],["b65d5ad0.5c7da8"],["84eed81e.5197b8"],[]]},{"id":"8bf51d1e.7b293","type":"link in","z":"c56a903c.b3a7","name":"","links":["610ddacf.144b24"],"x":175,"y":740,"wires":[["80184871.dc78e8"]]},{"id":"70df555a.813c0c","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"Manual","tooltip":"","group":"f6d930ab.7402f","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Manual","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":560,"y":860,"wires":[["9acf3d79.06f5b"]]},{"id":"d9239c92.74b75","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"ManualValue","tooltip":"","group":"f6d930ab.7402f","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ManualValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":570,"y":940,"wires":[["9acf3d79.06f5b"]]},{"id":"f2cd4eb6.70da1","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"AutoValue","tooltip":"","group":"f6d930ab.7402f","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"AutoValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":560,"y":900,"wires":[[]]},{"id":"af0aab0a.19cf18","type":"ui_switch","z":"c56a903c.b3a7","name":"Value","label":"Value","tooltip":"","group":"f6d930ab.7402f","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Value","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":550,"y":980,"wires":[[]]},{"id":"ee6bca7.3408e38","type":"subflow:12a08fdf.f48f9","z":"c56a903c.b3a7","name":"Recv Man PowerSupp","env":[{"name":"Elementname","value":"PowerSupp","type":"str"}],"x":340,"y":920,"wires":[["70df555a.813c0c"],["f2cd4eb6.70da1"],["d9239c92.74b75"],["af0aab0a.19cf18"],[]]},{"id":"1f7a9d7e.0e39a3","type":"link in","z":"c56a903c.b3a7","name":"","links":["610ddacf.144b24"],"x":175,"y":920,"wires":[["ee6bca7.3408e38"]]},{"id":"911d1f12.feacb","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"Manual","tooltip":"","group":"a5db319d.dd4d","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Manual","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":560,"y":1040,"wires":[["e8fdbf5a.7be3"]]},{"id":"70206233.e9bb2c","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"ManualValue","tooltip":"","group":"a5db319d.dd4d","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ManualValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":570,"y":1120,"wires":[["e8fdbf5a.7be3"]]},{"id":"e8e8a013.c272c","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"AutoValue","tooltip":"","group":"a5db319d.dd4d","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"AutoValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":560,"y":1080,"wires":[[]]},{"id":"49f585a3.30222c","type":"ui_switch","z":"c56a903c.b3a7","name":"Value","label":"Value","tooltip":"","group":"a5db319d.dd4d","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Value","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":550,"y":1160,"wires":[[]]},{"id":"f965e8b0.f7d548","type":"subflow:12a08fdf.f48f9","z":"c56a903c.b3a7","name":"Recv Man Luftpumpe","env":[{"name":"Elementname","value":"Luftpumpe","type":"str"}],"x":340,"y":1100,"wires":[["911d1f12.feacb"],["e8e8a013.c272c"],["70206233.e9bb2c"],["49f585a3.30222c"],[]]},{"id":"306ec702.cd75f8","type":"link in","z":"c56a903c.b3a7","name":"","links":["610ddacf.144b24"],"x":175,"y":1100,"wires":[["f965e8b0.f7d548"]]},{"id":"6a909e29.53334","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"Manual","tooltip":"","group":"d2f0e768.8148c8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Manual","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":560,"y":1220,"wires":[["c87fec39.061ef"]]},{"id":"e5f6047d.be9478","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"ManualValue","tooltip":"","group":"d2f0e768.8148c8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ManualValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":570,"y":1300,"wires":[["c87fec39.061ef"]]},{"id":"9f358e21.07726","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"AutoValue","tooltip":"","group":"d2f0e768.8148c8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"AutoValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":560,"y":1260,"wires":[[]]},{"id":"286396a6.17dfda","type":"ui_switch","z":"c56a903c.b3a7","name":"Value","label":"Value","tooltip":"","group":"d2f0e768.8148c8","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Value","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":550,"y":1340,"wires":[[]]},{"id":"f463ca86.76af78","type":"subflow:12a08fdf.f48f9","z":"c56a903c.b3a7","name":"Recv Man Heizstab","env":[{"name":"Elementname","value":"Heizstab","type":"str"}],"x":330,"y":1280,"wires":[["6a909e29.53334"],["9f358e21.07726"],["e5f6047d.be9478"],["286396a6.17dfda"],[]]},{"id":"b05664d8.fc5718","type":"link in","z":"c56a903c.b3a7","name":"","links":["610ddacf.144b24"],"x":175,"y":1280,"wires":[["f463ca86.76af78"]]},{"id":"aa9e931d.c214a","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"Manual","tooltip":"","group":"24b87b9a.778af4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Manual","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":560,"y":1400,"wires":[["f199d542.cf9218"]]},{"id":"fb91219.32827e","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"ManualValue","tooltip":"","group":"24b87b9a.778af4","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ManualValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":570,"y":1480,"wires":[["f199d542.cf9218"]]},{"id":"c26f10ce.cf17a","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"AutoValue","tooltip":"","group":"24b87b9a.778af4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"AutoValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":560,"y":1440,"wires":[[]]},{"id":"20a81bdb.dc5784","type":"ui_switch","z":"c56a903c.b3a7","name":"Value","label":"Value","tooltip":"","group":"24b87b9a.778af4","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Value","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":550,"y":1520,"wires":[[]]},{"id":"d9c29a76.31fd78","type":"subflow:12a08fdf.f48f9","z":"c56a903c.b3a7","name":"Recv Man Sonne","env":[{"name":"Elementname","value":"Sonne","type":"str"}],"x":320,"y":1460,"wires":[["aa9e931d.c214a"],["c26f10ce.cf17a"],["fb91219.32827e"],["20a81bdb.dc5784"],[]]},{"id":"d9ecba41.32a218","type":"link in","z":"c56a903c.b3a7","name":"","links":["610ddacf.144b24"],"x":175,"y":1460,"wires":[["d9c29a76.31fd78"]]},{"id":"6a0c0609.d44338","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"Manual","tooltip":"","group":"37188879.8fe7b8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Manual","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":560,"y":1580,"wires":[["a56a1cc1.4db55"]]},{"id":"fce08c52.f3e73","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"ManualValue","tooltip":"","group":"37188879.8fe7b8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ManualValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":570,"y":1660,"wires":[["a56a1cc1.4db55"]]},{"id":"a85dd07d.b9c5","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"AutoValue","tooltip":"","group":"37188879.8fe7b8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"AutoValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":560,"y":1620,"wires":[[]]},{"id":"5f3b2817.ad8168","type":"ui_switch","z":"c56a903c.b3a7","name":"Value","label":"Value","tooltip":"","group":"37188879.8fe7b8","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Value","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":550,"y":1700,"wires":[[]]},{"id":"dcb3da57.cdff58","type":"subflow:12a08fdf.f48f9","z":"c56a903c.b3a7","name":"Recv Man LictZucht","env":[{"name":"Elementname","value":"LictZucht","type":"str"}],"x":330,"y":1640,"wires":[["6a0c0609.d44338"],["a85dd07d.b9c5"],["fce08c52.f3e73"],["5f3b2817.ad8168"],[]]},{"id":"6fc323d9.275dac","type":"link in","z":"c56a903c.b3a7","name":"","links":["610ddacf.144b24"],"x":175,"y":1640,"wires":[["dcb3da57.cdff58"]]},{"id":"416bce67.5b0c3","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"Manual","tooltip":"","group":"4f7bc621.3b3e88","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Manual","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1480,"y":300,"wires":[["c209b36b.195d2"]]},{"id":"c770033e.95ff4","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"ManualValue","tooltip":"","group":"4f7bc621.3b3e88","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ManualValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1490,"y":380,"wires":[["c209b36b.195d2"]]},{"id":"cc6d9c95.1fb84","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"AutoValue","tooltip":"","group":"4f7bc621.3b3e88","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"AutoValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1480,"y":340,"wires":[[]]},{"id":"8f910909.899528","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"Value","tooltip":"","group":"4f7bc621.3b3e88","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Value","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1470,"y":420,"wires":[[]]},{"id":"d00849e.eb612b8","type":"subflow:12a08fdf.f48f9","z":"c56a903c.b3a7","name":"Recv Man MainPower","env":[{"name":"Elementname","value":"MainPower","type":"str"}],"x":1260,"y":360,"wires":[["416bce67.5b0c3"],["cc6d9c95.1fb84"],["c770033e.95ff4"],["8f910909.899528"],[]]},{"id":"adea485f.491eb8","type":"link in","z":"c56a903c.b3a7","name":"","links":["610ddacf.144b24"],"x":1095,"y":360,"wires":[["d00849e.eb612b8","4a0e40dc.9fa6c"]]},{"id":"c5158f14.5cb75","type":"link out","z":"c56a903c.b3a7","name":"","links":["f0eb7e52.73d21"],"x":1795,"y":380,"wires":[]},{"id":"4a0e40dc.9fa6c","type":"subflow:532b8d3b.88f794","z":"c56a903c.b3a7","name":"","env":[{"name":"Elementname","value":"MainPower","type":"str"}],"x":1280,"y":480,"wires":[["c296289b.58ab68"],["246e665c.4b69ba"]]},{"id":"c296289b.58ab68","type":"ui_text_input","z":"c56a903c.b3a7","name":"","label":"TimeOn","tooltip":"","group":"4f7bc621.3b3e88","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"TimeOn","x":1480,"y":460,"wires":[["c209b36b.195d2"]]},{"id":"246e665c.4b69ba","type":"ui_text_input","z":"c56a903c.b3a7","name":"","label":"TimeOff","tooltip":"","group":"4f7bc621.3b3e88","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"TimefOff","x":1480,"y":500,"wires":[["c209b36b.195d2"]]},{"id":"1ab8bea5.c3b461","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"Manual","tooltip":"","group":"17bec201.5f603e","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Manual","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1480,"y":560,"wires":[["26c20e2d.7c75c2"]]},{"id":"adcc9799.383698","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"ManualValue","tooltip":"","group":"17bec201.5f603e","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ManualValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1490,"y":640,"wires":[["26c20e2d.7c75c2"]]},{"id":"b3bafc09.e9624","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"AutoValue","tooltip":"","group":"17bec201.5f603e","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"AutoValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1480,"y":600,"wires":[[]]},{"id":"d50bd597.265648","type":"ui_switch","z":"c56a903c.b3a7","name":"Value","label":"Value","tooltip":"","group":"17bec201.5f603e","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1470,"y":680,"wires":[[]]},{"id":"c9ede35e.f0057","type":"subflow:12a08fdf.f48f9","z":"c56a903c.b3a7","name":"Recv Man TimerSonne","env":[{"name":"Elementname","value":"TimerSonne","type":"str"}],"x":1260,"y":620,"wires":[["1ab8bea5.c3b461"],["b3bafc09.e9624"],["adcc9799.383698"],["d50bd597.265648"],[]]},{"id":"170cae18.be2082","type":"link in","z":"c56a903c.b3a7","name":"","links":["610ddacf.144b24"],"x":1095,"y":620,"wires":[["c9ede35e.f0057","3bfaa0c0.547c8"]]},{"id":"5b1cbee7.21099","type":"link out","z":"c56a903c.b3a7","name":"","links":["f0eb7e52.73d21"],"x":1795,"y":640,"wires":[]},{"id":"3bfaa0c0.547c8","type":"subflow:532b8d3b.88f794","z":"c56a903c.b3a7","name":"","env":[{"name":"Elementname","value":"TimerSonne","type":"str"}],"x":1280,"y":740,"wires":[["a509db8c.3ae178"],["9bef580a.9ce978"]]},{"id":"a509db8c.3ae178","type":"ui_text_input","z":"c56a903c.b3a7","name":"","label":"TimeOn","tooltip":"","group":"17bec201.5f603e","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"TimeOn","x":1480,"y":720,"wires":[["26c20e2d.7c75c2"]]},{"id":"9bef580a.9ce978","type":"ui_text_input","z":"c56a903c.b3a7","name":"","label":"TimeOff","tooltip":"","group":"17bec201.5f603e","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"TimeOff","x":1480,"y":760,"wires":[["26c20e2d.7c75c2"]]},{"id":"ad6cb851.c35df8","type":"function","z":"c56a903c.b3a7","name":"Req ManElements","func":"var msgArray = [\n    {\n        \"payload\":{\n            \"element\":msg.payload,\n            \"data\":\"Manual\",\n            \"type\":1\n        }\n    },{\n        \"payload\":{\n            \"element\":msg.payload,\n            \"data\":\"AutoValue\",\n            \"type\":1\n        }\n    },{\n        \"payload\":{\n            \"element\":msg.payload,\n            \"data\":\"ManualValue\",\n            \"type\":1\n        }\n    },{\n        \"payload\":{\n            \"element\":msg.payload,\n            \"data\":\"Value\",\n            \"type\":1\n        }\n    }\n];\n\nreturn [ msgArray ];","outputs":1,"noerr":0,"x":850,"y":60,"wires":[["703a7481.ff1f6c"]]},{"id":"649ec107.72a3b","type":"debug","z":"c56a903c.b3a7","name":"In","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":370,"y":260,"wires":[]},{"id":"c209b36b.195d2","type":"function","z":"c56a903c.b3a7","name":"","func":"if(msg.from > 0){\n    return null;\n}else{\n    outMsg = {\n        \"payload\":{\n            \"element\":\"MainPower\",\n            \"data\":msg.topic,\n            \"value\":msg.payload,\n        }\n    }\n    return outMsg;\n}","outputs":1,"noerr":0,"x":1670,"y":380,"wires":[["c5158f14.5cb75"]]},{"id":"fc5c1780.1ab428","type":"function","z":"c56a903c.b3a7","name":"PushValue (Payload)","func":"var publishMsg = [{\n//Nachrichtentyp\n  \"msgId\":20,\n  \"msgName\":\"push\",\n\n//Externer Datenpunkt\n  \"dstElement\":msg.payload.element,\n  \"dstData\":msg.payload.data,\n  \"value\":msg.payload.value\n}]\nvar msgString = JSON.stringify(publishMsg)\nvar msgTelegram = {\"payload\":\n    {\n        \"dest\":0,\n        \"from\":global.get('MeshID'),\n        \"type\":8,\n        \"msg\":msgString\n    }\n};\n\n\nreturn msgTelegram;","outputs":1,"noerr":0,"x":1140,"y":180,"wires":[["6bb58f2c.851a","4cb5776f.a34878"]]},{"id":"26c20e2d.7c75c2","type":"function","z":"c56a903c.b3a7","name":"","func":"if(msg.from > 0){\n    return null;\n}else{\n    outMsg = {\n        \"payload\":{\n            \"element\":\"TimerSonne\",\n            \"data\":msg.topic,\n            \"value\":msg.payload,\n        }\n    }\n    return outMsg;\n}","outputs":1,"noerr":0,"x":1670,"y":640,"wires":[["5b1cbee7.21099"]]},{"id":"913b53a8.6a6c","type":"function","z":"c56a903c.b3a7","name":"Loop Elements","func":"var iCounter\nvar msgMan = null;\nvar msgOnOff = null;\nvar msgPulse = null;\nvar inData;\n\nif (context.get(\"counter\") === undefined) {\n    context.set(\"counter\", 0);\n}\niCounter = context.get(\"counter\");\n\nif(iCounter >= msg.payload.length || iCounter < 0){\n    context.set(\"counter\", 0);\n    return null;\n}\n\ninData = msg.payload[iCounter];\nswitch(inData.type){\n    case \"CLOCKSPAN\":\n        msgMan = {\"payload\":inData.name};\n        msgOnOff = {\"payload\":inData.name};\n        break;\n    case \"CLOCKPULSE\":\n        msgMan = {\"payload\":inData.name};\n        msgPulse = {\"payload\":inData.name};\n        break;\n    case \"DI\":\n        msgMan = {\"payload\":inData.name};\n        break;\n    case \"DO\":\n        msgMan = {\"payload\":inData.name};\n        break;\n}\n\niCounter += 1;\ncontext.set(\"counter\", iCounter);\n\nreturn [msgMan, msgOnOff, msgPulse];","outputs":3,"noerr":0,"x":640,"y":100,"wires":[["ad6cb851.c35df8"],["aef20d3d.bf5ee"],["60aafef7.acefb"]],"outputLabels":["Manual","OnOff","Pulse"]},{"id":"61e4bea5.e710c","type":"inject","z":"c56a903c.b3a7","name":"Request ALL","topic":"","payload":"[{\"name\":\"MainPower\",\"type\":\"CLOCKSPAN\"},{\"name\":\"TimerSonne\",\"type\":\"CLOCKSPAN\"},{\"name\":\"Futter1\",\"type\":\"CLOCKPULSE\"},{\"name\":\"Futter2\",\"type\":\"CLOCKPULSE\"},{\"name\":\"Futter3\",\"type\":\"CLOCKPULSE\"},{\"name\":\"FutterLink\",\"type\":\"OR\"},{\"name\":\"BioFilter\",\"type\":\"DO\"},{\"name\":\"Futter\",\"type\":\"DO\"},{\"name\":\"Filter\",\"type\":\"DO\"},{\"name\":\"PowerSupp\",\"type\":\"DO\"},{\"name\":\"Luftpumpe\",\"type\":\"DO\"},{\"name\":\"Heizstab\",\"type\":\"DO\"},{\"name\":\"Sonne\",\"type\":\"DO\"},{\"name\":\"LictZucht\",\"type\":\"DO\"}]","payloadType":"json","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":460,"y":100,"wires":[["913b53a8.6a6c"]]},{"id":"aef20d3d.bf5ee","type":"function","z":"c56a903c.b3a7","name":"Req OnOffElements","func":"var msgArray = [\n    {\n        \"payload\":{\n            \"element\":msg.payload,\n            \"data\":\"TimeOn\",\n            \"type\":2\n        }\n    },{\n        \"payload\":{\n            \"element\":msg.payload,\n            \"data\":\"TimeOff\",\n            \"type\":2\n        }\n    }\n];\n\nreturn [ msgArray ];","outputs":1,"noerr":0,"x":860,"y":100,"wires":[["703a7481.ff1f6c"]]},{"id":"60aafef7.acefb","type":"function","z":"c56a903c.b3a7","name":"Req PulseElements","func":"var msgArray = [\n    {\n        \"payload\":{\n            \"element\":msg.payload,\n            \"data\":\"Time\",\n            \"type\":2\n        }\n    },{\n        \"payload\":{\n            \"element\":msg.payload,\n            \"data\":\"Pulse\",\n            \"type\":2\n        }\n    }\n];\n\nreturn [ msgArray ];","outputs":1,"noerr":0,"x":850,"y":140,"wires":[["703a7481.ff1f6c"]]},{"id":"522ad2be.d6b61c","type":"function","z":"c56a903c.b3a7","name":"","func":"if(msg.from > 0){\n    return null;\n}else{\n    outMsg = {\n        \"payload\":{\n            \"element\":\"BioFilter\",\n            \"data\":msg.topic,\n            \"value\":msg.payload,\n        }\n    }\n    return outMsg;\n}","outputs":1,"noerr":0,"x":730,"y":360,"wires":[["548b922b.821c3c"]]},{"id":"548b922b.821c3c","type":"link out","z":"c56a903c.b3a7","name":"","links":["f0eb7e52.73d21"],"x":855,"y":360,"wires":[]},{"id":"2be3665b.5867aa","type":"function","z":"c56a903c.b3a7","name":"","func":"if(msg.from > 0){\n    return null;\n}else{\n    outMsg = {\n        \"payload\":{\n            \"element\":\"Futter\",\n            \"data\":msg.topic,\n            \"value\":msg.payload,\n        }\n    }\n    return outMsg;\n}","outputs":1,"noerr":0,"x":1650,"y":1660,"wires":[["17cce2d2.30854d"]]},{"id":"17cce2d2.30854d","type":"link out","z":"c56a903c.b3a7","name":"","links":["f0eb7e52.73d21"],"x":1775,"y":1660,"wires":[]},{"id":"29b0ec2c.153c74","type":"function","z":"c56a903c.b3a7","name":"","func":"if(msg.from > 0){\n    return null;\n}else{\n    outMsg = {\n        \"payload\":{\n            \"element\":\"Filter\",\n            \"data\":msg.topic,\n            \"value\":msg.payload,\n        }\n    }\n    return outMsg;\n}","outputs":1,"noerr":0,"x":730,"y":680,"wires":[["f2f2063.97342f8"]]},{"id":"f2f2063.97342f8","type":"link out","z":"c56a903c.b3a7","name":"","links":["f0eb7e52.73d21"],"x":855,"y":680,"wires":[]},{"id":"9acf3d79.06f5b","type":"function","z":"c56a903c.b3a7","name":"","func":"if(msg.from > 0){\n    return null;\n}else{\n    outMsg = {\n        \"payload\":{\n            \"element\":\"PowerSupp\",\n            \"data\":msg.topic,\n            \"value\":msg.payload,\n        }\n    }\n    return outMsg;\n}","outputs":1,"noerr":0,"x":730,"y":860,"wires":[["df00d095.e20de"]]},{"id":"df00d095.e20de","type":"link out","z":"c56a903c.b3a7","name":"","links":["f0eb7e52.73d21"],"x":855,"y":860,"wires":[]},{"id":"e8fdbf5a.7be3","type":"function","z":"c56a903c.b3a7","name":"","func":"if(msg.from > 0){\n    return null;\n}else{\n    outMsg = {\n        \"payload\":{\n            \"element\":\"Luftpumpe\",\n            \"data\":msg.topic,\n            \"value\":msg.payload,\n        }\n    }\n    return outMsg;\n}","outputs":1,"noerr":0,"x":730,"y":1040,"wires":[["3ce57616.f31eba"]]},{"id":"3ce57616.f31eba","type":"link out","z":"c56a903c.b3a7","name":"","links":["f0eb7e52.73d21"],"x":855,"y":1040,"wires":[]},{"id":"c87fec39.061ef","type":"function","z":"c56a903c.b3a7","name":"","func":"if(msg.from > 0){\n    return null;\n}else{\n    outMsg = {\n        \"payload\":{\n            \"element\":\"Heizstab\",\n            \"data\":msg.topic,\n            \"value\":msg.payload,\n        }\n    }\n    return outMsg;\n}","outputs":1,"noerr":0,"x":730,"y":1220,"wires":[["988684d8.a04288"]]},{"id":"988684d8.a04288","type":"link out","z":"c56a903c.b3a7","name":"","links":["f0eb7e52.73d21"],"x":855,"y":1220,"wires":[]},{"id":"f199d542.cf9218","type":"function","z":"c56a903c.b3a7","name":"","func":"if(msg.from > 0){\n    return null;\n}else{\n    outMsg = {\n        \"payload\":{\n            \"element\":\"Sonne\",\n            \"data\":msg.topic,\n            \"value\":msg.payload,\n        }\n    }\n    return outMsg;\n}","outputs":1,"noerr":0,"x":730,"y":1400,"wires":[["348a24bb.f5f8fc"]]},{"id":"348a24bb.f5f8fc","type":"link out","z":"c56a903c.b3a7","name":"","links":["f0eb7e52.73d21"],"x":855,"y":1400,"wires":[]},{"id":"a56a1cc1.4db55","type":"function","z":"c56a903c.b3a7","name":"","func":"if(msg.from > 0){\n    return null;\n}else{\n    outMsg = {\n        \"payload\":{\n            \"element\":\"LictZucht\",\n            \"data\":msg.topic,\n            \"value\":msg.payload,\n        }\n    }\n    return outMsg;\n}","outputs":1,"noerr":0,"x":730,"y":1580,"wires":[["4c2195bc.37a89c"]]},{"id":"4c2195bc.37a89c","type":"link out","z":"c56a903c.b3a7","name":"","links":["f0eb7e52.73d21"],"x":855,"y":1580,"wires":[]},{"id":"da91fe69.f4171","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"Manual","tooltip":"","group":"fc02b520.990778","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Manual","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1480,"y":880,"wires":[["57336394.15118c"]]},{"id":"e69c743c.792258","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"ManualValue","tooltip":"","group":"fc02b520.990778","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ManualValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1490,"y":960,"wires":[["57336394.15118c"]]},{"id":"e79ecbb7.3f20e8","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"AutoValue","tooltip":"","group":"fc02b520.990778","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"AutoValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1480,"y":920,"wires":[[]]},{"id":"2f2ea08.ddb776","type":"ui_switch","z":"c56a903c.b3a7","name":"Value","label":"Value","tooltip":"","group":"fc02b520.990778","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1470,"y":1000,"wires":[[]]},{"id":"78a3c53c.2688ac","type":"subflow:12a08fdf.f48f9","z":"c56a903c.b3a7","name":"Recv Man Futter1","env":[{"name":"Elementname","value":"Futter1","type":"str"}],"x":1250,"y":940,"wires":[["da91fe69.f4171"],["e79ecbb7.3f20e8"],["e69c743c.792258"],["2f2ea08.ddb776"],[]]},{"id":"f3bf6b13.e932c8","type":"link in","z":"c56a903c.b3a7","name":"","links":["610ddacf.144b24"],"x":1095,"y":940,"wires":[["78a3c53c.2688ac","f454898a.949878"]]},{"id":"3e138f6a.e0b65","type":"link out","z":"c56a903c.b3a7","name":"","links":["f0eb7e52.73d21"],"x":1795,"y":960,"wires":[]},{"id":"f8a68ab3.578128","type":"ui_text_input","z":"c56a903c.b3a7","name":"","label":"Time","tooltip":"","group":"fc02b520.990778","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Time","x":1470,"y":1040,"wires":[["57336394.15118c"]]},{"id":"66238403.cad45c","type":"ui_text_input","z":"c56a903c.b3a7","name":"","label":"Pulse","tooltip":"","group":"fc02b520.990778","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Pulse","x":1470,"y":1080,"wires":[["57336394.15118c"]]},{"id":"57336394.15118c","type":"function","z":"c56a903c.b3a7","name":"","func":"if(msg.from > 0){\n    return null;\n}else{\n    outMsg = {\n        \"payload\":{\n            \"element\":\"Futter1\",\n            \"data\":msg.topic,\n            \"value\":msg.payload,\n        }\n    }\n    return outMsg;\n}","outputs":1,"noerr":0,"x":1670,"y":960,"wires":[["3e138f6a.e0b65"]]},{"id":"f454898a.949878","type":"subflow:8bde270b.d14148","z":"c56a903c.b3a7","name":"","env":[{"name":"Elementname","value":"Futter1","type":"str"}],"x":1280,"y":1060,"wires":[["f8a68ab3.578128"],["66238403.cad45c"]]},{"id":"802a14ee.644a88","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"Manual","tooltip":"","group":"56a6e6d6.8701e8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Manual","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1480,"y":1140,"wires":[["d8edce3f.3e1dd"]]},{"id":"88d2cf72.50414","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"ManualValue","tooltip":"","group":"56a6e6d6.8701e8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ManualValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1490,"y":1220,"wires":[["d8edce3f.3e1dd"]]},{"id":"7d6246eb.b7d008","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"AutoValue","tooltip":"","group":"56a6e6d6.8701e8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"AutoValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1480,"y":1180,"wires":[[]]},{"id":"1ed4ffd7.a9441","type":"ui_switch","z":"c56a903c.b3a7","name":"Value","label":"Value","tooltip":"","group":"56a6e6d6.8701e8","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1470,"y":1260,"wires":[[]]},{"id":"1efbbafb.7b6875","type":"subflow:12a08fdf.f48f9","z":"c56a903c.b3a7","name":"Recv Man Futter2","env":[{"name":"Elementname","value":"Futter2","type":"str"}],"x":1250,"y":1200,"wires":[["802a14ee.644a88"],["7d6246eb.b7d008"],["88d2cf72.50414"],["1ed4ffd7.a9441"],[]]},{"id":"f029c3e0.1ce3f","type":"link in","z":"c56a903c.b3a7","name":"","links":["610ddacf.144b24"],"x":1095,"y":1200,"wires":[["1efbbafb.7b6875","76907ad4.757fd4"]]},{"id":"67b29113.598c2","type":"link out","z":"c56a903c.b3a7","name":"","links":["f0eb7e52.73d21"],"x":1795,"y":1220,"wires":[]},{"id":"ed9b2f.ec1674d","type":"ui_text_input","z":"c56a903c.b3a7","name":"","label":"Time","tooltip":"","group":"56a6e6d6.8701e8","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Time","x":1470,"y":1300,"wires":[["d8edce3f.3e1dd"]]},{"id":"c78bb341.e189f","type":"ui_text_input","z":"c56a903c.b3a7","name":"","label":"Pulse","tooltip":"","group":"56a6e6d6.8701e8","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Pulse","x":1470,"y":1340,"wires":[["d8edce3f.3e1dd"]]},{"id":"d8edce3f.3e1dd","type":"function","z":"c56a903c.b3a7","name":"","func":"if(msg.from > 0){\n    return null;\n}else{\n    outMsg = {\n        \"payload\":{\n            \"element\":\"Futter2\",\n            \"data\":msg.topic,\n            \"value\":msg.payload,\n        }\n    }\n    return outMsg;\n}","outputs":1,"noerr":0,"x":1670,"y":1220,"wires":[["67b29113.598c2"]]},{"id":"76907ad4.757fd4","type":"subflow:8bde270b.d14148","z":"c56a903c.b3a7","name":"","env":[{"name":"Elementname","value":"Futter2","type":"str"}],"x":1280,"y":1320,"wires":[["ed9b2f.ec1674d"],["c78bb341.e189f"]]},{"id":"ec2a1284.c3b88","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"Manual","tooltip":"","group":"e5ee7e21.1d52a","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Manual","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1480,"y":1400,"wires":[["184b5319.00766d"]]},{"id":"b0885254.b4667","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"ManualValue","tooltip":"","group":"e5ee7e21.1d52a","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ManualValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1490,"y":1480,"wires":[["184b5319.00766d"]]},{"id":"83ddc9bf.7b7058","type":"ui_switch","z":"c56a903c.b3a7","name":"","label":"AutoValue","tooltip":"","group":"e5ee7e21.1d52a","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"AutoValue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1480,"y":1440,"wires":[[]]},{"id":"b65ff30a.5e82e","type":"ui_switch","z":"c56a903c.b3a7","name":"Value","label":"Value","tooltip":"","group":"e5ee7e21.1d52a","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1470,"y":1520,"wires":[[]]},{"id":"1856de5c.91a522","type":"subflow:12a08fdf.f48f9","z":"c56a903c.b3a7","name":"Recv Man Futter3","env":[{"name":"Elementname","value":"Futter3","type":"str"}],"x":1250,"y":1460,"wires":[["ec2a1284.c3b88"],["83ddc9bf.7b7058"],["b0885254.b4667"],["b65ff30a.5e82e"],[]]},{"id":"b4377a34.c7c948","type":"link in","z":"c56a903c.b3a7","name":"","links":["610ddacf.144b24"],"x":1095,"y":1460,"wires":[["1856de5c.91a522","8bfa4783.0bee88"]]},{"id":"4043ffd9.03d75","type":"link out","z":"c56a903c.b3a7","name":"","links":["f0eb7e52.73d21"],"x":1795,"y":1480,"wires":[]},{"id":"c6bdbc65.cbc98","type":"ui_text_input","z":"c56a903c.b3a7","name":"","label":"Time","tooltip":"","group":"e5ee7e21.1d52a","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Time","x":1470,"y":1560,"wires":[["184b5319.00766d"]]},{"id":"52fac5a8.b68fec","type":"ui_text_input","z":"c56a903c.b3a7","name":"","label":"Pulse","tooltip":"","group":"e5ee7e21.1d52a","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Pulse","x":1470,"y":1600,"wires":[["184b5319.00766d"]]},{"id":"184b5319.00766d","type":"function","z":"c56a903c.b3a7","name":"","func":"if(msg.from > 0){\n    return null;\n}else{\n    outMsg = {\n        \"payload\":{\n            \"element\":\"Futter3\",\n            \"data\":msg.topic,\n            \"value\":msg.payload,\n        }\n    }\n    return outMsg;\n}","outputs":1,"noerr":0,"x":1670,"y":1480,"wires":[["4043ffd9.03d75"]]},{"id":"8bfa4783.0bee88","type":"subflow:8bde270b.d14148","z":"c56a903c.b3a7","name":"","env":[{"name":"Elementname","value":"Futter3","type":"str"}],"x":1280,"y":1580,"wires":[["c6bdbc65.cbc98"],["52fac5a8.b68fec"]]}]