Code/NodeRed_Flows/Flow_SQLiteChartTest.json
[{"id":"92fe69cf.134398","type":"tab","label":"SQLite Chart Test","disabled":false,"info":""},{"id":"372d1f9.d997ee","type":"function","z":"92fe69cf.134398","name":"SQL","func":"// This will handle any device and any attribute as long as it is in the DB\nvar p_30d  = 1000*60*60*24*30 ; //30 Days\nvar p_7d  = 1000*60*60*24*7 ; //7 Days\nvar p_1d   =  1000*60*60*24 ; // 1 Day\nvar d = new Date();\nvar current = d.getTime();\nvar today0h = d.setHours(0,0,0,0);\nvar day = d.getDay();\nvar monday0h = today0h - (day + (day === 0 ? -6:1)) * p_1d;\nvar fromdate = 0;\nvar enddate = 0;\nvar sql = [];\nvar sourcelist = [];\nvar aggrlist = [];\nvar title = \"\";\nvar i;\nvar parts;\n\n\n// Get the period and the list of data sources \n// also set some default values if one or the other does not exist yet\nsourcelist = context.get(\"sourcelist\");\nif (sourcelist===undefined) { // if running for the first time\n    sourcelist = [];\n}\naggrlist = context.get(\"aggrlist\");\nif (aggrlist===undefined) { // if running for the first time\n    aggrlist = [];\n}\nfromdate = context.get(\"fromdate\");\nif (fromdate===undefined) {\n    // set the period to a default if it is not selected yet\n    fromdate = current-p_1d;\n}\nenddate = context.get(\"enddate\");\nif (enddate===undefined) {\n    // set the period to a default if it is not selected yet\n    enddate = current;\n}\n\nswitch(msg.topic) {\n    case \"period\":\n        switch(msg.payload) {\n            case \"today\":\n                fromdate = today0h;\n                enddate = today0h+p_1d;\n                break;\n            case \"yesterday\":\n                fromdate = today0h-p_1d;\n                enddate = today0h;\n                break;\n            case \"thisweek\":\n                fromdate = monday0h;\n                enddate = monday0h+p_7d;\n                break;\n            case \"lastweek\":\n                fromdate = monday0h-p_7d;\n                enddate = monday0h;\n                break;\n            case \"last24h\":\n                fromdate = current-p_1d;\n                enddate = current;\n                break;\n            case \"last7d\":\n                fromdate = current-p_7d;\n                enddate = current;\n                break;\n            case \"last30d\":\n                fromdate = current-p_30d;\n                enddate = current;\n                break;\n        }\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n    case \"datasource\":\n        if (msg.payload===\"delete\") {\n            // remove all previous data sources\n            sourcelist = [];\n        } else {\n            sourcelist = context.get(\"sourcelist\");\n            if (sourcelist===undefined) { // if running for the first time\n                sourcelist = [];\n            }\n            sourcelist = msg.payload;\n        }\n        context.set(\"sourcelist\",sourcelist);\n        break;\n    case \"aggrsource\":\n        if (msg.payload===\"delete\") {\n            // remove all previous data sources\n            aggrlist = [];\n        } else {\n            aggrlist = context.get(\"aggrlist\");\n            if (aggrlist===undefined) { // if running for the first time\n                aggrlist = [];\n            }\n            aggrlist = msg.payload;\n        }\n        context.set(\"aggrlist\",aggrlist);\n        break;\n    case \"minus1w\":\n        fromdate = fromdate-p_7d;\n        enddate = enddate-p_7d;\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n    case \"plus1w\":\n        fromdate = fromdate+p_7d;\n        enddate = enddate+p_7d;\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n    case \"minus1d\":\n        fromdate = fromdate-p_1d;\n        enddate = enddate-p_1d;\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n    case \"plus1d\":\n        fromdate = fromdate+p_1d;\n        enddate = enddate+p_1d;\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n}\n\n\n// Regenerate the SQL statements\n// Run through the data source list an generate the SQL statements\nsql = [];\nif (sourcelist.length>0) {\n    for (i = 0; i < sourcelist.length; i++) {\n        parts = sourcelist[i].split(\"/\");\n        sql.push({ topic: \"SELECT * FROM sensor_data WHERE device='\"+parts[0]+\"' AND sensor='\"+parts[1]+\"' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n    }\n} \nif (aggrlist.length>0) {\n    node.error(\"Länge:\"+aggrlist.length);\n    for (i = 0; i < aggrlist.length; i++) {\n        node.error(\"Element[\"+i+\"]:\"+aggrlist[i]);\n        parts = aggrlist[i].split(\"/\");\n        sql.push({ topic: \"SELECT * FROM sensor_aggr WHERE device='\"+parts[0]+\"' AND sensor='\"+parts[1]+\"' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n    }\n} \nif (sql.length===0) {    \n    // Dummy select that returns nothing to clear the chart\n    sql.push({ topic: \"SELECT * FROM sensor_aggr\" });\n}\n\n// set the completed flag for the join node later\nsql[sql.length-1].complete=true;\n// pass along the email flag to redirect the flow later\nif (msg.topic===\"email\") {\n    sql[sql.length-1].email=true;\n}\n\n// Generate report title\nif (sourcelist.length===0 && aggrlist.length===0) {\n    title = \"No data source\";\n} else {\n    if (sourcelist.length!==0) {\n        title = title + sourcelist.toString()+ \", \";\n    }\n    if (aggrlist.length!==0) {\n        title = title + aggrlist.toString()+ \", \";\n    }\n    title = title.substring(0,title.length-2);\n    title = title + \" | \";\n\n    d = new Date();\n    d.setTime(fromdate);\n    var yyyy = d.getFullYear();\n    var mm = d.getMonth() < 9 ? \"0\" + (d.getMonth() + 1) : (d.getMonth() + 1); // getMonth() is zero-based\n    var dd  = d.getDate() < 10 ? \"0\" + d.getDate() : d.getDate();\n    var hh = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\n    var mmm  = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\n    var ss  = d.getSeconds() < 10 ? \"0\" + d.getSeconds() : d.getSeconds();\n    title = title + dd + \".\" + mm + \".\" + yyyy;\n    d.setTime(enddate);\n    yyyy = d.getFullYear();\n    mm = d.getMonth() < 9 ? \"0\" + (d.getMonth() + 1) : (d.getMonth() + 1); // getMonth() is zero-based\n    dd  = d.getDate() < 10 ? \"0\" + d.getDate() : d.getDate();\n    hh = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\n    mmm  = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\n    ss  = d.getSeconds() < 10 ? \"0\" + d.getSeconds() : d.getSeconds();\n    title = title + \" - \" + dd + \".\" + mm + \".\" + yyyy;\n}\nsql[sql.length-1].title=title;\n\nreturn [ sql ];\n\n","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["9562154c.ca86f8","831e05cf.ec9a48"]]},{"id":"9562154c.ca86f8","type":"sqlite","z":"92fe69cf.134398","mydb":"20e89b3e.722264","sql":"","name":"DB","x":490,"y":300,"wires":[["43833e7f.ace03","831e05cf.ec9a48"]]},{"id":"cb4d9aba.eedca8","type":"ui_chart","z":"92fe69cf.134398","name":"Chart","group":"e6b6a3f6.27b7c","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":"","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":985.6666946411133,"y":339.2499485015869,"wires":[[]]},{"id":"35b246d8.0619ba","type":"function","z":"92fe69cf.134398","name":"Chart Prep","func":"var msg2 = [];\n\nif (msg.payload[0].length>0) {\n    // this is the logic when there are multiple data sets are received\n    for (var i=0; i<msg.payload.length; i++) {\n        var output = [];\n        for (var j=0; j<msg.payload[i].length; j++) {\n            output.push([msg.payload[i][j].epoch, msg.payload[i][j].value]);\n        }\n        msg2.push({ key: msg.payload[i][0].device+\"/\"+msg.payload[i][0].sensor, values : output});\n        //msg2.push({ key: \"test\", values : output});\n    }\n} \n\nmsg.payload=msg2;\n//msg.payload = [ { key: \"Power\", values : output} ];\n//msg.topic = \"Power\";\nreturn msg;","outputs":1,"noerr":0,"x":812.8334121704102,"y":339.5833225250244,"wires":[["cb4d9aba.eedca8"]]},{"id":"68701f2d.b7084","type":"inject","z":"92fe69cf.134398","name":"Reset chart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":510.74999237060547,"y":397.00000953674316,"wires":[["148b2e93.7e27f1"]]},{"id":"148b2e93.7e27f1","type":"function","z":"92fe69cf.134398","name":"Empty payload","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":758.6666641235352,"y":396.33332347869873,"wires":[["cb4d9aba.eedca8"]]},{"id":"43833e7f.ace03","type":"join","z":"92fe69cf.134398","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":623,"y":300,"wires":[["ae51757b.0217b8","35b246d8.0619ba"]]},{"id":"a0c75bd2.d81078","type":"ui_dropdown","z":"92fe69cf.134398","name":"Period","label":"","group":"e6b6a3f6.27b7c","order":4,"width":"4","height":"1","passthru":false,"options":[{"label":"Today","value":"today","type":"str"},{"label":"Yesterday","value":"yesterday","type":"str"},{"label":"This week","value":"thisweek","type":"str"},{"label":"Last week","value":"lastweek","type":"str"},{"label":"Last 24 hours","value":"last24h","type":"str"},{"label":"Last 7 days","value":"last7d","type":"str"},{"label":"Last 30 days","value":"last30d","type":"str"}],"payload":"","topic":"period","x":499.25,"y":155.75,"wires":[["372d1f9.d997ee","831e05cf.ec9a48"]]},{"id":"eae83280.c345","type":"inject","z":"92fe69cf.134398","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":311.25,"y":95.75,"wires":[["a0c75bd2.d81078","2c33c954.fb1d56"]]},{"id":"1fe428ac.76e577","type":"ui_button","z":"92fe69cf.134398","name":"","group":"e6b6a3f6.27b7c","order":5,"width":"2","height":"1","label":"-1W","color":"","bgcolor":"","icon":"chevron_left","payload":"","payloadType":"str","topic":"minus1w","x":81.25,"y":88.75,"wires":[["3f3a8140.bc7dee","372d1f9.d997ee"]]},{"id":"511e3d48.d39d84","type":"ui_button","z":"92fe69cf.134398","name":"","group":"e6b6a3f6.27b7c","order":6,"width":"2","height":"1","label":"-1D","color":"","bgcolor":"","icon":"chevron_left","payload":"","payloadType":"str","topic":"minus1d","x":79.25,"y":125.75,"wires":[["3f3a8140.bc7dee","372d1f9.d997ee"]]},{"id":"19ddaeaf.355a91","type":"ui_button","z":"92fe69cf.134398","name":"","group":"e6b6a3f6.27b7c","order":8,"width":"2","height":"1","label":"+1W","color":"","bgcolor":"","icon":"chevron_right","payload":"","payloadType":"str","topic":"plus1w","x":82.25,"y":163.75,"wires":[["3f3a8140.bc7dee","372d1f9.d997ee"]]},{"id":"b91aa3e3.f90e2","type":"ui_button","z":"92fe69cf.134398","name":"","group":"e6b6a3f6.27b7c","order":7,"width":"2","height":"1","label":"+1D","color":"","bgcolor":"","icon":"chevron_right","payload":"","payloadType":"str","topic":"plus1d","x":80.25,"y":200.75,"wires":[["3f3a8140.bc7dee","372d1f9.d997ee"]]},{"id":"3f3a8140.bc7dee","type":"change","z":"92fe69cf.134398","name":"Reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":309.25,"y":155.75,"wires":[["a0c75bd2.d81078"]]},{"id":"2c33c954.fb1d56","type":"ui_dropdown","z":"92fe69cf.134398","name":"Aggregate source","label":"","tooltip":"","place":"","group":"e6b6a3f6.27b7c","order":2,"width":"5","height":"1","passthru":false,"multiple":true,"options":[{"label":"[Remove all]","value":"delete","type":"str"},{"label":"Wohnzimmer Temp","value":"Wohnzimmer/Temperatur","type":"str"},{"label":"Wohnzimmer Luftfeuchte","value":"Wohnzimmer/Luftfeuchte","type":"str"},{"label":"Wohnzimmer Licht","value":"Wohnzimmer/Licht","type":"str"}],"payload":"","topic":"aggrsource","x":550,"y":60,"wires":[["372d1f9.d997ee","831e05cf.ec9a48"]]},{"id":"ae51757b.0217b8","type":"change","z":"92fe69cf.134398","name":"Title","rules":[{"t":"set","p":"payload","pt":"msg","to":"title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":829.5000152587891,"y":252.00000953674316,"wires":[["c4e0c28d.3f9eb"]]},{"id":"c4e0c28d.3f9eb","type":"ui_text","z":"92fe69cf.134398","group":"e6b6a3f6.27b7c","order":1,"width":"0","height":"0","name":"Chart title","label":"","format":"{{msg.payload}}","layout":"row-center","x":981.5000152587891,"y":252.00000953674316,"wires":[]},{"id":"831e05cf.ec9a48","type":"debug","z":"92fe69cf.134398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":500,"wires":[]},{"id":"c5fbd84c.3291e8","type":"inject","z":"92fe69cf.134398","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":540,"wires":[["64ed66f8.2c3288"]]},{"id":"74a8a145.4ad53","type":"function","z":"92fe69cf.134398","name":"SQL","func":"//INSERT INTO sensor_aggr VALUES (epoch [int], device [text], sensor [text], value [real])\nreturn { topic: \"INSERT INTO sensor_aggr VALUES (\"+msg.payload.timestape+\", '\"+msg.payload.device+\"', '\"+msg.payload.sensor+\"', \"+msg.payload.value+\")\" };\n\n","outputs":1,"noerr":0,"x":790,"y":580,"wires":[["50e2c8e.f010438","831e05cf.ec9a48"]]},{"id":"50e2c8e.f010438","type":"sqlite","z":"92fe69cf.134398","mydb":"20e89b3e.722264","sql":"","name":"DB","x":930,"y":580,"wires":[["831e05cf.ec9a48"]]},{"id":"fb218a8c.82a2a8","type":"random","z":"92fe69cf.134398","name":"Random Value 1-10","low":"1","high":"10","inte":"false","property":"payload.value","x":590,"y":540,"wires":[["74a8a145.4ad53","831e05cf.ec9a48"]]},{"id":"64ed66f8.2c3288","type":"change","z":"92fe69cf.134398","name":"Wohnzimmer-Temp","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.timestape","tot":"msg"},{"t":"set","p":"payload.device","pt":"msg","to":"Wohnzimmer","tot":"str"},{"t":"set","p":"payload.sensor","pt":"msg","to":"Temperatur","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":540,"wires":[["fb218a8c.82a2a8"]]},{"id":"893682be.0f1f5","type":"inject","z":"92fe69cf.134398","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":600,"wires":[["c0a089aa.8b1a58"]]},{"id":"c0a089aa.8b1a58","type":"change","z":"92fe69cf.134398","name":"Wohnzimmer-Temp","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.timestape","tot":"msg"},{"t":"set","p":"payload.device","pt":"msg","to":"Wohnzimmer","tot":"str"},{"t":"set","p":"payload.sensor","pt":"msg","to":"Luftfeuchte","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":600,"wires":[["754565e2.8317bc"]]},{"id":"93498a4e.610d28","type":"inject","z":"92fe69cf.134398","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":660,"wires":[["16f083e2.3d212c"]]},{"id":"16f083e2.3d212c","type":"change","z":"92fe69cf.134398","name":"Wohnzimmer-Temp","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.timestape","tot":"msg"},{"t":"set","p":"payload.device","pt":"msg","to":"Wohnzimmer","tot":"str"},{"t":"set","p":"payload.sensor","pt":"msg","to":"Licht","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":660,"wires":[["18c1acf7.d034b3"]]},{"id":"754565e2.8317bc","type":"random","z":"92fe69cf.134398","name":"Random Value 1-100","low":"1","high":"100","inte":"false","property":"payload.value","x":600,"y":600,"wires":[["74a8a145.4ad53"]]},{"id":"18c1acf7.d034b3","type":"random","z":"92fe69cf.134398","name":"Random Value 1-10","low":"1","high":"50","inte":"false","property":"payload.value","x":590,"y":660,"wires":[["74a8a145.4ad53"]]},{"id":"20e89b3e.722264","type":"sqlitedb","z":"","db":"/home/pi/sqlite/nodered.db","mode":"RWC"},{"id":"e6b6a3f6.27b7c","type":"ui_group","z":"","name":"Filters","tab":"","order":2,"disp":true,"width":"24","collapse":false}]