Code/NodeRed_Flows/Node-RED_20190318.flow
[{"id":"2c16bd47.e189f2","type":"tab","label":"Get KlimaData","disabled":false,"info":""},{"id":"f14055f.5152fa8","type":"tab","label":"UI KlimaData","disabled":false,"info":""},{"id":"961c0a0e.e81688","type":"tab","label":"Aqua - TimeData","disabled":false,"info":"Ermittlen der Jahreszeitabhängigen Klima und Futterdaten"},{"id":"3780e74b.67ffb8","type":"MySQLdatabase","z":"","host":"192.168.23.15","port":"3306","db":"aquarium","tz":""},{"id":"71982749.399d18","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"270e4484.d3a9ec","type":"ui_group","z":"","name":"Default","tab":"71982749.399d18","disp":true,"width":"6","collapse":false},{"id":"c4c44d09.626f5","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e0941b90.73bd48","type":"websocket-client","z":"","path":"ws://192.168.23.21:81","tls":"","wholemsg":"false"},{"id":"1eae749c.606cbb","type":"mysql","z":"2c16bd47.e189f2","mydb":"3780e74b.67ffb8","name":"DB Aquarium","x":910,"y":200,"wires":[["a54389ef.7448a8"]]},{"id":"a54389ef.7448a8","type":"debug","z":"2c16bd47.e189f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":200,"wires":[]},{"id":"64d9b5b.29cdb4c","type":"udp in","z":"2c16bd47.e189f2","name":"Recv Request","iface":"","port":"43112","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":130,"y":200,"wires":[["8ce5d245.9e77c"]]},{"id":"55dabf11.7bba","type":"udp out","z":"2c16bd47.e189f2","name":"Send Request","addr":"192.168.23.22","iface":"","port":"2300","ipv":"udp4","outport":"43112","base64":false,"multicast":"false","x":680,"y":80,"wires":[]},{"id":"6cbaf840.b83fa8","type":"switch","z":"2c16bd47.e189f2","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Request","vt":"str"},{"t":"neq","v":"Request","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":140,"wires":[["55dabf11.7bba"],["bf01c74d.4dc9f8"]]},{"id":"8ce5d245.9e77c","type":"function","z":"2c16bd47.e189f2","name":"ReqHandler","func":"var index;\nvar data;\nif (msg.topic === \"Start\"){\n    index = 0;\n    data = [{\"Tag\":\"TempAquarium\",\"Value\":0},{\"Tag\":\"TempKlima\",\"Value\":0},{\"Tag\":\"SollTemp\",\"Value\":0}];\n}else{\n    index = context.get('index');\n    data = context.get('data');\n    var pLoad = msg.payload.split(\";\");\n    data[index].Value = pLoad[1];\n    index += 1;\n}\nif(index >= data.length){\n    var newMsg = { topic:\"Data\", payload: data };\n    index = 0;\n}else{\n    var newMsg = { topic:\"Request\", payload: \"Get;\"+data[index].Tag };\n}\ncontext.set('index',index);\ncontext.set('data',data);\nreturn newMsg;","outputs":1,"noerr":0,"x":330,"y":140,"wires":[["6cbaf840.b83fa8"]]},{"id":"d507e18f.f89ee","type":"inject","z":"2c16bd47.e189f2","name":"Start","topic":"Start","payload":"0","payloadType":"num","repeat":"60","crontab":"","once":true,"onceDelay":"1","x":150,"y":80,"wires":[["8ce5d245.9e77c"]]},{"id":"bf01c74d.4dc9f8","type":"function","z":"2c16bd47.e189f2","name":"INSERT Trending","func":"var sqlColumn = \"INSERT INTO trending (\";\nvar sqlValue = \") VALUES (\";\nvar index;\n\nfor (index = 0;index < msg.payload.length;index++){\n    if (index > 0){\n        sqlColumn += \", \";\n        sqlValue += \", \";\n    }\n    sqlColumn += msg.payload[index].Tag;\n    sqlValue += msg.payload[index].Value;\n}\n\nmsg.topic = sqlColumn + sqlValue + \")\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":200,"wires":[["1eae749c.606cbb"]]},{"id":"7ba3f2d0.7711fc","type":"ui_chart","z":"f14055f.5152fa8","name":"","group":"270e4484.d3a9ec","order":0,"width":"6","height":"6","label":"chart","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":490,"y":300,"wires":[[]]},{"id":"72719c66.352794","type":"ui_button","z":"f14055f.5152fa8","name":"","group":"270e4484.d3a9ec","order":1,"width":0,"height":0,"passthru":false,"label":"Now","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":110,"y":80,"wires":[["b443a59e.6c4578"]]},{"id":"2cdf584a.ed84c8","type":"function","z":"f14055f.5152fa8","name":"SELECT Trending","func":"var now = new Date();\nvar timeStart = new Date(now.getTime() + 120 * 60 * 1000 + ((msg.payload - 1) * 24 * 60 * 60 *1000)).toISOString().slice(0, 19).replace('T', ' ');\nvar timeEnde = new Date(now.getTime() + 120 * 60 * 1000 + (msg.payload * 24 * 60 * 60 *1000)).toISOString().slice(0, 19).replace('T', ' ');\n\nmsg.topic = \"SELECT * FROM trending WHERE Time > '\" + timeStart + \"' AND Time < '\" + timeEnde + \"'\";\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":220,"wires":[["58bda20c.cdd54c","9c1d6e38.e00cd"]]},{"id":"58bda20c.cdd54c","type":"mysql","z":"f14055f.5152fa8","mydb":"3780e74b.67ffb8","name":"DB Aquarium","x":470,"y":220,"wires":[["ff731716.243bc8","9c1d6e38.e00cd"]]},{"id":"ff731716.243bc8","type":"function","z":"f14055f.5152fa8","name":"Response2Chart","func":"var aData = [];\nvar i,j,anz;\nvar oChart = [];\nvar newMsg;\n\nanz = 0;\nfor (i=0; i<Object.keys(msg.payload[0]).length; i++){\n    if(Object.keys(msg.payload[0])[i] != \"Time\"){\n        anz += 1;\n        var oRecord = [];\n        aData.push({key:Object.keys(msg.payload[0])[i],values:oRecord});\n    }\n}\nfor (i=0; i<msg.payload.length; i++){\n    for (j=0; j<anz; j++){\n        var oRecord = [];\n        oRecord.push(Date.parse(msg.payload[i][\"Time\"]));\n        oRecord.push(msg.payload[i][aData[j].key]);\n        aData[j].values.push(oRecord);\n        if (i==0){\n            oChart.push(aData[j].key);\n        }\n    }\n}\n\nnewMsg = {topic:oChart,payload:aData};\nreturn newMsg;","outputs":1,"noerr":0,"x":290,"y":300,"wires":[["7ba3f2d0.7711fc"]]},{"id":"7e6e7003.14af5","type":"ui_button","z":"f14055f.5152fa8","name":"","group":"270e4484.d3a9ec","order":1,"width":0,"height":0,"passthru":false,"label":"vor 1/2 Tag","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-0.5","payloadType":"num","topic":"","x":130,"y":160,"wires":[["b443a59e.6c4578"]]},{"id":"9c1d6e38.e00cd","type":"debug","z":"f14055f.5152fa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":80,"wires":[]},{"id":"b443a59e.6c4578","type":"ui_numeric","z":"f14055f.5152fa8","name":"","label":"numeric","tooltip":"","group":"270e4484.d3a9ec","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"-20","max":"0","step":"0.1","x":320,"y":80,"wires":[["2cdf584a.ed84c8","9c1d6e38.e00cd"]]},{"id":"e17f18a4.1e3aa8","type":"inject","z":"f14055f.5152fa8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["b443a59e.6c4578"]]},{"id":"5715c923.c10858","type":"inject","z":"f14055f.5152fa8","name":"","topic":"","payload":"-0.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["b443a59e.6c4578"]]},{"id":"676ac819.564fa8","type":"function","z":"961c0a0e.e81688","name":"SELECT * zeitverlauf","func":"msg.topic = \"SELECT * FROM zeitverlauf order by Tag\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":60,"wires":[["f5dcfa08.4799a8"]]},{"id":"f5dcfa08.4799a8","type":"mysql","z":"961c0a0e.e81688","mydb":"3780e74b.67ffb8","name":"DB Aquarium","x":550,"y":60,"wires":[["59c4eef4.e2c14"]]},{"id":"59c4eef4.e2c14","type":"function","z":"961c0a0e.e81688","name":"Find ActData","func":"var newMsg;\n\nvar now = new Date();\nvar start = new Date(now.getFullYear(), 0, 0);\nvar diff = now - start;\nvar oneDay = 1000 * 60 * 60 * 24;\nvar day = Math.floor(diff / oneDay)\nvar data = {\"dayx\":day};\ndata[\"hour\"]=now.getHours() + now.getMinutes()/60 + now.getSeconds()/3600;\n\nvar i,j;\nfor (i=1;i<msg.payload.length;i++){\n    if (msg.payload[i-1][\"Tag\"]<day && msg.payload[i][\"Tag\"]>day){\n        var aTags = Object.keys(msg.payload[i]);\n        var aValS = Object.values(msg.payload[i-1]);\n        var aValE = Object.values(msg.payload[i]);\n        var dayFactor = (day - msg.payload[i-1][\"Tag\"]) / (msg.payload[i][\"Tag\"] - msg.payload[i-1][\"Tag\"]);\n        data[\"dayFactor\"] = dayFactor;\n        data[\"dayS\"] = msg.payload[i-1];\n        data[\"dayE\"] = msg.payload[i];\n        data[\"dayLen\"] = Object.keys(msg.payload[i]).length;\n        for (j=0;j<aTags.length;j++){\n            if (aTags[j] != \"Tag\"){\n                data[aTags[j]] = aValS[j] + (dayFactor * (aValE[j] - aValS[j]));\n            }\n        }\n    }\n}\n\nnewMsg = {topic:'aktDay',payload:data};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["a5ab2e13.be45a","72761107.1aa4a"]]},{"id":"57cc6223.90621c","type":"debug","z":"961c0a0e.e81688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":180,"wires":[]},{"id":"8b3b8dcb.0c1c4","type":"inject","z":"961c0a0e.e81688","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["676ac819.564fa8"]]},{"id":"ec7541fd.77f52","type":"udp out","z":"961c0a0e.e81688","name":"Send Request","addr":"192.168.23.22","iface":"","port":"2300","ipv":"udp4","outport":"43113","base64":false,"multicast":"false","x":680,"y":260,"wires":[]},{"id":"a5ab2e13.be45a","type":"function","z":"961c0a0e.e81688","name":"SetTemp","func":"var sollTemp;\nif (msg.payload.hour < msg.payload.LichtEin || msg.payload.hour > msg.payload.LichtAus){\n    sollTemp = msg.payload.TempMin;\n}else{\n    sollTemp = msg.payload.TempMax;\n}\nvar newMsg = { topic:\"SetTemp\", payload: \"Set;SollTemp;\"+sollTemp };\nreturn newMsg;","outputs":1,"noerr":0,"x":400,"y":260,"wires":[["ec7541fd.77f52","913c35ae.e9e238"]]},{"id":"d5ade745.106d88","type":"udp in","z":"961c0a0e.e81688","name":"Recv Request","iface":"","port":"43113","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":410,"y":220,"wires":[["57cc6223.90621c"]]},{"id":"34fc0eae.cc40d2","type":"websocket out","z":"961c0a0e.e81688","name":"Send FutterDaten","server":"","client":"e0941b90.73bd48","x":690,"y":380,"wires":[]},{"id":"72761107.1aa4a","type":"function","z":"961c0a0e.e81688","name":"SetFutter","func":"var sValue = \"WriteValue:0\";\n//Licht werte\nsValue += \";Licht_WertEin:\" + msg.payload.LichtEin; \nsValue += \";Licht_WertAus:\" + msg.payload.LichtAus; \n\n//Futter werte\n// zähle Füterungen\nvar futterCount = 1;\nif (msg.payload.dayS.Futter1 > 0){ futterCount++; }\nif (msg.payload.dayS.Futter2 > 0){ futterCount++; }\nif (msg.payload.dayS.Futter3 > 0){ futterCount++; }\nif (msg.payload.dayS.Futter4 > 0){ futterCount++; }\nvar futterStep = (msg.payload.LichtAus - msg.payload.LichtEin) / futterCount;\nvar futterAct = msg.payload.LichtEin + futterStep;\n\nif (msg.payload.dayS.Futter1 > 0){\n    var f1Start = Number.parseFloat(futterAct).toFixed(2);\n    var f1Len = msg.payload.dayS.Futter1;\n    futterAct += futterStep;\n} else {\n    var f1Start = 0;\n    var f1Len = 0;\n}    \nif (msg.payload.dayS.Futter2 > 0){\n    var f2Start = Number.parseFloat(futterAct).toFixed(2);\n    var f2Len = msg.payload.dayS.Futter2;\n    futterAct += futterStep;\n} else {\n    var f2Start = 0;\n    var f2Len = 0;\n}    \nif (msg.payload.dayS.Futter3 > 0){\n    var f3Start = Number.parseFloat(futterAct).toFixed(2);\n    var f3Len = msg.payload.dayS.Futter3;\n    futterAct += futterStep;\n} else {\n    var f3Start = 0;\n    var f3Len = 0;\n}    \nif (msg.payload.dayS.Futter4 > 0){\n    var f4Start = Number.parseFloat(futterAct).toFixed(2);\n    var f4Len = msg.payload.dayS.Futter4;\n    futterAct += futterStep;\n} else {\n    var f4Start = 0;\n    var f4Len = 0;\n}    \n\nsValue += \";Futter1_WertStart:\" + f1Start; \nsValue += \";Futter1_Sekunden:\" + f1Len; \nsValue += \";Futter2_WertStart:\" + f2Start; \nsValue += \";Futter2_Sekunden:\" + f2Len; \nsValue += \";Futter3_WertStart:\" + f3Start; \nsValue += \";Futter3_Sekunden:\" + f3Len; \nsValue += \";Futter4_WertStart:\" + f4Start; \nsValue += \";Futter4_Sekunden:\" + f4Len; \n\nvar newMsg = { topic:\"SetFutter\", payload: sValue };\nreturn newMsg;","outputs":1,"noerr":0,"x":400,"y":380,"wires":[["913c35ae.e9e238","34fc0eae.cc40d2"]]},{"id":"9df4a4de.8b2f58","type":"websocket in","z":"961c0a0e.e81688","name":"Recv FutterData","server":"","client":"e0941b90.73bd48","x":420,"y":320,"wires":[["57cc6223.90621c"]]},{"id":"913c35ae.e9e238","type":"debug","z":"961c0a0e.e81688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":320,"wires":[]}]